<template>
  <div class="area__main">
    <div class="area-settings area-settings--info">
      <div class="area-settings__head">
        <div class="area-settings__title" v-html="$t('program-title')"></div>
      </div>
      <div class="area-settings__form">
        <div class="area-settings__item area-settings__item--left">
          <div class="area-settings__box">
            <div class="area-settings__label">{{ $t("program-balance") }}</div>
            <div class="area-settings__value">
              <div class="area-settings__price">
                <small>$</small> {{ customerInfo.partnerAttributes.balance }}
              </div>
            </div>
          </div>
          <div class="area-settings__options">
            <div class="alert-text">
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#alert"
                ></use>
              </svg>
              {{ $t("program-support-msg") }}
            </div>
          </div>
        </div>
        <div class="area-settings__item">
          <div class="area-settings__box">
            <div class="area-settings__label">
              {{ $t("program-all") }}
            </div>
            <div class="area-settings__value">
              $ {{ customerInfo.partnerAttributes.totalBonuses }}
            </div>
          </div>
        </div>
        <div class="area-settings__item">
          <div class="area-settings__box">
            <div class="area-settings__label">{{ $t("program-link") }}</div>
            <div class="area-settings__value" id="referral-link">
              <!--              https://advant.club/$/ARTbooba-->
              {{ baseUrl }}
            </div>
          </div>
          <div class="area-settings__options">
            <div
              class="copy-link"
              data-clipboard-target="#referral-link"
              @click="copy('referral')"
            >
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#share"
                ></use>
              </svg>
              <div class="copy-link__popup" :class="{ active: isReferral }">
                {{ $t("program-link-copy") }}
              </div>
            </div>
          </div>
        </div>
        <div class="area-settings__item">
          <div class="area-settings__box">
            <div class="area-settings__label">{{ $t("promo-link") }}</div>
            <div class="area-settings__value" id="promo-link">
              <!--              https://advant.club/$/ARTbooba-->
              {{ customerInfo.partnerAttributes.referralCode }}
            </div>
          </div>
          <div class="area-settings__options">
            <div
              class="copy-link"
              data-clipboard-target="#promo-link"
              @click="copy('promo')"
            >
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#share"
                ></use>
              </svg>
              <div class="copy-link__popup" :class="{ active: isPromo }">
                {{ $t("program-promo-copy") }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="area-settings area-settings--top">
      <div class="area-settings__head">
        <div
          class="area-settings__title"
          v-html="$t('program-attracted')"
        ></div>
        <!--        <select>
          <option value="">за все время</option>
          <option value="">за день</option>
          <option value="">за неделю</option>
        </select>
        <div class="select">
          <span class="select__current">за все время</span>
          <ul class="select__list">
            <li class="select__item select__item&#45;&#45;active" data-value="">
              за все время
            </li>
            <li class="select__item" data-value="">за день</li>
            <li class="select__item" data-value="">за неделю</li>
          </ul>
        </div>-->
      </div>
      <div class="area-settings__table">
        <table>
          <thead>
            <tr>
              <td>{{ $t("nickname") }}</td>
              <td>{{ $t("program-subscription-label") }}</td>
              <td>{{ $t("program-bonus-label") }}</td>
            </tr>
          </thead>
          <tbody class="scroll-text">
            <tr
              v-for="ref in this.customerInfo.partnerAttributes.referrals"
              :key="ref.id"
            >
              <td>{{ ref.login }}</td>
              <td>01.01.2020</td>
              <td>$ {{ ref.amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="area-settings__footer">
        <div class="area-settings__footer-total">
          <div class="area-settings__footer-total-text">Итого</div>
          <div class="area-settings__footer-total-value">
            <small>$</small>{{ customerInfo.partnerAttributes.balance }}
          </div>
        </div>
        <!-- <a href="#" class="main-button">Оплатить тариф бонусами</a> -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "Account_program",
  data() {
    return {
      isReferral: false,
      isPromo: false
    };
  },
  computed: {
    ...mapState("User/", ["customerInfo"]),
    baseUrl() {
      return `${location.origin}/app.html?ref=${this.customerInfo.partnerAttributes.referralCode}`;
    }
  },
  methods: {
    ...mapActions(["currentPage"]),
    copy(button) {
      if (button === "promo") {
        this.isPromo = true;
      } else {
        this.isReferral = true;
      }
      const alertTimeout = setTimeout(() => {
        this.isReferral = false;
        this.isPromo = false;
        clearTimeout(alertTimeout);
      }, 1000);
    }
  },
  created() {
    this.currentPage(this.$t("affiliate-label"));
  }
};
</script>

<style lang="scss" scoped>
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
tbody {
  display: block;
  height: 250px;
  overflow: auto;
}

.area-settings__options {
  min-width: inherit;
}
</style>
