<template>
  <form class="form-box" id="login-form" action="#">
    <div class="form-block__row">
      <div class="form-block">
        <label for="nickname">{{ $t("nickname") }}</label>
        <input
          v-model="username"
          class="main-input"
          type="text"
          name="nickname"
          id="nickname"
        />
      </div>
      <div class="form-block">
        <label for="password_3">{{ $t("password") }}</label>
        <div class="input-wrapper">
          <input
            v-model="password"
            class="main-input"
            type="password"
            name="password_3"
            id="password_3"
            ref="password_3"
            autocomplete="on"
          />
          <div class="show-password" @click.prevent="showPass('password_3')">
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="@/assets/images/sprite.svg#eye"
              ></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <button
      class="main-button"
      type="submit"
      @click.prevent="signIn(username, password)"
    >
      {{ $t("sing-in") }}
    </button>
    <router-link class="form-box__link" to="/app.html/reset-password">
      {{ $t("forgot-password") }}
    </router-link>
  </form>
</template>

<script>
import { showPass } from "@/utils/common.js";
import { signIn } from "@/utils/auth.js";
import { mapActions } from "vuex";
export default {
  name: "SingIn-form",
  data() {
    return {
      username: null,
      password: null
    };
  },
  methods: {
    ...mapActions(["setError"]),
    showPass(ref) {
      showPass(this, ref);
    },
    signIn(username, password) {
      this.setError(null);
      signIn(username, password).catch(err => this.setError(err.message));
    }
  },
  mounted() {
    this.setError(null);
  }
};
</script>

<style scoped></style>
