<template>
  <div>
    <component :is="singInComponent"></component>
  </div>
</template>

<script>
export default {
  name: "SingIn",
  props: { singInComponent: { type: String, default: "login-form" } },
  components: {
    "login-form": () => import("./SingIn-form")
  }
};
</script>

<style scoped></style>
