body {
  font-family: 'Muller', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  scrollbar-width: none /* Firefox */;
  -ms-overflow-style: none /* IE 10+ */;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none /* WebKit */;
    width: 0 /* WebKit */;
  }
  background-color: #232428;
  height: 100vh;
  overflow: hidden;
}
.scroll-text {
  &::-webkit-scrollbar {
    width: 5px /* WebKit */;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #fff;
    transition: .3s ease-in-out;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ef4131;
  }
}


* {
  outline: none;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

svg {
  transform: translateZ(0);
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="submit"] {
  cursor: pointer;
}

input,
textarea,
button {
  font-family: 'Muller', sans-serif;
}

h1 {
  font-size: 34px;
  line-height: 36px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
}

h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
}

h4 {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

h5 {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}

h6 {
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
}

p.error {
  font-size: 12px;
  line-height: 14px;
  color: red;
}

.wrapper {
  background-image: url('/images/main-bg.png');
  background-color: #232428;
  overflow-y: auto;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  padding-bottom: 362px;
  scrollbar-width: none /* Firefox */;
  -ms-overflow-style: none /* IE 10+ */;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    //display: none /* WebKit */;
    width: 5px /* WebKit */;
  }
  &::-webkit-scrollbar-thumb  {
    background: orange;
  }
  @include response(767px) {
    padding-bottom: 487px;
  }
}

.holder-block {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.head-block {
  max-width: 655px;
  width: 100%;
  margin: 0 auto 50px;
  padding-top: 112px;
  @include response(767px) {
    padding: 80px 15px 0;
  }
}

.head-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  @include response(767px) {
    font-size: 28px;
  }
}

.breadcrumb {
  margin: 0 auto 10px;
  padding: 0;
  list-style: none;
  font-size: 13px;
  text-align: center;
  @include response(767px) {
    display: none;
  }

  li {
    position: relative;
    display: inline-block;
    vertical-align: top;

    & + li {
      margin-left: 32px;

      &::after {
        content: '';
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background: #fff;
        pointer-events: none;
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.15s ease-in-out;
      }
    }
  }

  a {
    color: #b1b2b4;
    text-decoration: none;
    transition: .3s ease-in-out;

    span {
      color: #b1b2b4;
      transition: .3s ease-in-out;
      @include hover() {
        text-decoration: underline;
      }
    }
  }

  span {
    color: #747578;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  max-width: 1084px;
  width: 100%;
  margin: 0 auto;

  li {
    margin: 0 10px;

    a,
    span {
      @extend %flex-c;
      width: 50px;
      height: 50px;
      border: 1px solid #56565a;
      text-decoration: none;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      color: #fff;
      border-radius: 50%;
      transition: .3s ease-in-out;
      @include response(1023px) {
        display: none;
      }
      @include response(600px) {
        height: 40px;
        width: 40px;
      }
      @include hover() {
        border-color: #fff;
      }
    }

    span {
      background: linear-gradient(127.97deg, #EF4131 -24.56%, #FD864B 80.8%, #EF4131 187.34%);
      border: none;
      @include response(1023px) {
        display: flex;
      }
    }

    a {
      color: #fff;
    }

    &.first {
      position: relative;
      width: 50px;
      height: 50px;
      margin-right: auto;
      color: #fff;

      small {
        font-weight: 500;
        font-size: 13px;
        color: #fff;
        position: absolute;
        left: 64px;
        transition: .3s ease-in-out;
      }

      @extend %flex-c;

      a {
        border: 1px solid #56565a;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: .3s ease-in-out;
        @extend %flex-c;
        @include response(500px) {
          display: flex;
        }
      }

      svg {
        fill: #fff;
        width: 16px;
        height: 16px;
        transition: .3s ease-in-out;
      }

      @include response(1023px) {
        small {
          display: none;
        }
      }
      @include response(600px) {
        width: 40px;
        height: 40px;
      }
      @include hover() {
        a {
          border-color: #fff;
        }
        small {
          color: #56565a;
        }
      }

      &.disabled {
        background: #f0f3f4;
        opacity: 0.5;
        border-color: #e2e8ea;
        border-radius: 40px;
        pointer-events: none;
      }
    }

    &.last {
      position: relative;
      width: 50px;
      height: 50px;
      margin-left: auto;
      color: #fff;
      @extend %flex-c;

      small {
        font-weight: 500;
        font-size: 13px;
        color: #fff;
        position: absolute;
        right: 64px;
        transition: .3s ease-in-out;
      }

      a {
        border: 1px solid #56565a;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: .3s ease-in-out;
        @extend %flex-c;
        @include response(500px) {
          display: flex;
        }
      }

      svg {
        fill: #fff;
        width: 16px;
        height: 16px;
        transition: .3s ease-in-out;
      }

      @include response(1023px) {
        small {
          display: none;
        }
      }
      @include response(600px) {
        width: 40px;
        height: 40px;
      }
      @include hover() {
        a {
          border-color: #fff;
        }
        small {
          color: #56565a;
        }
      }

      &.disabled {
        background: #f0f3f4;
        opacity: 0.5;
        border-color: #e2e8ea;
        border-radius: 40px;
        pointer-events: none;
      }
    }

    &.dots {
      position: relative;
      border-radius: 50%;
      width: 20px;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;

      &::before {
        content: '...';
        width: 16px;
        font-size: 20px;
        color: #fff;
        text-align: center;
      }

      @include response(600px) {
        display: flex;
      }
      @include response(600px) {
        height: 40px;
      }
    }

    &:nth-child(2) {
      @include response(1023px) {
        a {
          display: flex;
        }
      }
    }

    &:nth-last-child(2) {
      @include response(1023px) {
        a {
          display: flex;
        }
      }
    }

    @include response(600px) {
      margin: 0 5px;
    }
    @include response(600px) {
      &.active {
        & ~ li {
          &:not(.dots) {
            margin-left: 0;
          }

          &.last {
            margin-left: auto;
          }
        }
      }
    }
  }
}

.content {
  font-size: 14px;
  line-height: 160%;
  color: #b1b2b4;

  h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #fff;
  }

  ol {
    @extend %list;
    padding-left: 40px;
    counter-reset: list;
    margin-bottom: 20px;

    li {
      position: relative;

      &::before {
        counter-increment: list;
        content: counter(list) ". ";
        position: absolute;
        left: -20px;
        top: 0;
        color: #ef4131;
      }
    }
  }

  ul {
    @extend %list;
    padding-left: 40px;
    margin-bottom: 20px;

    li {
      position: relative;

      span {
        font-weight: 800;
        color: #fff;
      }

      &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left: -20px;
        top: 8px;
        background: #ef4131;
      }
    }
  }

  table {
    border-collapse: collapse;
    margin: 40px 0 70px;

    tr {
      td {
        font-size: 14px;
        line-height: 160%;
        padding: 24px 30px;
        border-top: 1px solid #56565a;
        width: 60%;
        @include response(767px) {
          padding: 15px 10px;
          font-size: 12px;
          line-height: 130%;
        }

        &:first-of-type {
          vertical-align: top;
          font-weight: 800;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: 0.04em;
          color: #fff;
          width: 40%;
        }
      }

      &:last-of-type {
        td {
          border-bottom: 1px solid #56565a;
        }
      }
    }
  }

  iframe {
    margin: 30px 0;
    border: none;
    max-width: 100%;
    width: 100%;
    @include response(767px) {
      height: 230px;
    }
    @include response(359px) {
      height: 180px;
    }
  }
}

.main-button {
  @extend %flex-c;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  width: 100%;
  background: linear-gradient(174.89deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
  border: 1px solid #fd864b;
  transition: .3s ease-in-out;
  @include hover() {
    background: transparent;
  }
}

.button-transparent {
  max-width: 166px;
  width: 100%;
  height: 50px;
  @extend %flex-c;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  color: #fff;
  border: 1px solid #fd864b;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  @include hover() {
    background: linear-gradient(158.93deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b1b2b4;
    transition: .4s;
    border-radius: 34px;

    &::before {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background: #fff;
      transition: .4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background: linear-gradient(142.45deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #fd864b;
  }

  input:checked + .slider:before {
    transform: translateX(15px);
  }
}

.white-button {
  @extend %flex-c;
  max-width: 145px;
  width: 100%;
  height: 26px;
  background: #fff;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  color: #25262a;
  text-decoration: none;
  cursor: pointer;
  transition: .3s ease-in-out;
  @include hover() {
    color: #fff;
    background: transparent;
  }
}

p.error {
  font-size: 13px;
  color: #ef4131;
}


.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 36, 40);;
  z-index: 9999;

  p {
    font: 600 1.5rem monospace;
    margin-top: 1rem;
  }

  .circles {
    display: flex;
    margin-top: 1rem;

    .circle {
      width: 1.5rem;
      height: 1.5rem;
      margin: .75rem;
      background-color: rgb(239, 65, 49);
      border-radius: 50%;
      animation-name: scaleIn;
      animation-duration: .7s;
      transform: scale(0);

      &:nth-child(1) {
        animation-delay: 0s
      }

      &:nth-child(2) {
        animation-delay: .05s

      }

      &:nth-child(3) {
        animation-delay: .1s

      }

      &:nth-child(4) {
        animation-delay: .15s

      }

      &:nth-child(5) {
        animation-delay: .2s
      }

    }

  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.translateY-enter-active {
  animation: translateY .5s;
}

.translateY-leave-active {
  animation: translateY .2s reverse;
}

@keyframes translateY {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.translateX-enter-active {
  animation: translateX .25s;
}

.translateX-leave-active {
  animation: translateX .2s reverse;
}

@keyframes translateX {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.error {
  text-align: center;
  margin: 50px 0 0;
  background: linear-gradient(
    171.88deg,
    #ef4131 -24.56%,
    #fd864b 80.8%,
    #ef4131 187.34%
  );
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
}
.error-area {
  margin: 20px 0;
  .error {
    margin: 0;
  }
}
.main-section__sm-slide-image {
  img {
    height: 110px;
    object-fit: cover;
  }
}
.main-about__sm-slide, .article__sm-slide {
  img {
    height: 66px;
    object-fit: cover;
  }
}

[v-cloak] {
  display: block;
  padding: 50px 0;

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  & > div {
    display: none;
  }
}

.input-wrapper {
  position: relative;
}

.location-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  .flag {
    padding-right: 10px;
    flex-shrink: 0;
  }
}

.select {
  &::after {
    content: none;
  }
}

.vs__open-indicator {
  cursor: pointer;
}

.area-settings__status.active {
  border: 1px solid rgba(#fc8149, 0.2);
  svg {
    fill: #fc8149;
  }
}

.arrow_down {
  fill: white;
}

.edit-subtitle {
  color: #747578;
}
.area-form {
  &__form {
    border-bottom: 1px solid #3d3d3d;
    margin-bottom: 30px;
    &.mb-0 {
      margin-bottom: 0px;
      border-bottom: 1px solid transparent;
    }
  }
  &__text {
    color: white;
  }
}