$slick-font-family: false;

@import './node_modules/slick-carousel/slick/slick.scss';
@import './node_modules/slick-carousel/slick/slick-theme.scss';

.slick-list {
  .slick-loading & {
      background: #fff;
  }
}