.area-logs__item.new::after {
  right: 25px;
}
.vs__dropdown-menu {
  background: #232428;
  color: white;
  border: none;
  overflow: hidden;
}
.vs__dropdown-option {
  color: #a5a5a5;
  font-weight: normal;
}
.vs__dropdown-option--highlight {
  font-weight: bold;
  background: linear-gradient(174.89deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
  color: #fff;
}
.vs__dropdown-toggle {
  width: 100%;
}
.v-select {
  width: 90%;
}

.vs__selected {
  width: 100%;
  color: white;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}