@mixin font($fontname, $filename, $fontweight, $fontstyle) {
  @font-face {
    font-family: $fontname;
    src:
      local('😥'),
      url(#{'../fonts/'+$filename+'.woff'}) format("woff"),
      url(#{'../fonts/'+$filename+'.ttf'}) format("truetype");
    font-weight: $fontweight;
    font-style: $fontstyle;
  }
}

@include font('Muller','../fonts/MullerRegular', 400, normal);
@include font('Muller','../fonts/MullerMedium', 500, normal);
@include font('Muller','../fonts/MullerBold', 700, normal);
@include font('Muller','../fonts/MullerExtraBold', 800, normal);