%icon-logo {
  background-image: url(../assets/images/sprite.png);
  background-position: 0 0;
  width: 169px;
  height: 171px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  %icon-logo {
    background-image: url(../assets/images/sprite@2x.png);
    background-size: 169px 171px;
  }
}
