$black: #000;
$white: #fff;
$main: #ef4131;

// malishu Custom Scrollbar variable
$scroll-dragger-bar-color: #fff;
$scroll-dragger-bar-width: 3px;
$scroll-dragger-bar-radius: 0px;
$scroll-dragger-rail-color: transparent;
$scroll-dragger-rail-width: 3px;
$scroll-dragger-rail-radius: 0px;