<script>
  import { formatDate, getFirstLetter } from "../utils/common";
  import { fade } from "svelte/transition";
  import LogoImg from "../assets/images/logo.svg";
  import { user } from "../store";
  import { signOut } from '../utils/auth'

  let userDropDown = false;

  function userDropDownHandler () {
    userDropDown = userDropDown != true;
  }
  function closeUserDownHandler () {
    userDropDown = false;
  }

  function singOutHandler(params) {
    signOut()
    window.location = "/"
  }

  const currentDate = new Date();
</script>

<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <a href="/">
            <img class="h-8 w-8" src={LogoImg} alt="Logo">
          </a>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
          </div>
        </div>
      </div>
      {#if $user !== null}
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <!-- Profile dropdown -->
          <div class="ml-3 relative">
            <div>
              <button on:click={userDropDownHandler} class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <div class="bg-indigo-200 h-10 w-10 rounded-full flex items-center justify-center">
                  <div>{getFirstLetter($user.username)}</div>
                </div>
              </button>
            </div>
            {#if userDropDown}
            <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 hover:bg-green-300 hover:text-green-700" role="menu" aria-orientation="vertical" aria-labelledby="user-menu" transition:fade>
              <span on:click={singOutHandler} on:mouseleave={closeUserDownHandler} class="cursor-pointer block px-4 py-2 text-sm text-gray-700" role="menuitem">Sign out</span>
            </div>
            {/if}
          </div>
        </div>
      </div>
      {/if}
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="md:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="/" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">Dashboard</a>
    </div>
  </div>
</nav>

<div class="container mx-auto">
  <p class="my-5 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
    <span>Welcome {$user.username}</span> <small class="text-base font-light">{formatDate(currentDate)}</small>
  </p>
</div>