.area {
  &__inner {
    max-width: 1084px;
    width: 100%;
    margin: 0 auto 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include response(1200px) {
      padding: 0 15px;
    }
    @include response(767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__sidebar {
    //max-height: 619px;
    max-width: 256px;
    width: 100%;
    flex-basis: 256px;
    background: #25262a;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    @include response(1023px) {
      flex-shrink: 0;
      max-width: 235px;
      flex-basis: 235px;
    }
    @include response(767px) {
      max-width: 100%;
      flex-basis: auto;
      flex-shrink: 1;
      margin: 0 auto 30px;
    }
  }
  &__main {
    max-width: 800px;
    width: 100%;
    flex-basis: 800px;
    min-width: 0;
    @include response(767px) {
      flex-basis: auto;
    }
  }
  &__user {
    padding: 30px;
  }
  &__user-text {
    font-size: 14px;
    line-height: 160%;
    color: #b1b2b4;
  }
  &__user-name {
    font-weight: 800;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
  }
  &__select-tariff {
    @extend %flex-c;
    width: 100%;
    height: 78px;
    background: linear-gradient(158.93deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
    box-shadow: 0px 4.38596px 43.8596px rgba(0, 0, 0, 0.25);
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fd864b;
    transition: .3s ease-in-out;
    margin-bottom: 20px;
    @include hover() {
      background: transparent;
    }
    span {
      position: relative;
      @extend %flex-c;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #fff;
      margin-left: 10px;
      &::after {
        border-bottom: 2px solid #333;
        border-right: 2px solid #333;
        content: '';
        height: 6px;
        width: 6px;
        margin-top: -4px;
        pointer-events: none;
        position: absolute;
        right: 5px;
        top: 50%;
        transform-origin: 66% 66%;
        transform: rotate(-45deg);
        transition: all 0.15s ease-in-out;
      }
    }
  }
  &__nav-list {
    @extend %list;
    padding: 0 20px;
  }
  &__nav-item {
    position: relative;
    border-top: 1px solid #3d3d3d;
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 0;
      background: linear-gradient(91.75deg, #EF4131 -24.56%, #FD864B 80.8%, #EF4131 187.34%);
      left: -20px;
      top: 0;
    }
    a {
      font-size: 14px;
      padding: 16px 10px;
      @extend %flex-v;
      text-decoration: none;
      color: #747578;
      transition: .3s ease-in-out;
      svg {
        width: 18px;
        height: 18px;
        fill: #b1b2b4;
        margin-right: 10px;
        transition: .3s ease-in-out;
      }
    }
    small {
      @extend %flex-c;
      width: 18px;
      height: 18px;
      background: linear-gradient(127.97deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
      border-radius: 50%;
      font-size: 10px;
      line-height: normal;
      color: #fff;
      margin-left: auto;
    }
    @include hover() {
      a {
        color: #fff;
        svg {
          fill: #fff;
        }
      }
    }
    &.active {
      &::before {
        height: 100%;
      }
      a {
        color: #fff;
        svg {
          fill: #fff;
        }
      }
    }
  }
}

.area-form {
  background: #25262a;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  &__inner {
    padding: 22px 32px 32px;
    @include response(767px) {
      padding: 20px 20px 30px;
    }
  }
  &__head {
    @extend %flex-v;
    justify-content: space-between;
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #3d3d3d;
    @include response(767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__form {
    &--readonly {
      .form-block {
        margin: 0;
        padding-bottom: 18px;
        margin-bottom: 18px;
        border-bottom: 1px solid #3d3d3d;
        &:last-of-type {
          border: none;
          margin: 0;
          padding: 0;
        }
      }
      .main-button {
        margin-top: 30px;
      }
    }
    &--readonly-full {
      .form-block {
        margin: 0;
        padding-bottom: 18px;
        margin-bottom: 18px;
        border-bottom: 1px solid #3d3d3d;
      }
      .main-button {
        margin-top: 30px;
      }
    }
  }
  &__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
    span {
      color: $main;
    }
  }
  &__edit {
    font-size: 13px;
    line-height: 120%;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    @include hover() {
      text-decoration: underline;
    }
  }
}

.area-help {
  width: 100%;
  padding: 22px 32px 32px;
  background: #25262a;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

.area-logs {
  width: 100%;
  padding: 22px 32px 32px;
  background: #25262a;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  &__head {
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 18px;
    span {
      color: $main;
    }
  }
  &__clear {
    padding: 110px 20px;
  }
  &__clear-icon {
    @extend %flex-c;
    height: 74px;
    width: 74px;
    border: 1px solid rgba(#fff, 0.2);
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  &__clear-text {
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #b1b2b4;
  }
  &__list {
    max-height: 520px;
    overflow-y: auto;
  }
  &__item {
    position: relative;
    padding: 18px 0;
    border-bottom: 1px solid #3d3d3d;
    &.new {
      &::after {
        content: '';
        position: absolute;
        top: 24px;
        right: 0;
        width: 5px;
        height: 5px;
        background: linear-gradient(127.97deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
        border-radius: 50%
      }
    }
  }
  &__item-date {
    font-size: 13px;
    line-height: 120%;
    color: #747578;
    margin-bottom: 5px;
  }
  &__item-text {
    font-size: 14px;
    line-height: 160%;
    color: #fff;
  }
}

.area-info {
  width: 100%;
  padding: 22px 32px 32px;
  background: #25262a;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  @include response(767px) {
    padding: 22px 20px 30px;
  }
  &__head {
    @extend %flex-v;
    justify-content: space-between;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 18px;
    @include response(767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
    span {
      color: $main;
    }
  }
  &__inner {
    .faq {
      margin-bottom: 24px;
      margin-top: -1px;
    }
  }
  &__form {
    padding: 30px 0 0;
  }
  .faq__content {
    max-height: 400px;
    overflow-y: auto;
  }
}

.area-status {
  max-width: 1084px;
  width: 100%;
  margin: 0 auto 20px;
  @include response(1200px) {
    padding: 0 15px;
  }
  &__inner {
    background: linear-gradient(172.86deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
    box-shadow: 0px 4.38596px 43.8596px rgba(0, 0, 0, 0.25);
    @extend %flex-v;
    padding: 16px;
    justify-content: space-between;
    @include response(767px) {
      flex-direction: column;
      padding: 16px 20px;
    }
  }
  &__tariff {
    max-width: 226px;
    width: 100%;
    position: relative;
    flex-shrink: 0;
    @extend %flex-v;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 40px;
      width: 1px;
      background: rgba(#fff, 0.2);
    }
    @include response(767px) {
      max-width: 100%;
      flex-shrink: 1;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(#fff, 0.2);
      &::before {
        display: none;
      }
    }
  }
  &__tariff-icon {
    @extend %flex-c;
    width: 74px;
    height: 74px;
    background: #fff;
    border-radius: 50%;
    flex-shrink: 0;
  }
  &__tariff-info {
    margin-left: 14px;
  }
  &__tariff-name {
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
  }
  &__tariff-period {
    font-size: 13px;
    line-height: 120%;
    color: rgba(#fff, 0.8);
  }
  &__col {
    position: relative;
    max-width: 257px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 40px;
      width: 1px;
      background: rgba(#fff, 0.2);
    }
    &:last-of-type {
      &::before {
        display: none;
      }
    }
    @include response(1023px) {
      padding: 0 15px;
    }
    @include response(767px) {
      padding: 0;
      max-width: 100%;
      flex-shrink: 1;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(#fff, 0.2);
      &::before {
        display: none;
      }
    }
  }
  &__col-title {
    font-size: 13px;
    color: rgba(#fff, 0.8);
    margin-bottom: 8px;
  }
  &__col-value {
    font-weight: 800;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #fff;
    img {
      margin-right: 5px;
    }
  }
}

.area-settings {
  width: 100%;
  padding: 22px 32px 32px;
  background: #25262a;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  @include response(767px) {
    padding: 22px 20px 30px;
  }
  &__head {
    @extend %flex-v;
    justify-content: space-between;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 18px;
    .select__item {
      padding: 10px 15px 10px 15px;
      font-size: 14px;
    }
    @include response(767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
    span {
      color: $main;
    }
  }
  &__form {
    padding: 18px 0 0;
  }
  &__item {
    @extend %flex-v;
    justify-content: space-between;
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #3d3d3d;
    @include response(1023px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &--left {
      justify-content: flex-start;
      .area-settings__options {
        width: auto;
        justify-content: flex-start;
        margin-left: 20px;
      }
    }
  }
  &__label {
    font-size: 13px;
    line-height: 120%;
    color: #b1b2b4;
    margin-bottom: 8px;
  }
  &__value {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #fff;
  }
  &__options {
    min-width: 50%;
    @extend %flex-v;
    justify-content: flex-end;
    @include response(1023px) {
      width: 100%;
      margin-top: 15px;
      justify-content: flex-start;
    }
  }
  &__options-alert {
    @extend %flex-v;
    font-size: 11px;
    line-height: 120%;
    color: #fff;
    margin-right: 24px;
    svg {
      width: 14px;
      height: 14px;
      fill: $main;
      margin-right: 6px;
    }
  }
  &__status {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    @extend %flex-c;
    border: 1px solid rgba(#fff, 0.2);
    svg {
      width: 28px;
      height: 22px;
      fill: #56565a;
    }
  }
  &__price {
    font-weight: 800;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #fff;
    small {
      font-size: 14px;
    }
  }
  &--info {
    .area-settings__item {
      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
      }
    }
  }
  &--top {
    margin-top: 20px;
  }
  &__table {
    @include response(359px) {
      overflow-x: auto;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      @include response(359px) {
        width: 350px;
      }
      thead {
        background: #3d3d3d;
        tr {
          td {
            font-weight: 800;
            font-size: 14px;
            letter-spacing: 0.04em;
            color: #fff;
            padding: 18px 20px;
            &:last-of-type {
              text-align: right;
            }
            @include response(767px) {
              padding: 15px 10px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14px;
            color: #b1b2b4;
            padding: 18px 20px;
            border-bottom: 1px solid #3d3d3d;
            &:last-of-type {
              text-align: right;
            }
            @include response(767px) {
              padding: 15px 10px;
            }
          }
        }
      }
    }
  }
  &__footer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .main-button {
      max-width: 250px;
    }
    @include response(767px) {
      align-items: center;
    }
  }
  &__footer-total {
    @extend %flex-v;
    margin-bottom: 16px;
  }
  &__footer-total-text {
    font-weight: 800;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-right: 70px;
  }
  &__footer-total-value {
    font-weight: 800;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #fff;
    small {
      font-size: 14px;
    }
  }
}

body.with-alert {
  .header {
    top: 44px;
    @include response(767px) {
      top: 98px;
    }
  }
  .head-block {
    padding-top: 156px;
  }
}

.top-alert {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: linear-gradient(177.48deg, #EF4131 -24.56%, #FD864B 80.8%, #EF4131 187.34%);
  box-shadow: 0px 4.38596px 43.8596px rgba(0, 0, 0, 0.25);
  height: 44px;
  @extend %flex-v;
  z-index: 99;
  padding: 0 56px;
  font-size: 13px;
  color: #fff;
  svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: #fff;
    flex-shrink: 0;
  }
  .white-button {
    margin-left: 44px;
  }
  @include response(767px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98px;
    text-align: center;
    padding: 10px 20px;
    svg {
      display: none;
    }
    .white-button {
      flex-shrink: 0;
      margin: 10px auto 0;
    }
  }
}

.area-content {
  width: 100%;
  padding: 22px 32px 32px;
  background: #25262a;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  @include response(767px) {
    padding: 22px 20px 30px;
  }
  &__head {
    @extend %flex-v;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 18px;
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 18px;
    img {
      margin-right: 10px;
    }
    span {
      margin-left: 5px;
      color: $main;
    }
    @include response(767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__list {
    @extend %list;
    font-size: 14px;
    line-height: 160%;
    color: #fff;
    a {
      border-bottom: 1px dashed #fff;
      color: #fff;
      text-decoration: none;
      transition: .3s ease-in-out;
      @include hover() {
        color: $main;
        border-color: transparent;
      }
    }
  }
}

.mac-address {
  &__title {
    padding: 18px 20px;
    background: rgba(#3d3d3d, 0.5);
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #fff;
  }
  &__list {
    margin-bottom: 30px;
  }
  &__item {
    padding: 18px 20px;
    @extend %flex-v;
    border-bottom: 1px solid #3d3d3d;
  }
  &__item-value {
    font-size: 14px;
    line-height: 160%;
    color: #b1b2b4;
  }
  &__item-delete {
    margin-left: auto;
    cursor: pointer;
    svg {
      width: 14px;
      height: 14px;
      fill: #b1b2b4;
      transition: .3s ease-in-out;
    }
    @include hover() {
      svg {
        fill: #fff;
      }
    }
  }
  &__form {
    display: flex;
    align-items: flex-start;
    margin: 18px auto 0;
    .form-block {
      margin: 0;
    }
    .main-button {
      max-width: 270px;
    }
    @include response(767px) {
      flex-direction: column;
      margin: 18px auto;
      .form-block {
        margin: 0 0 10px;
      }
      .main-button {
        max-width: 100%;
      }
    }
  }
}

.bonus-block {
  padding: 16px 25px 25px;
  background: rgba(#3d3d3d, 0.5);
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6px;
  }
  &__title {
    font-size: 14px;
    line-height: 160%;
    color: #fff
  }
  &__value {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.04em;
    color: #fff;
    small {
      font-size: 14px;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 120%;
    color: #b1b2b4;
  }
}

.copy-link {
  position: relative;
  @extend %flex-c;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid rgba(#fff, 0.2);
  cursor: pointer;
  transition: .3s ease-in-out;
  svg {
    width: 16px;
    height: 16px;
    fill: #fff;
  }
  &__popup {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 135px;
    padding: 7px 10px;
    background: #fff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-top: 10px;
    font-size: 11px;
    line-height: 120%;
    text-align: center;
    color: #25262a;
    transition: .3s ease-in-out;
    visibility: visible;
    opacity: 0;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      @include triangle(up, 5px, #fff);
    }
    &.active {
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
  }
  @include hover() {
    border-color: #fff;
  }
}

.alert-text {
  @extend %flex-v;
  font-size: 11px;
  line-height: 120%;
  color: #fff;
  svg {
    width: 14px;
    height: 14px;
    fill: #b1b2b4;
    margin-right: 6px;
  }
}