.cookie-block {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  @extend %flex-v;
  background: linear-gradient(173.39deg, #EF4131 -24.56%, #FD864B 80.8%, #EF4131 187.34%);
  box-shadow: 0px 4.38596px 43.8596px rgba(0, 0, 0, 0.25);
  padding: 14px 30px 14px 20px;
  @include response(767px) {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }
  .white-button {
    flex-shrink: 0;
    margin-left: 10px;
  }
  &__content {
    font-size: 13px;
    line-height: 140%;
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px dashed #fff;
    }
    @include response(767px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &__close {
    width: 8px;
    height: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    svg {
      width: 8px;
      height: 8px;
      fill: #fff
    }
  }
}