.info-box {
  max-width: 1084px;
  width: 100%;
  margin: 0 auto 40px;
  @include response(1200px) {
    padding: 0 15px;
  }
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include response(767px) {
      flex-direction: column;
    }
  }
  &__sidebar {
    max-width: 255px;
    width: 100%;
    flex-basis: 255px;
    margin-right: 20px;
    @include response(1023px) {
      max-width: 200px;
      flex-basis: 200px;
      flex-shrink: 0;
    }
    @include response(767px) {
      max-width: 100%;
      flex-basis: auto;
      flex-shrink: 1;
      margin: 0 auto 20px;
    }
  }
  &__content {
    max-width: 800px;
    width: 100%;
    flex-basis: 800px;
    min-width: 0;
    @include response(767px) {
      flex-basis: auto;
      max-width: 100%;
    }
  }
  &__nav-list {
    @extend %list;
  }
  &__nav-item {
    position: relative;
    background: #25262a;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-left: 3px solid #fff;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      background: linear-gradient(156.26deg, #EF4131 -24.56%, #FD864B 80.8%, #EF4131 187.34%);
      z-index: -1;
      transition: .3s ease-in-out;
    }
    a {
      padding: 24px 32px;
      width: 100%;
      @extend %flex-v;
      text-decoration: none;
      span {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        flex-shrink: 0;
        transition: .3s ease-in-out;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 50%;
          border: 1px solid rgba(#fff, 0.2);
          transition: .3s ease-in-out;
        }
        &::before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #ef4131;
          transition: .3s ease-in-out;
        }
      }
      small {
        font-weight: 800;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #fff;
      }
    }
    @include hover() {
      &::before {
        width: 105%;
      }
      .info-box__nav-quant {
        // visibility: hidden;
        // opacity: 0;
        // overflow: hidden;
        color: #fff;
        transform: translateX(10px);
      }
      a {
        span {
          margin-right: 34px;
          &::after {
            left: -14px;
            top: -14px;
            bottom: -14px;
            right: -14px;
            border-color: #fff;
          }
          &::before {
            background: #fff;
          }
        }
      }
    }
    &.active {
      &::before {
        width: 105%;
      }
      .info-box__nav-quant {
        color: #fff;
        transform: translateX(10px);
        // visibility: hidden;
        // opacity: 0;
        // overflow: hidden;
      }
      a {
        span {
          margin-right: 34px;
          &::after {
            left: -14px;
            top: -14px;
            bottom: -14px;
            right: -14px;
            border-color: #fff;
          }
          &::before {
            background: #fff;
          }
        }
      }
    }
  }
  &__nav-quant {
    position: absolute;
    right: 8px;
    top: 8px;
    font-weight: 800;
    font-size: 10px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #747578;
    transition: .3s ease-in-out;
  }
}

.faq {
  &__item {
    border-top: 1px solid #3d3d3d;
    border-bottom: 1px solid #3d3d3d;
    + .faq__item {
      margin-top: -1px;
    }
    &.active {
      .faq__title {
        span {
          background: #747578;
          &::after {
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
  &__title {
    position: relative;
    padding: 23px 72px 23px 0;
    font-weight: 800;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    span {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid #747578;
      transition: all 0.15s ease-in-out;
      &::after {
        content: '';
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        height: 7px;
        width: 7px;
        margin-top: -4px;
        position: absolute;
        right: 13px;
        top: 50%;
        transform-origin: 66% 66%;
        transform: rotate(45deg);
        transition: all 0.15s ease-in-out;
      }
    }
  }
  &__inner {
    height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
  }
  &__content {
    font-size: 14px;
    line-height: 160%;
    color: #b1b2b4;
    p {
      @include marginY();
    }
    padding-bottom: 18px;
  }
}