.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 68px 0 118px;
  @include response(767px) {
    padding: 40px 0 60px;
  }
  &__inner {
    max-width: 1084px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include response-min(1480px) {
      max-width: 1400px;
    }
    @include response(1200px) {
      padding: 0 15px;
    }
    @include response(767px) {
      flex-direction: column;
    }
  }
}

.footer-contacts {
  @include response(767px) {
    width: 100%;
    text-align: center;
    margin: 0 auto 40px;
  }
}

.footer-logo {
  margin-bottom: 32px;
}

.footer-socials {
  @extend %list;
  @extend %flex-v;
  margin: 0 -5px 25px;
  &__item {
    @extend %flex-c;
    width: 42px;
    height: 42px;
    border: 1px solid #56565a;
    border-radius: 50%;
    margin: 0 5px;
    transition: .3s ease-in-out;
    a {
      @extend %flex-c;
      width: 100%;
      height: 100%;
    }
    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }
    @include hover() {
      transform: scale(1.1);
      border-color: #fff;
    }
  }
  @include response(767px) {
    justify-content: center;
  }
}

.footer-email {
  @extend %flex-v;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #fff;
  text-decoration: none;
  transition: .3s ease-in-out;
  @include hover() {
    color: $main;
  }
  svg {
    width: 18px;
    height: 18px;
    fill: $main;
    margin-right: 8px;
  }
  @include response(767px) {
    justify-content: center;
  }
}

.footer-col {
  max-width: 160px;
  width: 100%;
  @include response(767px) {
    display: none;
  }
  &__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 18px;
  }
}

.footer-nav {
  &__list {
    @extend %list;
  }
  &__item {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
    a {
      color: #b1b2b4;
      text-decoration: none;
      transition: .3s ease-in-out;
      @include hover() {
        color: #fff;
      }
    }
  }
}

.footer-awards {
  @extend %flex-v;
  margin: 0 -11px 32px;
  @include response(767px) {
    justify-content: center;
    margin: 0 auto 32px;
  }
  &__item {
    width: 90px;
    height: 70px;
    @extend %flex-c;
    margin: 0 11px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.footer-info {
  @include response(767px) {
    width: 100%;
    text-align: center;
  }
  &__link {
    display: block;
    font-size: 13px;
    color: #fff;
    margin-bottom: 11px;
    text-decoration: none;
    @include hover() {
      text-decoration: underline;
    }
  }
}

.copyright {
  font-size: 13px;
  line-height: 120%;
  color: #b1b2b4;
  margin-top: 30px;
}