.main-form {
  max-width: 856px;
  width: 100%;
  margin: 132px auto 40px;
  padding: 40px 60px 50px;
  background: #25262a;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  @include response(991px) {
    max-width: 95%;
  }
  @include response(767px) {
    padding: 40px 20px 50px;
  }
  &__nav {
    @extend %list;
    @extend %flex-c;
    border-bottom: 1px solid #3d3d3d;
  }
  &__nav-item {
    margin: 0 24px;
    a {
      position: relative;
      display: block;
      font-weight: 800;
      font-size: 20px;
      letter-spacing: 0.04em;
      text-decoration: none;
      color: #b1b2b4;
      padding-bottom: 23px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background: #fff;
        transition: .3s ease-in-out;
      }
      &.active {
        color: #fff;
        &::before {
          width: 100%;
        }
      }
      @include response(767px) {
        font-size: 16px;
        padding-bottom: 15px;
      }
    }
  }
}

.form-box {
  padding: 24px 0 0;
  &__link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    display: table;
    margin: 20px auto 0;
    transition: .3s ease-in-out;
    @include hover() {
      border-color: transparent;
      color: $main;
    }
  }
}

.form-block {
  position: relative;
  width: 100%;
  margin: 0 0 30px;
  &__row {
    display: flex;
    align-items: flex-start;
    margin: 0 -20px 30px;
    .form-block {
      margin: 0 20px;
    }
    @include response(767px) {
      flex-direction: column;
      margin: 0 auto;
      .form-block {
        margin: 0 0 30px;
      }
    }
  }
  label {
    display: flex;
    height: 30px;
    justify-content: space-between;
    font-size: 13px;
    line-height: 120%;
    color: #b1b2b4;
    margin-bottom: 10px;
    span {
      flex-shrink: 0;
      margin-right: 5px;
    }
    small {
      text-align: right;
      display: block;
    }
  }
  .show-password {
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: 25px;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
      transition: .3s ease-in-out;
    }
    @include hover() {
      svg {
        fill: #b1b2b4;
      }
    }
  }
  &__info {
    font-size: 12px;
    line-height: 120%;
    color: #fff;
    margin-top: 10px;
  }
}

.main-input {
  width: 100%;
  background: transparent;
  border: 1px solid #747578;
  height: 50px;
  padding: 0 24px;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #fff;
  &:focus {
    border-color: #fff;
  }
  &:active {
    border-color: #fff;
  }
  &.error {
    border-color: #ef4131;
  }
  &:read-only {
    height: 20px;
    padding: 0;
    border: none;
  }
}

.main-textarea {
  width: 100%;
  height: 92px;
  overflow: hidden;
  resize: none;
  background: transparent;
  border: 1px solid #747578;
  padding: 20px 24px;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #fff;
  &:focus {
    border-color: #fff;
  }
  &:active {
    border-color: #fff;
  }
  &.error {
    border-color: #ef4131;
  }
  &:read-only {
    height: 20px;
    padding: 0;
    border: none;
  }
}

.radio-block {
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__list {
    border-top: 1px solid #3d3d3d;
    border-bottom: 1px solid #3d3d3d;
    padding: 30px 0;
  }
  label {
    display: block;
    padding-left: 32px;
    cursor: pointer;
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] + span {
      position: relative;
      font-size: 14px;
      line-height: 160%;
      color: #747578;
      transition: .3s ease-in-out;
      small {
        display: block;
        font-size: 13px;
        line-height: 120%;
        color: #747578;
        margin-top: 9px;
        transition: .3s ease-in-out;
      }
      &::before {
        content: '';
        position: absolute;
        left: -32px;
        top: -3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #3d3d3d;
        border: 5px solid #3d3d3d;
        box-shadow: 0 0 0 1px #fff;
        transition: .3s ease-in-out;
      }
    }
    input[type="radio"]:checked + span {
      color: #fff;
      &::before {
        background: #fff;
      }
      small {
        color: #b1b2b4;
      }
    }
  }
}

.captcha-block {
  @extend %flex-c;
  margin: 23px auto 28px;
}

.success-block {
  width: 100%;
  height: 82px;
  background: linear-gradient(171.88deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
  @extend %flex-c;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  margin: 40px auto 500px;
  padding: 0 15px;
  svg {
    width: 16px;
    height: 16px;
    fill: #fff;
    margin-right: 7px;
    flex-shrink: 0;
  }
  @include response(767px) {
    font-size: 14px;
  }
}

.reset-password {
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 16px;
    span {
      color: $main;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #b1b2b4;
    margin-bottom: 22px;
  }
  .form-box {
    border-top: 1px solid #3d3d3d;
    padding-top: 14px;
  }
  .success-block {
    margin: 26px auto 90px;
  }
}