.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: .3s ease-in-out;
  &.fixed {
    background-color: #232428;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .header__inner {
      padding: 25px 0;
      @include response(1200px) {
        padding: 25px 15px;
      }
      @include response(1023px) {
        padding: 10px 15px;
      }
    }
  }
  &__inner {
    max-width: 1168px;
    width: 100%;
    margin: 0 auto;
    @extend %flex-v;
    justify-content: space-between;
    padding: 30px 0;
    transition: .3s ease-in-out;
    @include response-min(1480px) {
      max-width: 1400px;
    }
    @include response(1200px) {
      padding: 30px 15px;
    }
    @include response(1023px) {
      padding: 10px 15px;
    }
  }
  &__left {
    max-width: 20%;
    width: 100%;
    @extend %flex-v;
    justify-content: flex-start;
    @include response(1023px) {
      max-width: 33.33333%;
      width: 100%;
    }
  }
  &__middle {
    position: relative;
    @extend %flex-c;
    @include response(1023px) {
      position: static;
      max-width: 33.33333%;
      width: 100%;
    }
  }
  &__right {
    max-width: 20%;
    width: 100%;
    @extend %flex-v;
    justify-content: flex-end;
    @include response(1023px) {
      max-width: 33.33333%;
      width: 100%;
    }
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include response(1023px) {
    position: static;
    transform: none;
  }
  @include response(767px) {
    max-width: 30px;
  }
}

.main-menu {
  @include response(1023px) {
    background: #232428;
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    transform: translateX(-100%);
    transition: .3s ease-in-out;
    z-index: 4;
    &.open {
      transform: translateX(0);
    }
  }
  &__list {
    @extend %list;
    @extend %flex-v;
    @include response(1023px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__item {
    font-size: 13px;
    margin: 0 22px;
    &:nth-child(2) {
      margin-right: 70px;
    }
    &:nth-child(3) {
      margin-left: 70px;
    }
    a {
      color: #fff;
      text-decoration: none;
      transition: .3s ease-in-out;
      @include hover() {
        color: $main;
      }
    }
    @include response(1200px) {
      margin: 0 18px;
    }
    @include response(1023px) {
      margin: 18px 0;
      &:nth-child(2) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-left: 0;
      }
    }
  }
  &__close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
    svg {
      fill: #fff;
      width: 18px;
      height: 18px;
    }
    @include response(1023px) {
      display: block;
    }
  }
  .tariffs-button {
    display: flex;
    margin: 0 auto;
    background: transparent;
    width: 150px;
  }
  .language {
    display: flex;
    margin: 80px auto 0;
    
    &__current {
      color: $main;
      &::before {
        display: none;
      }
    }
    &__list {
      width: auto;
      margin: 2px 0 0;
      display: flex;
      align-items: center;
      position: static;
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
    &__item {
      margin: 0 5px;
      img {
        display: none;
      }
    }
  }
  .feedback-button {
    display: flex;
    margin: 0 auto 30px;
  }
}

.tariffs-button {
  @extend %flex-c;
  width: 110px;
  height: 38px;
  border: 1px solid #fd864b;
  background: linear-gradient(158.9deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
  font-weight: 500;
  font-size: 13px;
  line-height: normal;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: .3s ease-in-out;
  @include hover() {
    background: transparent;
  }
  @include response(767px) {
    // margin-left: 60px;
    display: none;
  }
  // @include response(359px) {
  //   margin-left: 40px;
  // }
}

.login-button {
  height: 20px;
  margin-right: 20px;
  text-decoration: none;
  @include response(767px) {
    margin: 0;
  }
  svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    transition: .3s ease-in-out;
  }
  &.is-loggin {
    flex-shrink: 0;
    line-height: 0.1;
    @extend %flex-c;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #505153;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    text-transform: uppercase;
  }
  &.is-partner {
    position: relative;
    svg {
      position: absolute;
      right: -8px;
      top: -4px;
    }
  }
  @include hover() {
    svg {
      fill: $main;
    }
  }
}

.feedback-button {
  @extend %flex-c;
  max-width: 146px;
  width: 100%;
  height: 38px;
  font-weight: 500;
  font-size: 13px;
  line-height: normal;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  @include hover() {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }
  @include response(767px) {
    display: none;
  }
}

.language {
  position: relative;
  margin-left: 33px;
  @include response(767px) {
    display: none;
  }
  &__current {
    @extend %flex-v;
    position: relative;
    font-size: 11px;
    line-height: normal;
    color: #fff;
    cursor: pointer;
    img {
      margin-right: 6px;
    }
    &::before {
      content: '';
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      @include triangle(down, 5px, #fff);
      transition: all 0.15s ease-in-out;
    }
    &.active {
      &::before {
        margin-top: -2px;
        transform: rotate(-180deg);
      }
    }
  }
  &__list {
    @extend %list;
    background: #232428;
    position: absolute;
    left: -5px;
    top: 100%;
    width: 60px;
    margin-top: 5px;
    padding: 0 5px;
    transform: translateY(-10%);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
    &.open {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
  }
  &__item {
    @extend %flex-v;
    font-size: 11px;
    line-height: normal;
    color: #fff;
    margin: 10px 0;
    img {
      margin-right: 6px;
    }
    a {
      @extend %flex-v;
      color: #fff;
      text-decoration: none;
      @include hover() {
        text-decoration: underline;
      }
    }
  }
}

.menu-opener {
  display: none;
  height: 15px;
  margin-right: 20px;
  order: -1;
  svg {
    width: 20px;
    height: 15px;
    fill: #fff;
  }
  @include response(1023px) {
    display: block;
  }
}