.main-section {
  position: relative;
  width: 100%;
  margin: 0 auto 120px;
  @include response(1023px) {
    margin: 0 auto 100px;
  }
  @include response(767px) {
    margin: 0 auto 70px;
  }

  &__lg-slider {
    &.slick-dotted.slick-slider {
      margin-bottom: 0;
    }

    .slick-dots {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
      width: auto;
      left: 30px;
      display: flex;
      flex-direction: column;

      li {
        width: 26px;
        height: 26px;
        position: relative;
        margin: 5px 0;

        .circle {
          position: absolute;
          top: 0;
          left: 0;
          width: 26px;
          height: 26px;
          visibility: hidden;
          opacity: 0;
          overflow: hidden;
        }

        .dot {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #fff;
        }

        &.slick-active {
          .circle {
            visibility: visible;
            opacity: 1;
            overflow: visible
          }
        }
      }

      @include response-min(1480px) {
        li {
          width: 42px;
          height: 42px;
          margin: 10px 0;

          .circle {
            width: 42px;
            height: 42px;
          }
        }
      }
      @include response(1200px) {
        left: 20px;
      }
      @include response(1023px) {
        left: 5px;
      }
    }
  }

  &__lg-slide {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    &.slick-slide {
      .main-section__lg-quant {
        transition: .5s ease-in-out;
        opacity: 0;
        transform: translateY(-150px);
      }

      .main-section__lg-title {
        transition: .5s ease-in-out;
        opacity: 0;
        transform: translateX(-150px);
      }

      .main-section__lg-text {
        transition: .5s ease-in-out;
        opacity: 0;
        transform: translateX(150px);
      }

      &.slick-current.slick-active {
        .main-section__lg-quant {
          opacity: 1;
          transform: translateY(0);
        }

        .main-section__lg-title {
          opacity: 1;
          transform: translateX(0);
        }

        .main-section__lg-text {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    @include response(767px) {
      background-position: center;
    }
  }

  &__lg-inner {
    height: 100%;
    max-width: 884px;
    width: 100%;
    margin: 0 auto;
    @extend %flex-v;
    @include response(1023px) {
      padding: 0 50px;
    }
  }

  &__lg-content {
    max-width: 450px;
    width: 100%;
  }

  &__lg-quant {
    position: relative;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 15px;
    padding-left: 10px;

    &::before {
      content: '';
      position: absolute;
      height: 15px;
      width: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: #ef4131;
    }
  }

  &__lg-title {
    font-weight: 800;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 30px;

    span {
      color: #ef4131;
    }

    @include response(767px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  &__lg-text {
    font-size: 16px;
    line-height: 160%;
    color: #b1b2b4;
    @include response(767px) {
      font-size: 14px;
      line-height: 140%;
    }
  }

  &__sm-slider-holder {
    max-width: 370px;
    width: 100%;
    position: absolute;
    bottom: 80px;
    right: 0;
    @include response(767px) {
      bottom: 0;
    }
    @include response(440px) {
      bottom: 0;
      max-width: 100%;
    }
    @include response(359px) {
      .main-section__arrows {
        margin-left: 5px;
      }
    }
  }

  &__sm-slide {
    position: relative;
    display: flex !important;
    align-items: flex-start;
    background: #393a3e;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
    }
  }

  &__sm-slide-image {
    margin-right: 20px;
  }

  &__sm-slide-title {
    max-width: 150px;
    width: 100%;
    font-weight: 800;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #fff;
    padding-top: 20px;
  }

  &__navigation {
    height: 32px;
    position: absolute;
    right: 30px;
    bottom: 14px;
    @extend %flex-v;
    @include response(440px) {
      right: auto;
      left: 128px;
    }
  }

  &__counter {
    width: 105px;
    @extend %flex-v;

    .slide-current {
      font-weight: 800;
      font-size: 10px;
      letter-spacing: 0.04em;
      color: #fff;
    }

    .slide-all {
      position: relative;
      font-weight: 800;
      font-size: 10px;
      letter-spacing: 0.04em;
      color: #747578;
      margin-left: 70px;

      &::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
        right: 100%;
        background: #56565a;
        margin-right: 15px;
      }
    }
  }

  &__arrows {
    @extend %flex-v;
    margin-left: 28px;
  }

  &__arrow {
    @extend %flex-c;
    width: 32px;
    height: 32px;
    border: 1px solid #747578;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
    transition: .3s ease-in-out;

    svg {
      width: 8px;
      height: 8px;
      fill: #fff;
    }

    @include hover() {
      background: #747578;
    }
  }

  &__holder {
    position: relative;

    .scroll-button {
      @extend %flex-v;
      font-weight: 500;
      font-size: 13px;
      color: #fff;
      text-decoration: none;

      svg {
        height: 15px;
        width: 15px;
        fill: #fff;
      }

      span {
        @extend %flex-c;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #56565a;
        margin-right: 14px;
        transition: .3s ease-in-out;
      }

      @include hover() {
        span {
          border-color: #fff;
        }
      }

      &__wrap {
        position: absolute;
        left: 50%;
        bottom: 110px;
        transform: translateX(-50%);
        max-width: 884px;
        width: 100%;
        margin: 0 auto;
        @include response(1023px) {
          padding: 0 50px;
        }
        @include response(767px) {
          display: none;
        }
      }
    }
  }
}

.main-about {
  position: relative;
  max-width: 1084px;
  width: 100%;
  margin: 0 auto 120px;
  @extend %flex-v;
  justify-content: space-between;
  @include response(1200px) {
    padding: 0 15px;
  }
  @include response(1023px) {
    margin: 0 auto 100px;
    flex-direction: column-reverse;
  }
  @include response(767px) {
    margin: 0 auto 70px;
  }
  // &__slider-box {
  //   max-width: 648px;
  //   width: 100%;
  //   flex-basis: 648px;
  //   margin-right: 30px;
  //   background: #25262a;
  //   box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  //   @include response(1023px) {
  //     max-width: 100%;
  //     flex-basis: auto;
  //     margin: 0 auto;
  //   }
  // }
  &__content {
    max-width: 372px;
    width: 100%;
    flex-basis: 372px;
    @include response(1070px) {
      max-width: 100%;
      flex-basis: auto;
      margin: 0 auto 50px;
    }
  }

  &__title {
    max-width: 315px;
    width: 100%;
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 40px;

    span {
      color: $main;
    }

    @include response(1070px) {
      max-width: 100%;
    }
    @include response(767px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 35px;
    @include response(767px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 160%;
    color: #b1b2b4;
    // max-height: 400px;
    // overflow-y: auto;
    p {
      @include marginY()
    }
  }

  &__slider-footer {
    width: 100%;
    max-width: 648px;
    position: absolute;
    bottom: 0;
    left: 0;
    @extend %flex-v;
    justify-content: space-between;
    background: #25262a;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    padding: 16px;

    .main-section__navigation {
      position: static;
    }

    @include response(1200px) {
      left: 15px;
    }
    @include response(1070px) {
      right: 15px;
      max-width: none;
      width: auto;
    }
    @include response(767px) {
      justify-content: center;
    }
  }

  &__sm-slider {
    max-width: 205px;
    width: 100%;
    flex-basis: 205px;
    @include response(767px) {
      display: none;
    }
  }

  &__sm-slide {
    position: relative;
    margin: 0 4px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 0;
      background: $main;
      transition: .3s ease-in-out;
    }

    &.slick-current.slick-active {
      &::before {
        height: 100%;
      }
    }
  }

  &__lg-slider {
    width: 100%;
  }

  &__lg-slide {
    @extend %flex-v;
    justify-content: space-between;
    display: flex !important;
    @include response(1070px) {
      flex-direction: column-reverse;
    }
  }

  &__image {
    max-width: 648px;
    width: 100%;
    flex-basis: 648px;
    margin-bottom: 98px;
    width: 100%;
    max-height: 367px;
    overflow: hidden;
    margin-right: 20px;
    @include response(1070px) {
      max-height: 500px;
      max-width: 100%;
      flex-basis: auto;
      margin-right: 0;
      img {
        width: 100%;
      }
    }
    @include response(1023px) {
      max-height: 367px;
    }
    @include response(767px) {
      max-height: 195px;
      margin-bottom: 64px;
    }
  }
}

.main-security {
  max-width: 1084px;
  width: 100%;
  margin: 0 auto 120px;
  @extend %flex-v;
  justify-content: space-between;
  @include response(1200px) {
    padding: 0 15px;
  }
  @include response(1023px) {
    margin: 0 auto 100px;
    flex-direction: column;
  }
  @include response(767px) {
    margin: 0 auto 70px;
  }

  &__content {
    max-width: 610px;
    width: 100%;
    flex-basis: 610px;
    margin-right: 20px;
    @include response(1023px) {
      flex-basis: auto;
      max-width: 100%;
      margin: 0 auto 50px;
    }
  }

  &__image {
    position: relative;
    max-width: 400px;
    width: 100%;
    flex-basis: 400px;
    @include response(1200px) {
      max-width: none;
      width: 385px;
      flex-basis: auto;
    }
    @include response(460px) {
      max-width: 300px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 60px;

    span {
      color: $main;
    }

    @include response(767px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  &__triggers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  &__trigger-item {
    position: relative;
    @extend %flex-v;
    max-width: calc(50% - 40px);
    width: 100%;
    flex-basis: calc(50% - 40px);
    height: 88px;
    margin: 0 20px 38px;
    background: #25262a;
    padding: 0 30px 0 92px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background: #fff;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 100%;
      background: linear-gradient(156.26deg, #EF4131 -24.56%, #FD864B 80.8%, #EF4131 187.34%);
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
      transition: .2s ease-in-out;
    }

    &.active {
      &::before {
        width: 105%;
      }

      .main-security__trigger-icon {
        &::before {
          border-color: #fff;
          left: -14px;
          right: -14px;
          bottom: -14px;
          top: -14px;
        }

        &::after {
          background: #fff;
        }
      }

      .main-security__trigger-title {
        margin-left: 20px;
      }

      .main-security__trigger-number {
        right: -6px;
        color: #fff;
      }
    }

    @include response(767px) {
      max-width: 100%;
      flex-basis: auto;
    }
  }

  &__trigger-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      transition: .3s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 6px;
      background: $main;
      border-radius: 50%;
      transition: .3s ease-in-out;
    }
  }

  &__trigger-number {
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 0.04em;
    color: #747578;
    z-index: 2;
    transition: .3s ease-in-out;
  }

  &__trigger-title {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #fff;
    transition: .3s ease-in-out;
    z-index: 2;
  }

  &__steps {
    position: absolute;
    right: 117px;
    top: 170px;
    display: flex;
    flex-direction: column-reverse;
    @include response(1200px) {
      right: 95px;
    }
    @include response(1023px) {
      right: 104px;
    }
    @include response(460px) {
      right: 40px;
    }
  }

  &__step {
    position: relative;
    margin-bottom: 30px;
    width: 17px;
    height: 20px;
    @extend %flex-c;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 39px;
      height: 39px;
      border-radius: 50%;
      border: 1px solid #ef4131;
      box-shadow: 0px 0px 10px #ef4131;
      filter: blur(3px);
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
      transition: .3s ease-in-out;
    }

    &.active {
      svg {
        fill: $main;
      }

      &::before {
        animation: pulse 0.5s 0.4s ease-out infinite;
      }
    }

    svg {
      width: 17px;
      height: 20px;
      fill: #c4c4c4;
    }

    &.step--1 {
      svg {
        width: 5px;
        height: 5px;
      }
    }
  }
}

.tariff-block {
  max-width: 1090px;
  width: 100%;
  margin: 0 auto 140px;
  @include response(1200px) {
    padding: 0 15px;
  }
  @include response(1023px) {
    margin: 0 auto 100px;
  }
  @include response(767px) {
    margin: 0 auto 70px;
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-bottom: 70px;

    span {
      color: $main;
    }

    @include response(767px) {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  &__list {
    margin: 0 -20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .slick-list {
      padding: 10px 0 20px;
    }

    .slick-dots {
      bottom: -30px;

      li {
        width: 20px;
        height: 2px;
        background: #fff;

        button {
          &::before {
            display: none;
          }
        }

        &.slick-active {
          background: $main;
        }
      }
    }
  }

  &__item {
    max-width: calc(25% - 40px);
    width: 100%;
    flex-basis: calc(25% - 40px);
    margin: 0 20px;
    @include hover() {
      .tariff-block__item-box {
        &::before {
          border-color: #fff;
          height: calc(100% + 30px);
        }
      }
      .tariff-block__item-title {
        &::before {
          background: #fff;
        }
      }
      .tariff-block__item-info {
        color: rgba(#fff, 0.7);
      }
      .tariff-block__button {
        transform: translateY(20px);
        transition-delay: .1s;

        span {
          transform: translate(0, -50%);
          left: -13px;
          width: 54px;
          height: 54px;
          border-color: #fff;

          &::before {
            background: #fff;
          }
        }

        small {
          opacity: 1;
        }
      }
      .tariff-block__item-icon {
        border-color: #fff;
        box-shadow: 0px 0px 10px #fff;

        &::before {
          filter: blur(4px);
        }
      }
    }
    @include response(1023px) {
      max-width: calc(33.33333% - 40px);
      flex-basis: calc(33.33333% - 40px);
    }

    &--disabled {
      &__item-caption {
        background: linear-gradient(171.5deg, #6f6f6f -24.56%, #909090 80.8%, #505050 187.34%);
      }

      .tariff-block__item-value,
      .tariff-block__item-info,
      .tariff-block__item-title {
        color: #525252
      }

      .tariff-block__item-title::before {
        background: #525252;
      }

      .tariff-block__button,
      .tariff-block__item-caption {
        display: none;
      }
      .tariff-block__item-icon {
        border: 1px solid transparent;
        box-shadow: none;
        &:before {
          border: none;
        }
      }
      &:hover {
        .tariff-block__item-icon {
          border: 1px solid transparent;
          box-shadow: none;
          &:before {
            border: none;
          }
        }
        .tariff-block__item-box::before {
          border-color: transparent;
          height: 100%;
        }
        .tariff-block__item {
          .tariff-block__item-icon {
            border-color: transparent;
            box-shadow: none;
          }
        }
        .tariff-block__item-value,
        .tariff-block__item-info,
        .tariff-block__item-title {
          color: #525252
        }

        .tariff-block__item-title::before {
          background: #525252;
        }
      }

      .tariff-block__item-box {
        background: #272727;

        &::before {
          background: #272727;
          box-shadow: none;
        }

        &:hover {
          &::before {
            border-color: #272727;
            background: #272727;
            height: 100%;
          }
        }
      }
    }
  }

  &__item-icon {
    position: relative;
    @extend %flex-c;
    width: 74px;
    height: 74px;
    margin: 0 auto 34px;
    overflow: hidden;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  &__item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #25262a;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    padding: 50px 50px 30px;
    height: 402px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: linear-gradient(114.46deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
      box-shadow: 0px 4.38596px 43.8596px rgba(0, 0, 0, 0.25);
      transition: .3s ease-in-out;
      border-top: 3px solid transparent;
      z-index: -1;
    }
  }

  &__item-title {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 52px;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      height: 2px;
      width: 38px;
      background: $main;
      transition: .3s ease-in-out;
    }
  }

  &__item-price {
    margin-bottom: 20px;

    &.year-price {
      .tariff-block__item-value {
        font-size: 30px;
        font-weight: 800;
        line-height: normal;

        small {
          font-size: 14px;
        }
      }
    }
  }

  &__item-value {
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    text-align: center;

    small {
      font-size: 11px;
    }
  }

  &__item-info {
    max-width: 145px;
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
    line-height: 120%;
    color: #b1b2b4;
    text-align: center;
    transition: .3s ease-in-out;
  }

  &__button {
    position: relative;
    @extend %flex-c;
    text-decoration: none;
    margin-top: auto;
    padding-left: 53px;
    transition: .3s ease-in-out;
    transition-delay: 0;

    small {
      font-weight: 500;
      font-size: 13px;
      color: #fff;
      opacity: 0;
      transition: .3s ease-in-out;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgba(#fff, 0.2);
      transition: .3s ease-in-out;

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $main;
        transition: .3s ease-in-out;
      }
    }

    @include response(1023px) {
      transition-delay: .1s;
      span {
        transform: translate(0, -50%);
        left: 0;
        border-color: #fff;

        &::before {
          background: #fff;
        }
      }
      small {
        opacity: 1;
      }
    }
  }

  &__item-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @extend %flex-c;
    height: 28px;
    width: 100%;
    background: linear-gradient(171.5deg, #ef4131 -24.56%, #fd864b 80.8%, #ef4131 187.34%);
    font-weight: 800;
    font-size: 11px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
  }

  &__wrap {
    margin-bottom: 80px;

    .tariff-block__item {
      max-width: calc(33.33333% - 40px);
      flex-basis: calc(33.33333% - 40px);

      .tariff-block__item-box {
        height: 306px;
      }
    }

    @include response(767px) {
      margin-bottom: 50px;
    }
  }
}

.main-news {
  max-width: 1084px;
  width: 100%;
  margin: 0 auto 120px;
  @include response(1200px) {
    padding: 0 15px;
  }
  @include response(1023px) {
    margin: 0 auto 100px;
  }
  @include response(767px) {
    margin: 0 auto 70px;
  }

  &__head {
    @extend %flex-v;
    justify-content: space-between;
    margin-bottom: 70px;
    @include response(1023px) {
      margin-bottom: 50px;
    }
    @include response(767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #fff;

    span {
      color: $main;
    }

    @include response(767px) {
      font-size: 28px;
      margin-bottom: 40px;
      align-self: center;
    }
  }

  &__all-link {
    @extend %flex-c;
    font-weight: 500;
    font-size: 13px;
    margin-right: 14px;
    color: #fff;
    text-decoration: none;

    span {
      @extend %flex-c;
      width: 50px;
      height: 50px;
      border: 1px solid #56565a;
      border-radius: 50%;
      margin-left: 14px;
      transition: .3s ease-in-out;

      svg {
        fill: #fff;
        width: 14px;
        height: 14px;
      }
    }

    @include hover() {
      span {
        border-color: #fff;
      }
    }
    @include response(767px) {
      margin: 0;
      span {
        height: auto;
        border: none;
        width: auto;
      }
    }
  }
}

.main-content {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 68px;
  @include response(767px) {
    padding: 80px 0 60px;
  }

  &__inner {
    max-width: 1084px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include response(1200px) {
      padding: 0 15px;
    }
  }

  &__content {
    max-width: 490px;
    width: 100%;
    flex-basis: 490px;
    @include response(1023px) {
      max-width: 100%;
      flex-basis: auto;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 40px;
    @include response(767px) {
      font-size: 28px;
      margin-bottom: 20px;
    }

    span {
      color: $main;
    }
  }

  &__text {
    max-height: 180px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 160%;
    color: #b1b2b4;

    p {
      @include marginY();
    }
  }
}

@keyframes pulse {
  0% {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    visibility: visible;
    opacity: 1;
    overflow: visible;
  }
}
