.last-news {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include response(1023px) {
    flex-direction: column;
  }
  &__main {
    max-width: 573px;
    width: 100%;
    flex-basis: 573px;
    margin-right: 20px;
    @include response(1023px) {
      margin: 0 auto 50px;
      max-width: 100%;
      flex-basis: auto;
    }
  }
  &__main-image {
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    img {
      transition: .3s ease-in-out;
      width: 100%;
    }
    @include hover() {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__main-category {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    @extend %flex-c;
    background: linear-gradient(156.88deg, #ef4131 -24.56%, #fd864B 80.8%, #ef4131 187.34%);
    font-weight: 800;
    font-size: 11px;
    line-height: 140%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    padding: 0 14px;
  }
  &__main-date {
    font-size: 13px;
    line-height: 120%;
    color: #747578;
    margin-bottom: 12px;
  }
  &__main-title {
    a {
      text-decoration: none;
      font-weight: 800;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.04em;
      color: #fff;
      transition: .3s ease-in-out;
      height: 44px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      @include hover() {
        color: $main;
      }
    }
  }
  &__list {
    max-width: 470px;
    width: 100%;
    flex-basis: 470px;
    @include response(1023px) {
      max-width: 100%;
      flex-basis: auto;
    }
  }
  &__item {
    @extend %flex-v;
    padding-bottom: 28px;
    margin-bottom: 28px;
    border-bottom: 1px solid #56565a;
    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }
  }
  &__item-image {
    max-width: 138px;
    width: 100%;
    flex-basis: 138px;
    margin-right: 20px;
    overflow: hidden;
    img {
      transition: .3s ease-in-out;
    }
    @include hover() {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__item-content {
    max-width: 312px;
    width: 100%;
    flex-basis: 312px;
  }
  &__item-date {
    font-size: 13px;
    color: #747578;
    margin-bottom: 12px;
  }
  &__item-title {
    font-weight: 800;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 14px;
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    a {
      color: #fff;
      text-decoration: none;
      transition: .3s ease-in-out;
      @include hover() {
        color: $main;
      }
    }
  }
  &__item-category {
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #ef4131;
  }
}

.news {
  max-width: 1084px;
  width: 100%;
  margin: 0 auto 40px;
  @include response(1200px) {
    padding: 0 15px;
  }
  &__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 60px -20px 0;
  }
  &__item {
    max-width: calc(33.33333% - 40px);
    width: 100%;
    flex-basis: calc(33.33333% - 40px);
    margin: 0 20px 60px;
    @include response(1023px) {
      max-width: calc(50% - 40px);
      flex-basis: calc(50% - 40px);
    }
    @include response(767px) {
      max-width: 100%;
      flex-basis: auto;
    }
  }
  &__item-image {
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
    img {
      transition: .3s ease-in-out;
      width: 100%;
    }
    @include hover() {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__item-category {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    @extend %flex-c;
    background: linear-gradient(156.88deg, #ef4131 -24.56%, #fd864B 80.8%, #ef4131 187.34%);
    font-weight: 800;
    font-size: 11px;
    line-height: 140%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    padding: 0 14px;
  }
  &__item-date {
    font-size: 13px;
    line-height: 120%;
    color: #747578;
    margin-bottom: 12px;
  }
  &__item-title {
    font-weight: 800;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.04em;
    height: 36px;
    overflow: hidden;
    a {
      text-decoration: none;
      color: #fff;
      transition: .3s ease-in-out;
      @include hover() {
        color: $main;
      }
    }
  }
}

body.article-page {
  .head-title {
    font-size: 30px;
    @include response(767px) {
      font-size: 20px;
    }
  }
}

.article {
  max-width: 716px;
  width: 100%;
  margin: 0 auto 40px;
  &--margin {
    margin: 0 auto 120px;
    @include response(767px) {
      margin: 0 auto 70px;
    }
  }
  @include response(767px) {
    padding: 0 15px;
  }
  &__image {
    margin-bottom: 40px;
    position: relative;
  }
  &__footer {
    @extend %flex-c;
    border-top: 1px solid #56565a;
    padding: 25px 0;
  }
  &__date {
    font-size: 13px;
    line-height: 120%;
    color: #747578;
    margin: 0 11px;
  }
  &__category {
    font-weight: 800;
    font-size: 11px;
    line-height: 140%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #ef4131;
    margin: 0 11px;
  }
  &__link {
    @extend %flex-v;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    @include response(1023px) {
      display: none;
    }
    span {
      @extend %flex-c;
      width: 50px;
      height: 50px;
      border: 1px solid #56565a;
      border-radius: 50%;
      flex-shrink: 0;
      transition: .3s ease-in-out;
      svg {
        width: 14px;
        height: 14px;
        fill: #fff;
      }
    }
    small {
      font-weight: 500;
      font-size: 13px;
      line-height: 120%;
      color: #fff;
      transition: .3s ease-in-out;
    }
    @include hover() {
      span {
        border-color: #fff;
      }
    }
    &--prev {
      right: 100%;
      margin-right: 35px;
      small {
        margin-left: 14px;
      }
      @include response(1200px) {
        margin-right: 15px;
        small {
          font-size: 11px;
        }
      } 
    }
    &--next {
      left: 100%;
      margin-left: 35px;
      small {
        margin-right: 14px;
      }
      @include response(1200px) {
        margin-left: 15px;
        small {
          font-size: 11px;
        }
      }
    }
  }
  &__slider-box {
    margin-bottom: 40px;
  }
  &__slider-footer {
    @extend %flex-v;
    justify-content: space-between;
    position: relative;
    padding: 16px;
    background: #25262a;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    .main-section__navigation {
      position: static;
      margin-left: 20px;
      @include response(767px) {
        display: none;
      }
    }
  }
  &__sm-slider {
    max-width: 455px;
    width: 100%;
    margin: 0 -4px;
  }
  &__sm-slide {
    position: relative;
    margin: 0 4px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 0;
      background: $main;
      transition: .3s ease-in-out;
    }
    &.slick-slide {
      opacity: 0.2;
      transition: .3s ease-in-out;
      &.slick-active {
        opacity: 1;
      }
      &.slick-current {
        &::before {
          height: 100%;
        }
      }
    }
  }
}