body.error-page {
  .wrapper {
    padding-bottom: 0;
  }
  .footer {
    display: none;
  }
}

.page-error {
  height: 100vh;
  background-position: center;
  background-size: cover;
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
    @include response(767px) {
      padding: 0 15px;
    }
    .main-button {
      max-width: 192px;
      margin: 0 auto;
    }
  }
  &__image {
    margin-bottom: 60px;
    text-align: center;
    @include response(767px) {
      margin: 0 auto 30px;
      max-width: 250px;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 22px;
    @include response(767px) {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #b1b2b4;
    max-width: 500px;
    width: 100%;
    margin: 0 auto 22px;
    @include response(767px) {
      margin-bottom: 15px;
    }
  }
}