.partners {
  max-width: 716px;
  width: 100%;
  margin: 0 auto 40px;
  @include response(767px) {
    padding: 0 15px;
  }
  &__item {
    position: relative;
    background: #25262a;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding: 24px 40px 30px 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &::before {
      content: '';
      position: absolute;
      background: #56565a;
      width: 1px;
      height: 100%;
      left: 43px;
      top: 64px;
      z-index: 2;
    }
    &:last-of-type {
      &::before {
        display: none;
      }
    }
    @include response(767px) {
      flex-direction: column;
      padding: 24px 15px 30px;
      &::before {
        display: none;
      }
    }
  }
  &__item-title {
    @extend %flex-v;
    width: 220px;
    flex-shrink: 0;
    margin-right: 20px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    span {
      position: relative;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 50%;;
      margin-right: 16px;
      border: 1px solid rgba(#fff, 0.2);
      background: #25262a;
      z-index: 3;
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #ef4131;
      }
    }
    @include response(767px) {
      width: 100%;
      margin: 0 auto 20px;
    }
  }
  &__item-text {
    max-width: 378px;
    width: 100%;
    flex-basis: 378px;
    font-size: 14px;
    line-height: 160%;
    color: #b1b2b4;
    @include response(767px) {
      max-width: 100%;
      flex-basis: auto;
    }
  }
}