.payment-form {
  max-width: 450px;
  width: 100%;
  margin: 0 auto 40px;
  background: #25262a;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  @include response(480px) {
    max-width: 95%;
  }
  &__list {
    @extend %list;
    border-bottom: 1px solid #3d3d3d;
  }
  &__list-item {
    @extend %flex-v;
    justify-content: space-between;
    margin-bottom: 25px;
    .text {
      font-size: 14px;
      color: #b1b2b4;
      @include response(480px) {
        font-size: 13px;
      }
    }
    .value {
      font-weight: 800;
      font-size: 18px;
      letter-spacing: 0.04em;
      color: #fff;
      small {
        font-size: 10px;
      }
      &.dashed {
        border-bottom: 1px dashed #fff;
      }
      @include response(480px) {
        font-size: 16px;
      }
    }
  }
  &__inner {
    padding: 40px 40px 35px;
    @include response(480px) {
      padding: 30px 20px 35px;
    }
  }
  &__total {
    @extend %flex-v;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #3d3d3d;
    margin-bottom: 25px;
  }
  &__total-text {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #fff;
  }
  &__total-value {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.04em;
    color: #fff;
    small {
      font-size: 14px;
    }
    @include response(480px) {
      font-size: 24px;
    }
  }
  &__checkbox {
    label {
      font-weight: 500;
      font-size: 13px;
      line-height: 120%;
      color: #fff;
      @extend %flex-c;
      cursor: pointer;
      @include response(480px) {
        margin-left: 15px;
      }
      a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px dashed #fff;
        transition: .3s ease-in-out;
        @include hover() {
          border-color: transparent;
          color: $main;
        }
      }
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"] + span {
        position: relative;
        &::before {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          left: -34px;
          top: -3px;
          border: 1px solid #fff;
        }
        &::after {
          content: '';
          position: absolute;
          left: -34px;
          top: -3px;
          width: 20px;
          height: 20px;
          background-color: #3d3d3d;
          background-image: url('/images/checkbox.svg');
          background-repeat: no-repeat;
          background-position: center;
          border: 1px solid #fff;
          margin-right: 14px;
          visibility: hidden;
          opacity: 0;
          overflow: hidden;
          transition: .3s ease-in-out;
        }
      }
      input[type="checkbox"]:checked + span {
        &::after {
          visibility: visible;
          opacity: 1;
          overflow: visible;
        }
      }
    }
  }
}

.payment-done {
  max-width: 450px;
  width: 100%;
  margin: 132px auto 40px;
  background: #25262a;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  @include response(480px) {
    max-width: 95%;
  }
  &__inner {
    padding: 40px 32px 30px;
    text-align: center;
  }
  &__icon {
    @extend %flex-c;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgba(#fff, 0.2);
    margin: 0 auto 40px;
  }
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 14px;
    line-height: 160%;
    color: #b1b2b4;
  }
}