.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: none;
  &.active {
    display: block;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.5);
    z-index: 1;
  }
  &__holder {
    background: #25262a;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-width: 442px;
    width: 100%;
    &--small {
      max-width: 294px;
    }
    &--md {
      max-width: 348px;
    }
    &--lg {
      .popup-info__title {
        font-size: 20px;
      }
    }
    @include response(440px) {
      max-width: 95%;
    }
  }
  &__close {
    position: absolute;
    right: -35px;
    top: 0;
    cursor: pointer;
    svg {
      width: 18px;
      height: 18px;
      fill: #fff;
      transition: .3s ease-in-out;
    }
    @include hover() {
      svg {
        transform: rotate(90deg);
        fill: #b1b2b4;
      }
    }
    @include response(767px) {
      right: 10px;
      top: -35px;
    }
  }
}

.iosBugFixCaret {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup-info {
  padding: 36px 26px 30px;
  @include response(767px) {
    padding: 30px 15px;
  }
  &__icon {
    @extend %flex-c;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin: 0 auto 20px;
    border: 1px solid rgba(#fff, 0.2);
  }
  &__title {
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #b1b2b4;
  }
  &__list {
    @extend %list;
    padding: 30px 0 0;
    margin-top: 30px;
    border-top: 1px solid #3d3d3d;
  }
  &__item {
    font-size: 14px;
    line-height: 160%;
    color: #fff;
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 16px;
    }
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px dashed #fff;
      transition: .3s ease-in-out;
      @include hover() {
        border-color: transparent;
        color: $main;
      }
    }
  }
  &__checkbox-list {
    padding: 30px 0 0;
    margin-top: 30px;
    border-top: 1px solid #3d3d3d;
  }
}

.checkbox-item {
  margin-bottom: 20px;
  margin-left: 35px;
  @include response(767px) {
    margin-left: 20px;
  }
  label {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    color: #fff;
    @extend %flex-v;
    cursor: pointer;
    @include response(480px) {
      margin-left: 15px;
    }
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px dashed #fff;
      transition: .3s ease-in-out;
      @include hover() {
        border-color: transparent;
        color: $main;
      }
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + span {
      position: relative;
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        left: -34px;
        top: -3px;
        border: 1px solid #fff;
      }
      &::after {
        content: '';
        position: absolute;
        left: -34px;
        top: -3px;
        width: 20px;
        height: 20px;
        background-color: #3d3d3d;
        background-image: url('/images/checkbox.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #fff;
        margin-right: 14px;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        transition: .3s ease-in-out;
      }
    }
    input[type="checkbox"]:checked + span {
      &::after {
        visibility: visible;
        opacity: 1;
        overflow: visible;
      }
    }
  }
}

.popup-callback {
  .popup-info {
    @include response(767px) {
      max-height: 415px;
      overflow-y: auto;
    }
  }
}