select{
  display: none;
}

.select {
  margin: 0;
  border: none;
  padding: 0;
  position: relative;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
  color: #fff;
  &::after {
    @include triangle(down, 5px, #fff);
    content: '';
    height: 7px;
    width: 7px;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform-origin: 66% 66%;
    transition: all 0.15s ease-in-out;
  }
  &:focus{
    border-color: #666;
  }
  &__current {
    @extend %flex-v;
    text-overflow: ellipsis;
    overflow: hidden;
    img {
      margin-right: 8px;
    }
    &.placeholder {
      color: #ccc;
    }
  }
  &--open {
    overflow: visible;
    &::after {
      margin-top: -6px;
      transform: rotate(-180deg);
    }
  }
  &__list {
    position: absolute;
    @extend %list;
    // width: 100%;
    left: 0;
    top: 100%;
    background-color: #25262a;
    border-radius: 0;
    border: 1px solid none;
    box-sizing: border-box;
    margin-top: 10px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-2em);
    transition: transform 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.1s ease-out;
    z-index: -1;
    .select--open & {
      visibility: visible;
      opacity: 1;
      z-index: 1;
      transform: scale(1) translateY(0);
    }
  }
  &__item {
    @extend %flex-v;
    color: #fff;
    padding: 10px 5px 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
    img {
      margin-right: 8px;
    }
    &:hover{
      background: #3d3d3d;
    }
    &--active {
      font-weight: bold;
      background: #3d3d3d;
    }
    &--disabled {
      display: none;
      cursor: not-allowed;
    }
    &.hidden {
      display: none;
    }
  }
  &.to-up {
    .select__list {
      bottom: 100%;
      top: auto;
    }
  }
}

.search-holder {
  z-index: 6;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 50px;
  height: 40px;
  input {
    width: 100%;
    height: 40px;
    font-weight: normal;
    font-size: 16px;
    color: #4f4f4f;
    padding: 0 20px;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.08);
  }
}

.search-select {
  .select__list {
    padding-top: 60px;
  }
}