.tariffs-box {
  width: 100%;
  &__image {
    position: relative;
    margin-bottom: 60px;
  }
  &__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    font-weight: 800;
    font-size: 30px;
    width: 100%;
    text-align: center;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #fff;
    span {
      color: $main;
    }
    @include response(767px) {
      font-size: 20px;
      bottom: 30px;
    }
  }
  &__content {
    margin-bottom: 100px;
    @include response(767px) {
      margin-bottom: 60px;
    }
  }
}