<template>
  <div class="main-form__inner">
    <div class="reset-password">
      <div
        class="reset-password__title"
        v-html="$t('reset-password-title-2')"
      ></div>
      <form class="form-box" id="reset-password-form" action="#">
        <div class="form-block__row">
          <div class="form-block">
            <label for="username">{{ $t("nickname") }}</label>
            <input
              v-model="username"
              id="username"
              class="main-input"
              type="text"
              name="name"
            />
          </div>
          <div class="form-block">
            <label for="code">{{ $t("confirm-code") }}</label>
            <input
              v-model="code"
              id="code"
              class="main-input"
              type="text"
              name="code"
            />
          </div>
        </div>
        <div class="form-block__row">
          <div class="form-block">
            <label for="new_password">{{ $t("new-password") }}</label>
            <input
              ref="new_password"
              id="new_password"
              class="main-input"
              type="password"
              name="password_1"
              v-model="new_password"
            />
            <div
              class="show-password"
              @click.prevent="showPass('new_password')"
            >
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#eye"
                ></use>
              </svg>
            </div>
            <div class="form-block__info">{{ $t("login-password-help") }}</div>
          </div>
        </div>
        <button
          class="main-button"
          type="submit"
          @click.prevent="forgotPasswordSubmit"
        >
          {{ $t("change-password") }}
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import { forgotPasswordSubmit } from "@/utils/auth.js";
import { showPass } from "@/utils/common.js";
import { mapActions } from "vuex";

export default {
  name: "ResetPassword-newPassword",
  data() {
    return {
      username: null,
      code: null,
      new_password: null
    };
  },
  methods: {
    ...mapActions("User/", ["setNewPasswordData"]),
    ...mapActions(["setError"]),
    showPass(ref) {
      showPass(this, ref);
    },
    forgotPasswordSubmit() {
      this.setError(null);
      forgotPasswordSubmit(
        this.username,
        this.code,
        this.new_password
      ).catch(err => this.setError(err.message));
      this.setNewPasswordData({
        username: this.username,
        password: this.new_password
      });
    }
  }
};
</script>
