<template>
  <div>
    <div
      class="reset-password__title"
      v-html="$t('reset-password-title')"
    ></div>
    <div class="reset-password__text" v-html="$t('reset-password-desc')"></div>
    <form class="form-box" id="reset-password-form" action="#">
      <div class="form-block">
        <label for="reset-password">{{ $t("nickname") }}</label>
        <input
          v-model="username"
          id="reset-password"
          class="main-input"
          type="text"
          name="name"
        />
      </div>
      <button class="main-button" type="submit" @click.prevent="forgotPassword">
        {{ $t("reset-password-btn_1") }}
      </button>
      <router-link class="form-box__link" to="/app.html/enter">
        {{ $t("reset-password-btn_2") }}
      </router-link>
    </form>
  </div>
</template>

<script>
import { forgotPassword } from "@/utils/auth.js";
import { mapActions } from "vuex";

export default {
  name: "ResetPassword-form",
  data() {
    return {
      username: null
    };
  },
  methods: {
    ...mapActions(["setError"]),
    forgotPassword() {
      this.setError(null);
      forgotPassword(this.username).catch(err => this.setError(err.message));
    }
  }
};
</script>

<style scoped></style>
