<template>
  <div>
    <transition name="translateY" mode="out-in">
      <component :key="resetComponent" :is="resetComponent"></component>
    </transition>
  </div>
</template>

<script>
import { AmplifyEventBus } from "aws-amplify-vue";
import { signIn } from "@/utils/auth.js";
import { mapState } from "vuex";

export default {
  name: "ResetPassword",
  components: {
    "reset-form": () => import("./ResetPassword-form"),
    "reset-new": () => import("./ResetPassword-newPassword"),
    "registration-success": () => import("../SingUp/SingUp-success")
  },
  data() {
    return {
      resetComponent: "reset-form"
    };
  },
  computed: {
    ...mapState("User/", ["newPassData"])
  },
  methods: {
    do(fun) {
      let a_event = {
        forgotPassword: () => {
          this.resetComponent = "reset-new";
        },
        forgotPasswordSubmit: async () => {
          this.resetComponent = "registration-success";
          await signIn(this.newPassData.username, this.newPassData.password);
        }
      };
      return typeof a_event[fun] === "function" ? a_event[fun]() : false;
    }
  },
  mounted() {
    AmplifyEventBus.$on("authState", info => {
      this.do(info);
    });
  }
};
</script>

<style scoped></style>
