<template>
  <div>
    <transition name="translateY" mode="out-in">
      <div v-if="customerInfo !== null && load" class="main-wrapper">
        <transition name="translateY" mode="out-in">
          <connectPopup
            :popupMessage="popupMessage"
            :key="`${showPopup}${Math.random()}`"
            v-if="showPopup === true"
          />
        </transition>
        <breadcrumb />
        <div class="area">
          <transition name="translateY" mode="out-in" appear>
            <tariff-bar></tariff-bar>
          </transition>
          <error-message />
          <div class="area__inner">
            <sidebar
              v-if="user !== null"
              :user="user"
              :customerInfo="customerInfo"
            />
            <transition name="translateY" mode="out-in">
              <router-view @toggle-router="showAndHide" />
            </transition>
          </div>
        </div>
      </div>
      <Spinner v-else />
    </transition>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters, mapMutations } from "vuex";
import { MAX_EVENT_PAGE_SIZE } from "@/utils/common";
import { API, graphqlOperation } from "aws-amplify";
import * as subscriptions from "@/graphql/subscriptions";
import router from "@/router";
import { bus } from "@/main";

export default {
  name: "Account",
  data() {
    return {
      showPopup: null,
      popupMessage: null,
      load: false,
      updatedRouter_sub: {},
      updatedRouterCommandStatus_sub: {},
      updatedConnectionState_sub: {},
      updatedConnectionType_sub: {},
      updatedServerLocation_sub: {},
      subscriptionsDisconnected: false
    };
  },
  components: {
    sidebar: () => import("./Account_sidebar/Account_sidebar"),
    "tariff-bar": () => import("./Account_tariff_bar"),
    breadcrumb: () => import("../Common/Breadcrumb"),
    "error-message": () => import("../Common/error-message"),
    connectPopup: () => import("../Common/connectPopup"),
    Spinner: () => import("../Common/Spinner")
  },
  computed: {
    ...mapState("EventsList/", ["events"]),
    ...mapState("Settings/", ["serverLocations"]),
    ...mapState("Router", ["customerRouters"]),
    ...mapGetters("EventsList/", ["eventsLength"]),
    ...mapState("User/", ["user", "customerInfo"])
  },
  watch: {
    subscriptionsDisconnected: () => {
      console.group("watch: subscriptionsDisconnected");
      console.log(
        "%c%s",
        "background: #ff0000; color: white; padding: 10px; font-weight: bold; font-size: 14px;",
        "subscriptionsDisconnected"
      );
      console.groupEnd();

      this.unsubscribeAll();
      this.createSubscriptions();
      this.subscriptionsDisconnected = false;
    }
  },
  methods: {
    ...mapMutations(["setData"]),
    ...mapActions("User/", ["getCustomerInfo"]),
    ...mapMutations("User/", ["mutationServerLocation"]),
    ...mapActions(["currentPage"]),
    ...mapActions("EventsList/", [
      "getCustomerFirstEventsPage",
      "getCustomerEventsPage",
      "trackCustomerEvent"
    ]),
    ...mapActions("Settings/", ["subEvent", "getServerLocations"]),
    ...mapActions("Router", ["getRouterData"]),
    showAndHide({ toggle, message }) {
      this.showPopup = toggle;
      this.popupMessage = message;
    },
    subEvent({ commandOutput, id, command, completed, success }) {
      console.group("subscriptions.updatedRouterCommandStatus");
      console.log("%c info ", "color: white; background-color: #2274A5");
      console.table("id: ", id);
      console.table("command: ", command);
      console.table("completed: ", completed);
      console.table("success: ", success);
      console.log(
        "%c commandOutput ",
        "color: white; background-color: #2274A5"
      );
      console.table(commandOutput);
      console.groupEnd();

      const ev = {
        "mikrotik-verify": async () => {
          bus.$emit("toggle-router", {
            toggle: true,
            message: status ? "Success!" : commandOutput
          });
          const verifyTimeOut = setTimeout(() => {
            bus.$emit("toggle-router", {
              toggle: false,
              message: ""
            });
            clearTimeout(verifyTimeOut);
          }, 3000);
          await this.getRouterData();
        },
        "mikrotik-config": async () => {
          bus.$emit("toggle-router", {
            toggle: true,
            message: status ? "Success!" : commandOutput
          });
          const verifyTimeOut = setTimeout(() => {
            bus.$emit("toggle-router", {
              toggle: false,
              message: ""
            });
            clearTimeout(verifyTimeOut);
          }, 3000);
          await this.getRouterData();
        },
        "mikrotik-connect": async () => {
          bus.$emit("toggle-router", {
            toggle: false,
            message: ""
          });
          await this.getRouterData();
        },
        "mikrotik-disconnect": async () => {
          bus.$emit("toggle-router", {
            toggle: false,
            message: ""
          });
          await this.getRouterData();
        }
      };
      if (ev[command]) {
        return ev[command]();
      }
    },

    unsubscribeAll() {
      if (this.updatedRouter_sub) {
        this.updatedRouter_sub.unsubscribe();
      }
      if (this.updatedRouterCommandStatus_sub) {
        this.updatedRouterCommandStatus_sub.unsubscribe();
      }
      if (this.updatedConnectionType_sub) {
        this.updatedConnectionType_sub.unsubscribe();
      }
      if (this.updatedServerLocation_sub) {
        this.updatedServerLocation_sub.unsubscribe();
      }
      if (this.updatedConnectionState_sub) {
        this.updatedConnectionState_sub.unsubscribe();
      }
    },

    createSubscription(operation, callback) {
      API.graphql(
        graphqlOperation(subscriptions[operation], { userId: this.user.sub })
      ).subscribe({
        next: data => {
          const update = data?.value?.data[operation]?.data;
          callback(update);
        },
        error: err => {
          console.error(err);
          this.subscriptionsDisconnected = true;
        }
      });
    },
    createSubscriptions() {
      this.updatedRouter_sub = this.createSubscription("updatedRouter", u => {
        this.setData(
          {
            module: "Router",
            type: "updateRouter",
            items: u
          },
          { root: true }
        );
        bus.$emit("toggle-edit");
      });
      this.updatedRouterCommandStatus_sub = this.createSubscription(
        "updatedRouterCommandStatus",
        u => {
          this.subEvent(u);
        }
      );
      this.updatedConnectionState_sub = this.createSubscription(
        "updatedConnectionState",
        u => {
          console.group("188 line: subscriptions.updatedConnectionState");
          console.log("%c res ", "color: white; background-color: #2274A5");
          console.table("updatedConnectionState: ", u);
          console.groupEnd();
          bus.$emit("toggle-router", {
            toggle: false,
            message: ""
          });
          this.getCustomerInfo();
        }
      );
      this.updatedConnectionType_sub = this.createSubscription(
        "updatedConnectionType",
        u => {
          console.log(u);
          console.group("subscriptions.updatedConnectionType ");
          console.log(
            "%c Connection Type ",
            "color: white; background-color: #2274A5"
          );
          console.table("title: ", u);
          console.groupEnd();
        }
      );
      this.updatedServerLocation_sub = this.createSubscription(
        "updatedServerLocation",
        u => {
          this.mutationServerLocation({
            type: "customerInfo",
            items: u
          });
        }
      );
    }
  },

  async created() {
    this.load = true;
    const preloaderTimeOut = setTimeout(() => {
      this.load = true;
      clearTimeout(preloaderTimeOut);
    }, 500);

    if (this.customerInfo === null) {
      this.getCustomerInfo();
    }

    if (this.customerRouters === null) {
      await this.getRouterData();
    }

    if (this.serverLocations === null) {
      await this.getServerLocations();
      console.group(
        '293 line: Account_settings "serverLocations" loaded if were null '
      );
      console.log(
        "%c Server Locations ",
        "color: white; background-color: #2274A5"
      );
      console.table("this.serverLocations: ", this.serverLocations);
      console.groupEnd();
    }

    const checkAutoconfigurationTimeOut = setTimeout(() => {
      if (this.customerRouters) {
        console.log(this.$route.path);
        console.group("Current app path");
        console.log("%c path ", "color: white; background-color: #2274A5");
        console.table("this.$route.path: ", this.$route.path);
        console.groupEnd();
        if (
          this.customerRouters.routerState.autoconfiguration &&
          this.$route.path !== "/app.html/account/settings"
        ) {
          router.push({ path: "/app.html/account/settings" });
        }
      }
      clearTimeout(checkAutoconfigurationTimeOut);
    }, 1000);

    bus.$on("toggle-router", data => {
      this.showAndHide(data);
    });
    // this.trackCustomerEvent(`test-${Math.random()}`);
    const { nextId } = await this.getCustomerEventsPage(null);
    if (this.eventsLength < MAX_EVENT_PAGE_SIZE) {
      await this.getCustomerEventsPage(nextId);
    }

    console.group('285 line: Account_settings "serverLocations" ');
    console.log(
      "%c Server Locations ",
      "color: white; background-color: #2274A5"
    );
    console.table("this.serverLocations: ", this.serverLocations);
    console.groupEnd();

    this.createSubscriptions();
  },

  async beforeDestroy() {
    this.unsubscribeAll();
  }
};
</script>
