<template>
  <div class="area__main">
    <div class="area-form">
      <div class="area-form__inner">
        <div class="area-form__head">
          <div class="area-form__title" v-html="$t('personal-title')"></div>
          <div class="area-form__edit" @click.prevent="editUserInfo">
            <transition name="translateX" mode="out-in">
              <span :key="$t('edit-btn')" v-if="changeUserInfo === false">
                {{ $t("edit-btn") }}
              </span>
              <span :key="$t('edit-cancel-btn')" v-else>
                {{ $t("edit-cancel-btn") }}
              </span>
            </transition>
          </div>
        </div>
        <form
          class="area-form__form  area-form__form--readonly"
          v-if="user !== null"
        >
          <div class="form-block" key="login">
            <label for="accountLogin">
              {{ $t("login-label") }}
            </label>
            <input
              id="accountLogin"
              class="main-input"
              type="text"
              name="login"
              :value="user.username"
              readonly
            />
          </div>
          <div class="form-block" key="Name">
            <label for="accountName">
              {{ $t("nickname") }}
            </label>
            <input
              id="accountName"
              class="main-input"
              type="text"
              name="name"
              v-model.lazy="user.name"
              :readonly="changeUserInfo === false"
            />
          </div>
          <div class="form-block" key="Email">
            <label for="accountEmail">Email</label>
            <input
              id="accountEmail"
              class="main-input"
              type="email"
              name="email"
              v-model.lazy="user.email"
              :readonly="changeUserInfo === false"
            />
          </div>
          <div class="form-block__row" v-if="changeUserInfo" key="Button">
            <button
              class="button-transparent"
              type="submit"
              @click.prevent="changeEmailAndName"
            >
              {{ $t("save-btn") }}
            </button>
          </div>
        </form>
      </div>
    </div>
    <transition name="translateX" mode="out-in">
      <div v-if="verifyField !== false" class="area-form" key="verifyEmail">
        <div class="area-form__inner">
          <div class="form-block">
            <label for="verifyEmailInput">
              {{ $t("confirm-code") }}
            </label>
            <input
              id="verifyEmailInput"
              class="main-input"
              type="text"
              name="text"
              v-model.lazy="confirmVerifyEmailCode"
            />
          </div>
          <div class="form-block__row">
            <button
              class="button-transparent"
              type="submit"
              @click.prevent="verifyAccountSend"
            >
              {{ $t("save-btn") }}
            </button>
          </div>
        </div>
      </div>
    </transition>
    <div class="area-form">
      <div class="area-form__inner">
        <div class="area-form__head">
          <div
            class="area-form__title"
            v-html="$t('personal-password-title')"
          ></div>
          <div
            :key="userPasswordEditText"
            class="area-form__edit"
            @click.prevent="editUserPassword"
          >
            <transition name="translateX" mode="out-in">
              <span :key="$t('edit-btn')" v-if="changeUserPassword === false">
                {{ $t("edit-btn") }}
              </span>
              <span :key="$t('edit-cancel-btn')" v-else>
                {{ $t("edit-cancel-btn") }}
              </span>
            </transition>
          </div>
        </div>
        <form class="area-form__form area-form__form--readonly">
          <div class="form-block__row password-block">
            <div class="form-block">
              <label for="accountNewPassword">
                {{ $t("password") }}
              </label>
              <input
                id="accountNewPassword"
                class="main-input"
                type="password"
                name="password_1"
                :placeholder="$t('placeholder-new-password')"
                v-model="password"
                :readonly="changeUserPassword === false"
              />
            </div>
            <div class="form-block" v-if="changeUserPassword">
              <label for="accountOldPassword">
                {{ $t("old-password") }}
              </label>
              <input
                id="accountOldPassword"
                class="main-input"
                type="password"
                name="password_2"
                :placeholder="$t('placeholder-old-password')"
                v-model="oldPassword"
                :readonly="changeUserPassword === false"
              />
            </div>
          </div>
          <div class="form-block__row" v-if="changeUserPassword" key="Button">
            <button
              class="button-transparent button-password"
              type="submit"
              @click.prevent="changePassword"
            >
              {{ $t("save-btn") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import {
  changePassword,
  changeEmailAndName,
  getUser,
  verifyCurrentUserAttributeSubmit
} from "@/utils/auth.js";
import { Auth } from "aws-amplify";

export default {
  name: "Account_personal",
  data() {
    return {
      changeUserInfo: false,
      userInfoEditText: this.$t("edit-btn"),
      userPasswordEditText: this.$t("edit-btn"),
      changeUserPassword: false,
      password: "*********",
      oldPassword: "",
      verifyField: false,
      confirmVerifyEmailCode: ""
    };
  },
  computed: {
    ...mapState("User/", ["user"])
  },
  methods: {
    ...mapActions("User/", ["setInitUserDate"]),
    ...mapActions(["setError", "currentPage"]),
    editUserInfo() {
      this.changeUserInfo = this.changeUserInfo === false;
    },
    editUserPassword() {
      if (this.changeUserPassword === false) {
        this.changeUserPassword = true;
        this.userPasswordEditText = this.$t("edit-cancel-btn");
        this.password = "";
      } else {
        this.changeUserPassword = false;
        this.password = "*********";
        this.userPasswordEditText = this.$t("edit-btn");
      }
    },
    async changePassword() {
      if (this.oldPassword !== "" && this.password !== "") {
        this.setError(null);
        let answ = await changePassword(
          this.oldPassword,
          this.password
        ).catch(err => this.setError(err.message));
        if (answ === "SUCCESS") {
          this.password = "*********";
          this.changeUserPassword = false;
        }
      } else {
        this.setError("Passwords do not be empty");
      }
    },
    async changeEmailAndName() {
      if (this.user.name !== "" && this.user.email !== "") {
        this.setError(null);
        let username = this.user.name;
        let email = this.user.email;
        let user = await getUser();
        let answ = await changeEmailAndName(user, username, email).catch(err =>
          this.setError(err.message)
        );
        if (answ === "SUCCESS") {
          this.changeUserInfo = false;
          this.verifyField = true;
          this.userInfoEditText = this.$t("edit-btn");
          await getUser();
          await Auth.currentCredentials().then(data => console.log(data));
        }
      } else {
        this.setError("Fields do not be empty");
      }
    },
    async verifyAccountSend() {
      if (this.confirmVerifyEmailCode.length > 0) {
        let currentUserAttribute = await verifyCurrentUserAttributeSubmit(
          this.confirmVerifyEmailCode
        ).catch(err => this.setError(err.message));
        if (currentUserAttribute === "SUCCESS") {
          this.verifyField = false;
        }
      } else {
        this.setError("Field do not be empty");
      }
    }
  },
  created() {
    this.currentPage(this.$t("personal-title"));
  }
};
</script>

<style lang="scss" scoped>
.form-block__row {
  margin: 0;
}
.form-block__row.password-block .form-block {
  border-bottom: 1px solid #3d3d3d;
  margin-right: 20px;
  padding-bottom: 18px;
  &:last-child {
    margin-right: 0;
  }
}
.button-password {
  margin-top: 25px;
}
.form-block__row .form-block {
  margin: 0;
}
</style>
