<template>
  <div class="area__main" v-if="events">
    <div class="area-logs">
      <div class="area-logs__head" v-html="$t('event_log-title')"></div>
      <div class="area-logs__inner">
        <div class="area-logs__list scroll-text">
          <div
            class="area-logs__item"
            :class="{ new: event.isRead === false }"
            v-for="event in events.customerEvents"
            :key="event.id + Math.random()"
            @mouseleave="read(event)"
          >
            <div class="area-logs__item-date">
              {{ event.timestamp | ddmmyy }}
            </div>
            <div class="area-logs__item-text">
              {{ event.message }}
            </div>
          </div>
          <infinite-loading
            v-if="this.events.customerEvents.length >= 10"
            @infinite="loadMore"
          >
            <div class="loadingEnd" slot="no-more">No more message</div>
            <div class="loadingEnd" slot="no-results">No more message</div>
          </infinite-loading>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InfiniteLoading from "vue-infinite-loading";
import { mapActions, mapState } from "vuex";
// import { MAX_EVENT_PAGE_SIZE } from "@/utils/common"

export default {
  name: "Account_logs",
  computed: {
    ...mapState("EventsList/", ["events"])
  },
  methods: {
    ...mapActions("EventsList/", ["setEventsAsRead", "getCustomerEventsPage"]),
    ...mapActions(["currentPage"]),
    read(payload) {
      if (payload.isRead === false) {
        this.setEventsAsRead({ pageId: payload.pageId, id: payload.id });
      }
    },
    async loadMore($state) {
      if (this.events.id === null) {
        $state.complete();
      } else {
        let { nextId } = await this.getCustomerEventsPage(this.events.id);
        if (nextId === null) {
          $state.complete();
        } else {
          $state.loaded();
        }
      }
    }
  },
  components: {
    InfiniteLoading
  },
  created() {
    this.currentPage(this.$t("event_log-title"));
  }
};
</script>

<style lang="scss" scoped>
.loadingEnd {
  padding: 25px 0 0 0;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
</style>
