<template>
  <div
    class="area-status"
    v-if="customerInfo !== null && customerInfo.isPartner === false"
  >
    <div class="area-status__inner">
      <div class="area-status__tariff">
        <div class="area-status__tariff-icon">
          <img src="/images/tariff-icon-2.svg" width="36" height="30" alt="" />
        </div>
        <div class="area-status__tariff-info">
          <div class="area-status__tariff-name">
            {{ customerInfo.plan.title }}
          </div>
          <div class="area-status__tariff-period">
            {{ customerInfo.plan.durationMonths }} {{ $t("months-label") }}
          </div>
        </div>
      </div>

      <div class="area-status__col">
        <button class="test-btn" @click.prevent="testChange">
          Test change tariff plan
        </button>
      </div>

      <div class="area-status__col">
        <div class="area-status__col-title">{{ $t("connected-label") }}</div>
        <div
          class="area-status__col-value"
          v-if="customerInfo.connectionSettings.connected === false"
        >
          {{ $t("actively-label-off") }}
        </div>
        <div class="area-status__col-value" v-else>
          {{ $t("actively-label-on") }}
        </div>
      </div>
      <div
        class="area-status__col"
        v-if="customerInfo.connectionSettings.connected !== false"
      >
        <div class="area-status__col-title">{{ $t("connection-type") }}</div>
        <div class="area-status__col-value">
          {{ customerInfo.connectionSettings.connectionType.title }}
        </div>
      </div>
      <div
        class="area-status__col"
        v-if="customerInfo.connectionSettings.connected !== false"
      >
        <div class="area-status__col-title">{{ $t("server-location") }}</div>
        <div class="area-status__col-value">
          <span class="flag-wrapper">
            <country-flag
              :country="
                customerInfo.connectionSettings.serverLocation.countryCode
              "
              size="normal"
            />
          </span>
          <span>
            {{ customerInfo.connectionSettings.serverLocation.title }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import CountryFlag from "vue-country-flag";
export default {
  name: "Account_tariff_bar",
  components: {
    CountryFlag
  },
  methods: {
    ...mapActions("Router/", ["changePlan"]),
    testChange() {
      // "5a6fa783-cc61-4e2f-b0aa-bf7b94ca8c3a" testPlan
      // "09eecfc4-2acb-492d-ab4f-a2d307b68125" free`
      if (
        this.customerInfo.plan.id === "09eecfc4-2acb-492d-ab4f-a2d307b68125"
      ) {
        this.changePlan({ newPlanId: "5a6fa783-cc61-4e2f-b0aa-bf7b94ca8c3a" });
      } else {
        this.changePlan({ newPlanId: "09eecfc4-2acb-492d-ab4f-a2d307b68125" });
      }
    }
  },
  computed: {
    ...mapState("User/", ["customerInfo"])
  }
};
</script>

<style lang="scss" scoped>
.flag-wrapper {
  margin-right: 10px;
  width: 30px;
  height: 20px;
}
.area-status {
  &__col-value {
    display: flex;
    align-items: center;
    span {
      &:first-child {
        flex-shrink: 0;
      }
    }
  }
}
.test-btn {
  margin: 0 auto;
  border: none;
  background: #232428;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5 ease;
  &:hover {
    background: lighten(#232428, 5);
  }
  &:active {
    background: darken(#232428, 5);
  }
}
</style>
