<template>
  <div class="area__sidebar">
    <div class="area__user">
      <div class="area__user-text">{{ $t("welcome") }}</div>
      <div class="area__user-name">{{ user.name }}</div>
    </div>
    <tariff
      v-if="customerInfo.plan === null || customerInfo.plan === undefined"
    ></tariff>
    <bonus v-if="customerInfo.isPartner !== false"></bonus>
    <nav class="area__nav">
      <ul class="area__nav-list">
        <template v-if="customerInfo.isPartner === false">
          <!-- v-if="customerRouters.routerState.verification" -->
          <template
            v-if="
              customerRouters && !customerRouters.routerState.autoconfiguration
            "
          >
            <li
              class="area__nav-item"
              :class="{ active: this.$route.path === '/app.html/account' }"
            >
              <router-link to="/app.html/account">
                <svg>
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/images/sprite.svg#area-icon-2"
                  ></use>
                </svg>
                {{ $t("router-label") }}
              </router-link>
            </li>
            <li
              class="area__nav-item"
              :class="{
                active: this.$route.path === '/app.html/account/settings'
              }"
            >
              <router-link to="/app.html/account/settings">
                <svg>
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/images/sprite.svg#area-icon-5"
                  ></use>
                </svg>
                {{ $t("setting-label") }}
              </router-link>
            </li>
          </template>
          <template v-else>
            <li
              class="area__nav-item"
              :class="{
                active: this.$route.path === '/app.html/account/settings'
              }"
            >
              <router-link to="/app.html/account/settings">
                <svg>
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/images/sprite.svg#area-icon-5"
                  ></use>
                </svg>
                {{ $t("setting-label") }}
              </router-link>
            </li>
            <li
              class="area__nav-item"
              :class="{ active: this.$route.path === '/app.html/account' }"
            >
              <router-link to="/app.html/account">
                <svg>
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/images/sprite.svg#area-icon-2"
                  ></use>
                </svg>
                {{ $t("router-label") }}
              </router-link>
            </li>
          </template>

          <li
            class="area__nav-item"
            :class="{
              active: this.$route.path === '/app.html/account/personal'
            }"
          >
            <router-link to="/app.html/account/personal">
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#profile"
                ></use>
              </svg>
              <span v-html="$t('personal-title')"></span>
            </router-link>
          </li>
          <li
            class="area__nav-item"
            :class="{ active: this.$route.path === '/app.html/account/logs' }"
          >
            <router-link to="/app.html/account/logs">
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#area-icon-1"
                ></use>
              </svg>
              <span v-html="$t('event_log-title')"></span>
              <transition name="fade" mode="out-in">
                <small :key="newEventsLength" v-if="newEventsLength !== 0">
                  {{ newEventsLength }}
                </small>
              </transition>
            </router-link>
          </li>
        </template>
        <template v-else>
          <li
            class="area__nav-item"
            :class="{
              active: this.$route.path === '/app.html/account/personal'
            }"
          >
            <router-link to="/app.html/account/personal">
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#profile"
                ></use>
              </svg>
              <span v-html="$t('personal-title')"></span>
            </router-link>
          </li>
          <li
            class="area__nav-item"
            :class="{
              active: this.$route.path === '/app.html/account/program'
            }"
          >
            <router-link to="/app.html/account/program">
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#area-icon-6"
                ></use>
              </svg>
              {{ $t("affiliate-label") }}
            </router-link>
          </li>
        </template>
        <!--
        <li
          class="area__nav-item"
          :class="{ active: this.$route.path === '/app.html/account/help' }"
        >
          <router-link to="/app.html/account/help">
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/images/sprite.svg#area-icon-3"
              ></use>
            </svg>
            Помощь
          </router-link>
        </li>
        -->
        <li class="area__nav-item">
          <a href="#" @click.prevent="signOut">
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/images/sprite.svg#area-icon-4"
              ></use>
            </svg>
            {{ $t("exit-btn") }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { signOut } from "@/utils/auth.js";
import router from "@/router";

import { mapActions, mapGetters, mapState } from "vuex";
export default {
  name: "Account_sidebar",
  props: {
    user: {
      type: Object
    },
    customerInfo: {
      type: Object
    }
  },
  components: {
    tariff: () => import("./Account_sidebar-tariff"),
    bonus: () => import("./Account_sidebar-bonus")
  },
  computed: {
    ...mapGetters("EventsList/", ["newEventsLength"]),
    ...mapState("Router/", ["customerRouters"])
  },
  methods: {
    ...mapActions(["removeData"]),
    ...mapActions("Router", ["getRouterData"]),
    signOut() {
      this.removeData("User");
      this.removeData("Router");
      signOut().catch(err => console.log("SIGN OUT ERR", err));
    }
  },
  async created() {
    if (this.customerInfo.isPartner !== false) {
      router.push({ path: "/app.html/account/program" });
    }
    if (this.customerRouters === null) {
      await this.getRouterData();
    }
  }
};
</script>

<style scoped>
.area__user-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
</style>
