<template>
  <div class="bonus-block">
    <div class="bonus-block__head">
      <div class="bonus-block__title">{{ $t("bonus-title") }}</div>
      <div class="bonus-block__value">
        <small>$</small> {{ customerInfo.partnerAttributes.totalBonuses }}
      </div>
    </div>
    <div class="bonus-block__text">
      {{ $t("bonus-desc") }}
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Account_sidebar-bonus",
  computed: {
    ...mapState("User/", ["customerInfo"])
  }
};
</script>

<style scoped></style>
