<template>
  <a href="#" class="area__select-tariff">
    {{ $t("select-tariff") }}
    <span></span>
  </a>
</template>

<script>
export default {
  name: "Account_sidebar-tariff"
};
</script>

<style scoped></style>
