<template>
  <div class="area__main">
    <div class="area-help">
      <img src="/images/chat-img-2.png" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  name: "Account_help"
};
</script>

<style scoped></style>
