<template>
  <div class="success-block" :key="'success-form'">
    <svg>
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="@/assets/images/sprite.svg#success"
      ></use>
    </svg>
    {{ $t("register-success") }}
  </div>
</template>

<script>
export default {
  name: "SingUpRegistration-success"
};
</script>

<style scoped></style>
