<template>
  <form :key="'confirm-form'" class="form-box" id="confirm-form" action="#">
    <div class="form-block__row">
      <div class="form-block">
        <label for="code">
          {{ $t("confirm-code") }}
        </label>
        <input v-model="code" class="main-input" type="text" id="code" />
      </div>
    </div>
    <button class="main-button" type="submit" @click.prevent="conformBtn">
      {{ $t("send-btn") }}
    </button>
  </form>
</template>

<script>
import { confirmSignUp } from "@/utils/auth.js";
import { mapState, mapActions } from "vuex";
export default {
  name: "SingUpRegistration-confirm",
  data() {
    return {
      code: null
    };
  },
  computed: {
    ...mapState("User/", ["registrationDate"])
  },
  methods: {
    ...mapActions(["setError"]),
    async conformBtn() {
      this.setError(null);
      await confirmSignUp(
        this.registrationDate.username,
        this.code
      ).catch(err => this.setError(err.message));
    }
  },
  mounted() {
    this.setError(null);
  }
};
</script>

<style scoped></style>
