<template>
  <div>
    <component :is="singUpComponent"></component>
  </div>
</template>

<script>
export default {
  name: "SingUp",
  props: { singUpComponent: { type: String, default: "registration-form" } },
  components: {
    "registration-form": () => import("./SingUp-form"),
    "registration-confirm": () => import("./SingUp-confirm"),
    "registration-success": () => import("./SingUp-success")
  }
};
</script>

<style lang="scss" scoped></style>
