<template>
  <form class="form-box" id="registration-form" action="#">
    <div class="form-block__row">
      <div class="form-block">
        <label for="name">{{ $t("nickname") }}</label>
        <input
          v-model="username"
          class="main-input"
          type="text"
          id="name"
          name="name"
        />
      </div>
      <div class="form-block">
        <label for="email">Email</label>
        <input
          v-model="email"
          class="main-input"
          type="email"
          name="email"
          id="email"
        />
      </div>
    </div>
    <div class="form-block__row">
      <div class="form-block">
        <label for="password_1">{{ $t("password") }}</label>
        <div class="input-wrapper">
          <input
            v-model="password"
            class="main-input"
            type="password"
            ref="password_1"
            name="password_1"
            id="password_1"
            autocomplete="on"
          />
          <div class="show-password" @click.prevent="showPass('password_1')">
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="@/assets/images/sprite.svg#eye"
              ></use>
            </svg>
          </div>
        </div>
        <div class="form-block__info">
          {{ $t("login-password-help") }}
        </div>
      </div>
      <div class="form-block">
        <label for="password_2">{{ $t("re-password") }}</label>
        <div class="input-wrapper">
          <input
            v-model="rePassword"
            class="main-input"
            type="password"
            ref="password_2"
            name="password_2"
            id="password_2"
            autocomplete="on"
          />
          <div class="show-password" @click.prevent="showPass('password_2')">
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="@/assets/images/sprite.svg#eye"
              ></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="radio-block__list">
      <div class="radio-block">
        <label>
          <input
            type="radio"
            @click="userCheck('default')"
            name="user-select"
            checked
          />
          <span>
            Обычный пользователь
            <small
              >Рекомендуется для клиентов с особыми потребностями в шифровании
              (Open VPN или PPTP) и скорости доступа в сеть Интернет.</small
            >
          </span>
        </label>
      </div>
      <div class="radio-block">
        <label>
          <input type="radio" @click="userCheck('pro')" name="user-select" />
          <span>
            Продвинутый пользователь
            <small
              >Рекомендуется для клиентов с особыми потребностями в шифровании
              (Open VPN или PPTP) и скорости доступа в сеть Интернет.</small
            >
          </span>
        </label>
      </div>
    </div>
    -->
    <button
      class="main-button"
      type="submit"
      @click.prevent="signUp(username, password, rePassword, email, userType)"
    >
      {{ $t("sing-up") }}
    </button>
  </form>
</template>

<script>
import { showPass } from "@/utils/common.js";
import { signUp } from "@/utils/auth.js";
import { mapActions } from "vuex";

export default {
  name: "SingUpRegistration-form",
  data() {
    return {
      userType: "default",
      username: null,
      password: null,
      rePassword: null,
      email: null
    };
  },
  methods: {
    ...mapActions("User/", ["setRegistrationDate"]),
    ...mapActions(["setError"]),
    showPass(ref) {
      showPass(this, ref);
    },
    userCheck(type) {
      this.userType = type;
    },
    async signUp(username, password, rePassword, email, type) {
      this.setError(null);
      if (password === rePassword) {
        await signUp(
          username,
          password,
          email,
          type,
          this.$route.query.ref,
          this.$route.query.tariff,
          this.$route.query.duration,
          this.$route.query.become_partner
        ).catch(err => this.setError(err.message));
        this.setRegistrationDate({ username, password, email, type });
      } else {
        this.setError("Passwords must match each other");
      }
    }
  },
  mounted() {
    this.setError(null);
  }
};
</script>
