<template>
  <form
    key="info"
    class="area-form__form area-form__form--readonly"
    v-if="plan_status"
  >
    <div class="form-block">
      <label for="router_name">{{ $t("router-name-label") }}</label>
      <input
        class="main-input"
        type="text"
        id="router_name"
        name="router_name"
        :value="change_form.name"
        readonly
      />
    </div>
    <div class="form-block">
      <label for="ip_address">
        {{ $t("router-ip-label") }}
      </label>
      <input
        v-if="change_form.ipAddress !== null"
        class="main-input"
        type="email"
        id="ip_address"
        name="ip_address"
        :value="`${change_form.ipAddress} :${change_form.portNumber}`"
        readonly
      />
      <input
        v-else
        class="main-input"
        type="email"
        id="ip_address"
        name="ip_address"
        :value="$t('device-not-connected')"
        readonly
      />
    </div>
  </form>
  <form key="info" class="area-form__form area-form__form--readonly" v-else>
    <div class="form-block">
      <label for="router_name">{{ $t("router-name-label") }}</label>
      <input
        class="main-input"
        type="text"
        id="router_name"
        name="router_name"
        :value="change_form.name"
        readonly
      />
    </div>
  </form>
</template>

<script>
export default {
  name: "view-form",
  props: {
    change_form: {
      type: Object
    },
    getСheckIp: {
      type: Boolean
    },
    plan_status: {
      type: Boolean,
      default: () => true
    }
  }
};
</script>

<style lang="scss" scoped>
.area-form__form {
  .edit-subtitle {
    font-size: 13px;
    line-height: 120%;
    color: #b1b2b4;
    margin-bottom: 10px;
    text-align: center;
    display: block;
  }
}
</style>
