<template>
  <div>
    <div class="area-form__inner">
      <div class="area-form__head">
        <div class="area-form__title" v-html="$t('router-title-2')"></div>
        <a
          href="#"
          :key="`${editText}string`"
          @click.prevent="editRouterInfo"
          class="area-form__edit"
        >
          <transition name="translateX" mode="out-in">
            <span :key="$t('edit-btn')" v-if="editRouter === false">
              {{ $t("edit-btn") }}
            </span>
            <span :key="'nope'" v-else-if="getСheckIp === undefined"></span>
            <span :key="$t('edit-cancel-btn')" v-else>
              {{ $t("edit-cancel-btn") }}
            </span>
          </transition>
        </a>
      </div>
      <transition name="translateY" mode="out-in">
        <template v-if="customerInfo.plan.isFree">
          <div>
            <transition name="translateY" mode="out-in">
              <edit-form
                :change_form="getCurrentRouter"
                :getСheckIp="getСheckIp"
                v-if="editRouter"
              />
              <view-form
                :getСheckIp="getСheckIp"
                :change_form="getCurrentRouter"
                v-else
              />
            </transition>
            <!-- 178.150.113.78 || 192.168.11.1  -->
            <template v-if="getСheckIp">
              <small class="edit-subtitle">
                {{ $t("router-need_4") }}
              </small>
              <router-faq :title="$t('router-open__title')">
                <ul>
                  <li>
                    {{ $t("router-open__1") }}
                  </li>
                  <li>
                    {{ $t("router-open__2") }}
                  </li>
                  <li>
                    {{ $t("router-open__3") }}
                  </li>
                  <li>
                    {{ $t("router-open__4") }}
                    <ul>
                      <li>
                        {{ $t("router-open__4-1") }}
                      </li>
                    </ul>
                  </li>
                  <li>
                    {{ $t("router-open__4-2") }}
                    <ul>
                      <li>
                        {{ $t("router-open__4-2-1") }}
                      </li>
                    </ul>
                  </li>
                  <li>
                    {{ $t("router-open__4-3") }}
                    <ul>
                      <li>
                        {{ $t("router-open__4-3-1") }}
                      </li>
                      <li>
                        {{ $t("router-open__4-3-2") }}
                      </li>
                    </ul>
                  </li>
                  <li>
                    {{ $t("router-open__5") }}
                    <ul>
                      <li>
                        <p v-html="$t('router-open__5-1')"></p>
                      </li>
                    </ul>
                  </li>
                  <li>
                    {{ $t("router-open__6") }}
                  </li>
                </ul>
                {{ $t("router-open__continue") }}
              </router-faq>
              <template
                v-if="customerRouters.routerState.verification === false"
              >
                <div class="form-block__row" style="align-items: center">
                  <div class="form-block">
                    <transition name="translateY" mode="out-in">
                      <a
                        href="#"
                        @click.prevent="verify"
                        class="main-button"
                        style="margin-top: 0"
                        v-if="showButton"
                        :key="$t('router-check-connection')"
                      >
                        {{ $t("router-check-connection") }}
                      </a>
                    </transition>
                  </div>
                </div>
              </template>
              <template v-else>
                <div class="form-block">
                  <server-info
                    v-if="customerInfo.plan.title === 'Free'"
                    :title="'Скопировать данные'"
                    :ip="currentServerLocationAddress"
                    :name="customerInfo.connectionSettings.serverLocation.title"
                    :login="customerInfo.login"
                  />
                  <div class="form-block">
                    <server-select
                      :customerInfo="customerInfo"
                      :serverLocations="serverLocations"
                      :editPage="true"
                    />
                  </div>
                  <div class="form-block__row" style="align-items: center">
                    <div class="form-block">
                      <a
                        href="#"
                        @click.prevent="keysGenerate"
                        class="main-button"
                        style="margin-top: 0"
                      >
                        {{ $t("key-btn") }}
                      </a>
                    </div>
                  </div>
                </div>
              </template>
            </template>
            <template v-else>
              <small class="edit-subtitle">
                {{ $t("router-need_2") }}
              </small>
              <router-faq :title="$t('router-open__title-2')">
                <p>{{ $t("faq-page-setting-step-1-description_37") }}</p>
                <p>{{ $t("faq-page-setting-step-1-description_38") }}</p>
                <p>{{ $t("faq-page-setting-step-1-description_39") }}</p>
                <p>{{ $t("faq-page-setting-step-1-description_40") }}</p>
                <ul>
                  <li>
                    {{ $t("faq-page-setting-step-1-description_40_1") }}
                  </li>
                  <li>
                    <p>{{ $t("faq-page-setting-step-1-description_40_2") }}</p>
                    <small>
                      {{ $t("faq-page-setting-step-1-description_40_2_1") }}
                    </small>
                  </li>
                  <li>
                    {{ $t("faq-page-setting-step-1-description_40_3") }}
                  </li>
                  <li>
                    <p>{{ $t("faq-page-setting-step-1-description_40_4") }}</p>
                    <small>{{
                      $t("faq-page-setting-step-1-description_40_4_1")
                    }}</small
                    ><br />
                    <small>{{
                      $t("faq-page-setting-step-1-description_40_4_2")
                    }}</small>
                  </li>
                  <li>
                    <p>{{ $t("faq-page-setting-step-1-description_41") }}</p>
                    <small>{{
                      $t("faq-page-setting-step-1-description_41_1")
                    }}</small
                    ><br />
                    <small>{{
                      $t("faq-page-setting-step-1-description_41_2")
                    }}</small
                    ><br />
                    <small>{{
                      $t("faq-page-setting-step-1-description_41_3")
                    }}</small>
                  </li>
                  <li>
                    <p>{{ $t("faq-page-setting-step-1-description_42") }}</p>
                    <small>{{
                      $t("faq-page-setting-step-1-description_42_1")
                    }}</small>
                    <ul>
                      <li>
                        {{ $t("faq-page-setting-step-1-description_42_2") }}
                      </li>
                      <li>
                        <p>
                          {{ $t("faq-page-setting-step-1-description_42_3") }}
                        </p>
                        <code>{{
                          $t("faq-page-setting-step-1-description_42_3_1")
                        }}</code>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <p>{{ $t("faq-page-setting-step-1-description_43") }}</p>
                    <p>{{ $t("faq-page-setting-step-1-description_43_1") }}</p>
                  </li>
                  <li>
                    <p>{{ $t("faq-page-setting-step-1-description_44") }}</p>
                  </li>
                </ul>
              </router-faq>
              <div class="form-block">
                <div class="form-block">
                  <div class="form-block">
                    <server-select
                      :customerInfo="customerInfo"
                      :serverLocations="serverLocations"
                      :editPage="true"
                    />
                  </div>
                  <div class="form-block__row" style="align-items: center">
                    <div class="form-block">
                      <a
                        href="#"
                        @click.prevent="keysGenerate"
                        class="main-button"
                        style="margin-top: 0"
                      >
                        {{ $t("router-save-file") }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </template>
        <template v-else>
          <div class="form-block">
            <transition name="translateY" mode="out-in">
              <edit-form
                :change_form="getCurrentRouter"
                :getСheckIp="getСheckIp"
                :plan_status="customerInfo.plan.isFree"
                v-if="editRouter"
              />
              <view-form
                :getСheckIp="getСheckIp"
                :change_form="getCurrentRouter"
                :plan_status="customerInfo.plan.isFree"
                v-else
              />
            </transition>
            <router-faq :title="$t('faq-page-setting-step-1-title_router')">
              <ul>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_1") }}
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_2") }}
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_3") }}
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_4") }}
                  <ul>
                    <li>
                      <p>
                        {{ $t("faq-page-setting-step-1-description_24_4_1") }}
                      </p>
                      <small>
                        {{ $t("faq-page-setting-step-1-description_24_4_1-1") }}
                      </small>
                    </li>
                    <li>
                      <p>
                        {{ $t("faq-page-setting-step-1-description_24_4_2") }}
                      </p>
                      <small>
                        {{ $t("faq-page-setting-step-1-description_24_4_2-1") }}
                      </small>
                    </li>
                    <li>
                      <p>
                        {{ $t("faq-page-setting-step-1-description_24_4_3") }}
                      </p>
                      <small>
                        {{ $t("faq-page-setting-step-1-description_24_4_3-1") }}
                      </small>
                      <small>
                        {{ $t("faq-page-setting-step-1-description_24_4_3-2") }}
                      </small>
                      <small>{{
                        $t("faq-page-setting-step-1-description_24_4_3-3")
                      }}</small>
                    </li>
                  </ul>
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_5") }}
                  <ul>
                    <li>
                      <p>
                        {{ $t("faq-page-setting-step-1-description_24_5_1") }}
                      </p>
                      <small>
                        {{ $t("faq-page-setting-step-1-description_24_5_1-1") }}
                      </small>
                    </li>
                    <li>
                      <p>
                        {{ $t("faq-page-setting-step-1-description_24_5_2") }}
                      </p>
                      <small>
                        {{ $t("faq-page-setting-step-1-description_24_5_2-1") }}
                      </small>
                    </li>
                  </ul>
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_6") }}
                  <ul>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_6_1") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_6_2") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_6_3") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_6_4") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_6_5") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_6_6") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_6_7") }}
                    </li>
                  </ul>
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_7") }}
                  <ul>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_7_1") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_7_2") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_7_3") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_7_4") }}
                    </li>
                  </ul>
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_8") }}
                  <ul>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_8_1") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_8_2") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_8_3") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_8_4") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_8_5") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_8_6") }}
                    </li>
                  </ul>
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_9") }}
                  <ul>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_9_1") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_9_2") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_9_3") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_9_4") }}
                    </li>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_9_5") }}
                    </li>
                  </ul>
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_10") }}
                  <ul>
                    <li>
                      {{ $t("faq-page-setting-step-1-description_24_10_1") }}
                    </li>
                  </ul>
                </li>
                <li>
                  {{ $t("faq-page-setting-step-1-description_24_11") }}
                </li>
              </ul>
            </router-faq>
            <server-info
              v-if="customerInfo.plan.title !== 'Free'"
              :title="'Скопировать данные'"
              :ip="currentServerLocationAddress"
              :name="customerInfo.connectionSettings.serverLocation.title"
              :login="customerInfo.login"
            />
            <div class="form-block">
              <server-select
                :customerInfo="customerInfo"
                :serverLocations="serverLocations"
                :editPage="true"
              />
            </div>
            <div class="form-block__row" style="align-items: center">
              <div class="form-block">
                <a
                  href="#"
                  @click.prevent="keysGenerate"
                  class="main-button"
                  style="margin-top: 0"
                >
                  {{ $t("key-btn") }}
                </a>
              </div>
            </div>
          </div>
        </template>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import { showPass } from "@/utils/common.js";
import { bus } from "@/main";

export default {
  name: "Account_router__manual",
  data() {
    return {
      editRouter: false,
      editText: false,
      loading: false,
      acardionShow: false,
      showButton: false
    };
  },
  components: {
    "edit-form": () => import("./Account_router__edit-form"),
    "view-form": () => import("./Account_router__view-form"),
    "server-select": () => import("./router__common/server-select"),
    "router-faq": () => import("./router__common/block__faq"),
    "server-info": () => import("./router__common/serverInfo")
  },
  computed: {
    ...mapState("User/", ["customerInfo", "user"]),
    ...mapState("Router", ["customerRouters", "manualConfiguration"]),
    ...mapState("Settings/", ["serverLocations", "currentServerLocation"]),
    ...mapGetters("Router", [
      "getCurrentRouter",
      "getCurrentServerLocation",
      "getСheckIp"
    ]),
    ...mapGetters("Settings/", ["currentServerLocationAddress"])
  },
  methods: {
    ...mapActions("Router", [
      "getRouterData",
      "updateConnect",
      "applyRouterSettings",
      "verifyRouter",
      "getManualConfiguration",
      "keysGenerate"
    ]),
    ...mapActions("Settings/", [
      "getServerLocations",
      "updateServerLocation",
      "getCurrentSelectedServerLocation"
    ]),
    ...mapActions(["setError"]),
    async verify() {
      this.verifyRouter({
        routerId: this.customerRouters.id
      });
    },
    editRouterInfo() {
      if (!this.customerInfo.connectionSettings.connected) {
        if (this.editRouter === false) {
          this.editRouter = true;
          this.editText = this.$t("edit-btn");
        } else {
          this.editRouter = false;
          this.editText = this.$t("edit-cancel-btn");
        }
      } else {
        bus.$emit("toggle-router", {
          toggle: true,
          message: this.$t("edit-alert")
        });
        setTimeout(() => {
          bus.$emit("toggle-router", {
            toggle: false,
            message: ""
          });
        }, 2000);
      }
    },
    showPass(ref) {
      showPass(this, ref);
    },
    async applySettings() {
      this.loading = true;
      bus.$emit("toggle-router", {
        toggle: this.loading,
        message: this.$t("settingsApplied")
      });
      const { req } = await this.applyRouterSettings({
        routerId: this.changeRouterData.routerId
      });
      bus.$emit("toggle-router", {
        toggle: !req,
        message: ""
      });
    }
  },
  async created() {
    bus.$on("toggle-edit", () => this.editRouterInfo());
    bus.$on("toggle-help", ({ status }) => (this.showButton = status));

    if (this.customerRouters === null) {
      await this.getRouterData();
    }
    if (this.serverLocations === null) {
      await this.getServerLocations();
    }

    if (this.currentServerLocation === null) {
      this.getCurrentSelectedServerLocation({
        title: this.customerInfo.connectionSettings.serverLocation.title
      });
    }

    if (this.getCurrentRouter.ipAddress === null) {
      this.editRouter = true;
      this.editText = this.$t("edit-btn");
    }
  }
};
</script>

<style lang="scss" scoped>
.acardion {
  &__inner {
    &--open {
      height: 100%;
    }
  }
}
.faq {
  &__item {
    &--no-bordered {
      border-top: 1px solid transparent;
      border-bottom: transparent;
    }
  }
}
.mCustomScrollBox {
  overflow-y: auto;
}
.content ul {
  margin: 10px 0;
}

.form-block {
  small {
    color: #747578;
  }
}
</style>
