<template>
  <div class="area__main">
    <div class="area-form">
      <div class="area-form__inner">
        <div class="area-form__head">
          <div class="area-form__title">Удобное <span>приложение</span>!</div>
        </div>
        <div class="area-form__head">
          <div class="area-form__img">
            <div class="area-form__img-text">
              <span> {{ user.name }} </span>!
              <br />
              Управляй через удобное приложение!
            </div>
            <img
              src="@/assets/images/main-news-img-2.jpg"
              :alt="`${user.name} alert`"
            />
          </div>
        </div>
        <div class="area-form__form area-form__form--readonly mb-0">
          <div class="apps-list__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
            error dignissimos mollitia architecto temporibus culpa in cum alias
            assumenda voluptas distinctio amet consequuntur ab atque non eos
            porro vel a quibusdam harum delectus modi. Animi, facilis asperiores
            quidem deserunt quod saepe harum maiores aperiam. Alias temporibus
            iure ut iste error quas aspernatur! Saepe sed fugit similique eius
            illum quos autem, impedit sequi. Enim commodi blanditiis laboriosam
            magnam voluptas harum officiis. Nobis, ducimus tempore ipsa qui
            ullam aperiam totam harum exercitationem suscipit doloribus
            eligendi? Ipsum ex similique ab sapiente omnis magnam? Possimus
            commodi reiciendis voluptates rem ut. Enim, eligendi nihil?
          </div>
        </div>
        <div class="area-form__form area-form__form--readonly mb-0">
          <div class="form-block">
            <ul class="apps-list">
              <li class="apps-list__item">
                <div class="apps-list__icon">
                  <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512;"
                    xml:space="preserve"
                  >
                    <g>
                      <polygon
                        style="fill:#00BCD4;"
                        points="224,240 224,52 0,80 0,240  "
                      />
                      <polygon
                        style="fill:#00BCD4;"
                        points="256,240 512,240 512,16 256,48  "
                      />
                      <polygon
                        style="fill:#00BCD4;"
                        points="256,272 256,464 512,496 512,272  "
                      />
                      <polygon
                        style="fill:#00BCD4;"
                        points="224,272 0,272 0,432 224,460  "
                      />
                    </g>
                  </svg>
                  <div class="apps-list__icon-name">Windows</div>
                </div>
                <div class="apps-list__action">
                  <button class="main-button">
                    Скачать
                  </button>
                </div>
              </li>
              <li class="apps-list__item">
                <div class="apps-list__icon">
                  <svg
                    version="1.1"
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512.002 512.002"
                    style="enable-background:new 0 0 512.002 512.002;"
                    xml:space="preserve"
                  >
                    <g>
                      <path
                        d="M461.071,411.093c-15.014-6.147-21.437-14.308-20.816-26.485c0.64-14.212-7.423-24.62-11.252-28.733  c2.313-8.837,9.073-39.406,0.007-65.959c-9.743-28.42-39.49-71.825-70.183-114.492c-12.565-17.522-13.159-36.57-13.846-58.625  c-0.658-21.036-1.4-44.88-13.131-71.387C319.095,16.55,293.501,0,261.628,0c-18.961,0-38.424,5.926-53.401,16.257  c-30.67,21.167-26.616,67.316-23.933,97.851c0.368,4.182,0.713,8.132,0.915,11.504c1.786,29.908,0.161,45.672-1.964,50.463  c-1.375,3.131-8.143,12.041-15.306,21.476c-7.408,9.758-15.807,20.816-22.691,31.121c-8.214,12.401-14.845,31.355-21.257,49.684  c-4.692,13.411-9.124,26.08-13.438,33.655c-8.177,14.564-6.142,28.145-4.444,34.422c-3.096,2.15-7.568,6.386-11.343,14.366  c-4.563,9.736-13.821,14.967-33.072,18.669c-8.847,1.81-14.947,5.53-18.137,11.056c-4.642,8.043-2.113,18.148,0.193,25.056  c3.408,10.151,1.284,16.577-2.577,28.246c-0.89,2.691-1.899,5.741-2.921,9.102c-1.61,5.308-1.029,10.131,1.722,14.341  c7.27,11.113,28.486,15.033,50.326,17.613c13.04,1.548,27.312,6.763,41.116,11.808c13.525,4.942,27.511,10.054,40.223,11.605  c1.932,0.243,3.846,0.364,5.691,0.364c19.194,0,27.866-12.735,30.616-17.967c6.894-1.407,30.673-5.912,55.181-6.518  c24.469-0.697,48.143,4.135,54.85,5.635c2.108,4.036,7.667,13.253,16.527,18.004c4.87,2.662,11.647,4.188,18.588,4.188  c0.002,0,0,0,0.002,0c7.413,0,21.516-1.753,32.678-13.497c11.133-11.796,38.949-26.859,59.261-37.856  c4.533-2.454,8.773-4.751,12.491-6.822c11.41-6.325,17.636-15.362,17.081-24.794C474.141,421.194,468.955,414.322,461.071,411.093z   M276.345,73.995c11.061,0,20.06,11.455,20.06,25.535c0,5.859-1.617,11.449-4.412,15.892c0.745-2.374,1.148-4.944,1.148-7.61  c0-11.774-7.47-20.997-17.007-20.997c-9.32,0-16.903,9.419-16.903,20.997c0,0.791,0.039,1.58,0.112,2.369  c-0.494-0.188-0.975-0.374-1.445-0.552c-1.073-3.25-1.615-6.638-1.615-10.099C256.284,85.451,265.282,73.995,276.345,73.995z   M242.329,125.164c4.214,0.744,14.606,4.892,22.197,7.922c3.508,1.4,6.539,2.61,8.67,3.374c6.715,2.308,10.217,5.261,10.641,6.364  c-0.159,0.713-0.499,1.027-4.249,2.978c-1.894,0.985-4.25,2.211-7.2,4.009l-1.971,1.194c-7.92,4.803-26.465,16.048-31.499,16.706  c-3.42,0.46-5.535-0.868-10.29-4.098c-1.073-0.73-2.214-1.506-3.431-2.286c-8.573-5.627-14.088-11.82-14.71-14.242  c2.795-2.16,9.723-7.568,13.27-10.771c7.2-6.695,14.445-11.194,18.031-11.194C241.978,125.117,242.15,125.13,242.329,125.164z   M214.073,78.724c8.142,0,15.019,10.97,15.019,23.957c0,1.638-0.118,3.267-0.364,5.006c-0.499,0.213-0.989,0.445-1.471,0.688  c-0.049-1.083-0.161-2.177-0.334-3.277c-1.742-10.03-8.394-17.311-15.812-17.311c-0.549,0-1.101,0.042-1.707,0.134  c-4.413,0.735-7.875,4.049-9.772,8.751C201.299,86.359,207.142,78.724,214.073,78.724z M189.271,469.128  c-1.753,8.241-11.083,14.942-13.284,16.424c-0.799,0.18-1.788,0.274-2.951,0.274c-12.768,0-38.043-10.623-51.622-16.329  l-2.009-0.846c-7.583-3.178-19.961-5.18-31.932-7.118c-9.525-1.543-22.568-3.653-24.731-5.562c-1.753-1.966,0.28-8.358,2.073-13.995  c1.291-4.052,2.624-8.241,3.354-12.627c1.036-6.993-0.181-12.691-1.158-17.267c-0.829-3.881-1.484-6.945-0.781-9.913  c0.51-2.199,11.366-4.554,16.003-5.562c6.518-1.417,13.26-2.879,17.668-5.555c5.961-3.611,9.189-10.27,12.036-16.146  c2.061-4.247,4.19-8.642,6.723-10.084c0.143-0.086,0.361-0.181,0.777-0.181c4.746,0,14.704,9.975,20.442,18.907  c1.455,2.249,4.151,6.76,7.27,11.984c9.329,15.609,22.102,36.987,28.773,44.151C181.933,446.123,191.664,458.508,189.271,469.128z   M327.787,360.037c-2.145,10.243-2.372,43.003-2.396,50.366c-4.375,5.558-26.498,31.732-58.261,36.438  c-12.938,1.88-25.019,2.834-35.907,2.834c-9.307,0-15.246-0.719-17.712-1.091l-15.961-18.263  c6.292-3.109,12.584-9.666,10.927-21.497c-1.42-10.005-14.291-19.928-29.196-31.419c-12.187-9.394-26.001-20.042-29.807-29.062  c-7.865-18.602-1.665-51.315,9.144-68.159c5.342-8.434,9.705-21.225,13.925-33.592c4.556-13.356,9.268-27.166,14.538-33.21  c8.345-9.438,16.057-27.801,17.423-42.273c7.814,7.458,19.936,16.926,31.135,16.926c1.724,0,3.398-0.225,4.997-0.677  c7.662-2.213,18.931-8.724,29.829-15.019c9.396-5.429,20.982-12.124,25.342-12.733c7.475,10.734,50.912,106.858,55.35,137.727  c3.512,24.425-0.198,44.616-2.063,52.525c-1.501-0.206-3.29-0.371-5.17-0.371C331.824,349.488,328.621,356.092,327.787,360.037z   M449.194,431.621c-2.533,2.315-11.449,6.869-20.071,11.271c-15.295,7.808-32.631,16.661-40.416,24.85  c-10.962,11.536-23.361,19.285-30.848,19.285c-0.901,0-1.722-0.114-2.453-0.346c-8.128-2.533-14.821-14.266-11.224-30.997  c3.789-17.093,8.153-40.341,7.447-54.049c-0.163-3.112-0.438-6.502-0.705-9.78c-0.499-6.127-1.239-15.233-0.475-17.935  c0.151-0.071,0.319-0.131,0.505-0.183c0.032,7.836,1.734,23.467,14.234,28.917c3.725,1.625,7.982,2.448,12.652,2.448  c12.521,0,26.414-6.141,32.105-11.833c3.351-3.349,6.169-7.45,8.143-10.697c0.431,1.264,0.697,2.916,0.557,5.044  c-0.744,11.558,4.873,26.891,15.563,32.542l1.556,0.819c3.807,1.996,13.92,7.307,14.083,9.824  C449.842,430.801,449.758,431.097,449.194,431.621z"
                      />
                      <path
                        style="fill:#FFFFFF;"
                        d="M259.345,110.181c-0.076-0.789-0.112-1.578-0.112-2.369c0-11.578,7.584-20.997,16.903-20.997   c9.537,0,17.007,9.223,17.007,20.997c0,2.666-0.401,5.236-1.148,7.61c2.795-4.442,4.412-10.032,4.412-15.892   c0-14.079-9-25.535-20.06-25.535c-11.063,0-20.06,11.455-20.06,25.535c0,3.461,0.542,6.849,1.615,10.099   C258.369,109.807,258.851,109.992,259.345,110.181z"
                      />
                      <path
                        style="fill:#FFFFFF;"
                        d="M209.407,87.924c0.604-0.092,1.157-0.134,1.707-0.134c7.418,0,14.069,7.281,15.812,17.311   c0.175,1.1,0.285,2.196,0.334,3.277c0.482-0.245,0.972-0.475,1.471-0.688c0.245-1.739,0.364-3.369,0.364-5.006   c0-12.986-6.879-23.957-15.019-23.957c-6.933,0-12.775,7.636-14.44,17.95C201.532,91.973,204.993,88.657,209.407,87.924z"
                      />
                      <path
                        style="fill:#FFFFFF;"
                        d="M349.093,349.859c1.865-7.908,5.575-28.1,2.063-52.525c-4.438-30.87-47.875-126.994-55.35-137.727   c-4.36,0.609-15.946,7.304-25.342,12.733c-10.896,6.295-22.166,12.807-29.829,15.019c-1.6,0.453-3.273,0.677-4.997,0.677   c-11.199,0-23.32-9.468-31.135-16.926c-1.365,14.472-9.078,32.835-17.423,42.273c-5.271,6.045-9.982,19.854-14.538,33.21   c-4.22,12.367-8.583,25.157-13.925,33.592c-10.809,16.842-17.009,49.555-9.144,68.159c3.806,9.018,17.62,19.668,29.807,29.062   c14.905,11.491,27.776,21.413,29.196,31.419c1.657,11.831-4.635,18.388-10.927,21.497l15.961,18.263   c2.466,0.374,8.405,1.091,17.712,1.091c10.886,0,22.97-0.952,35.907-2.834c31.763-4.705,53.886-30.88,58.261-36.438   c0.023-7.363,0.248-40.123,2.396-50.366c0.834-3.945,4.037-10.547,16.136-10.547C345.803,349.488,347.594,349.653,349.093,349.859z   "
                      />
                      <path
                        style="fill:#E69629;"
                        d="M210.488,147.081c0.623,2.422,6.136,8.617,14.71,14.242c1.217,0.781,2.359,1.558,3.431,2.286   c4.756,3.232,6.871,4.559,10.29,4.098c5.034-0.66,23.579-11.904,31.499-16.706l1.971-1.194c2.949-1.796,5.306-3.023,7.2-4.009   c3.75-1.951,4.089-2.266,4.249-2.978c-0.425-1.103-3.926-4.056-10.641-6.364c-2.134-0.764-5.162-1.974-8.67-3.374   c-7.589-3.03-17.984-7.176-22.197-7.922c-0.18-0.034-0.349-0.045-0.539-0.045c-3.586,0-10.831,4.499-18.031,11.194   C220.211,139.513,213.283,144.92,210.488,147.081z"
                      />
                      <path
                        style="fill:#E69629;"
                        d="M147.149,395.532c-3.119-5.222-5.815-9.735-7.27-11.984c-5.738-8.931-15.696-18.907-20.442-18.907   c-0.416,0-0.635,0.097-0.777,0.181c-2.533,1.442-4.662,5.837-6.723,10.084c-2.847,5.875-6.075,12.535-12.036,16.146   c-4.41,2.676-11.152,4.138-17.668,5.555c-4.637,1.007-15.493,3.362-16.003,5.562c-0.703,2.968-0.049,6.033,0.781,9.913   c0.977,4.578,2.196,10.274,1.158,17.267c-0.732,4.386-2.063,8.575-3.354,12.627c-1.793,5.637-3.826,12.03-2.073,13.995   c2.162,1.909,15.207,4.019,24.731,5.562c11.972,1.937,24.351,3.942,31.932,7.118l2.009,0.846   c13.579,5.706,38.854,16.329,51.622,16.329c1.162,0,2.152-0.094,2.951-0.274c2.202-1.482,11.531-8.184,13.284-16.424   c2.394-10.619-7.338-23.005-13.349-29.444C169.25,432.519,156.477,411.14,147.149,395.532z"
                      />
                      <path
                        style="fill:#E69629;"
                        d="M435.761,420.974l-1.556-0.819c-10.688-5.65-16.307-20.984-15.563-32.542   c0.139-2.129-0.126-3.78-0.557-5.045c-1.974,3.247-4.793,7.348-8.143,10.697c-5.691,5.692-19.584,11.833-32.105,11.833   c-4.67,0-8.927-0.823-12.652-2.448c-12.498-5.451-14.202-21.081-14.234-28.917c-0.185,0.052-0.354,0.112-0.505,0.183   c-0.764,2.701-0.024,11.806,0.475,17.935c0.267,3.279,0.542,6.669,0.705,9.78c0.708,13.708-3.658,36.958-7.447,54.049   c-3.597,16.732,3.097,28.464,11.224,30.997c0.73,0.232,1.551,0.346,2.453,0.346c7.487,0,19.886-7.749,30.848-19.285   c7.788-8.189,25.122-17.04,40.416-24.85c8.622-4.402,17.537-8.956,20.071-11.271c0.564-0.525,0.648-0.819,0.65-0.821   C449.681,428.282,439.568,422.972,435.761,420.974z"
                      />
                    </g>
                  </svg>
                  <div class="apps-list__icon-name">Linux</div>
                </div>
                <div class="apps-list__action">
                  <button class="main-button distabled">
                    В разработке
                  </button>
                </div>
              </li>
              <li class="apps-list__item">
                <div class="apps-list__icon">
                  <svg
                    version="1.1"
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512.002 512.002"
                    style="enable-background:new 0 0 512.002 512.002;"
                    xml:space="preserve"
                  >
                    <g>
                      <path
                        style="fill:#A6D864;"
                        d="M309.446,512c17.119,0,32.048-14.929,32.048-32.048v-74.846h21.399   c12.841,0,21.399-8.561,21.399-21.399v-213.77H127.708v213.772c0,12.839,8.56,21.399,21.399,21.399h21.401v74.846   c0,17.119,14.925,32.048,32.048,32.048c17.117,0,32.045-14.929,32.045-32.048v-74.846H277.4v74.846   C277.398,497.071,292.327,512,309.446,512z"
                      />
                      <path
                        style="fill:#A6D864;"
                        d="M437.74,383.709c17.119,0,32.045-14.927,32.045-32.048v-149.69   c0-17.029-14.925-32.034-32.045-32.034c-17.121,0-32.048,15.006-32.048,32.034v149.69   C405.692,368.78,420.618,383.709,437.74,383.709z"
                      />
                      <path
                        style="fill:#A6D864;"
                        d="M74.261,383.709c17.121,0,32.048-14.927,32.048-32.048v-149.69   c0-17.029-14.925-32.034-32.048-32.034c-17.119,0-32.045,15.006-32.045,32.034v149.69C42.217,368.78,57.142,383.709,74.261,383.709   z"
                      />
                      <path
                        style="fill:#A6D864;"
                        d="M358.611,3.229c-4.278-4.305-10.647-4.305-14.925,0l-28.701,28.605l-1.324,1.322   c-17.018-8.522-36.099-12.778-57.347-12.819c-0.104,0-0.207-0.003-0.311-0.003h-0.003c-0.108,0-0.207,0.003-0.314,0.003   c-21.247,0.041-40.327,4.297-57.344,12.819l-1.327-1.322L168.314,3.229c-4.281-4.305-10.647-4.305-14.925,0   c-4.281,4.281-4.281,10.635,0,14.913l27.763,27.768c-8.946,5.973-17.058,13.282-24.112,21.642   c-16.888,20.018-27.661,46.071-29.142,74.299c-0.014,0.294-0.043,0.584-0.056,0.878c-0.091,1.922-0.133,3.854-0.133,5.794h256.583   c0-1.939-0.046-3.871-0.133-5.794c-0.014-0.294-0.043-0.584-0.06-0.878c-1.478-28.228-12.253-54.282-29.142-74.297   c-7.051-8.36-15.166-15.669-24.112-21.642l27.766-27.768C362.893,13.864,362.893,7.511,358.611,3.229z M202.515,111.16   c-8.853,0-16.031-7.177-16.031-16.031s7.177-16.031,16.031-16.031c8.853,0,16.031,7.177,16.031,16.031   S211.368,111.16,202.515,111.16z M309.485,111.16c-8.853,0-16.031-7.177-16.031-16.031s7.177-16.031,16.031-16.031   c8.853,0,16.031,7.177,16.031,16.031S318.339,111.16,309.485,111.16z"
                      />
                    </g>
                  </svg>
                  <div class="apps-list__icon-name">Android</div>
                </div>
                <div class="apps-list__action">
                  <button class="main-button distabled">
                    В разработке
                  </button>
                </div>
              </li>
              <li class="apps-list__item">
                <div class="apps-list__icon">
                  <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512;"
                    xml:space="preserve"
                  >
                    <path
                      style="fill:#D6D6D8;"
                      d="M332.242,81.127c16.308-19.711,27.769-46.482,27.194-73.75c-0.097-4.579-4.274-7.979-8.802-7.288  c-23.927,3.656-50.674,18.641-67.23,38.024c-15.259,17.643-28.801,45.061-27.783,72.23c0.153,4.094,3.612,7.357,7.707,7.241  C289.737,116.837,315.81,101.023,332.242,81.127"
                    />
                    <path
                      style="fill:#C2C2C4;"
                      d="M276.227,110.343c-1.579-42.121,30.2-91.319,81.782-107.18c-1.619-2.226-4.418-3.525-7.374-3.074  c-23.927,3.656-50.674,18.641-67.23,38.024c-15.259,17.643-28.802,45.062-27.783,72.23c0.153,4.094,3.612,7.357,7.707,7.241  c5.121-0.145,10.228-0.862,15.255-2.06C277.199,114.212,276.303,112.381,276.227,110.343z"
                    />
                    <path
                      style="fill:#D6D6D8;"
                      d="M459.704,372.704c-16.579-8.347-62.333-37.152-62.899-101.034  c-0.484-52.293,34.216-82.7,48.977-93.317c3.504-2.521,4.274-7.454,1.61-10.851c-12.265-15.635-26.606-25.664-40.382-32.165  c0.008-0.001,0.018-0.003,0.026-0.004c-1.784-0.843-4.839-2.181-7.284-3.144l0,0c-69.32-27.287-113.006,14.538-139.469,14.538  c-20.261,0-51.526-22.893-84.652-22.268c-43.529,0.632-83.623,25.322-106.07,64.282c-34.438,59.774-23.081,141.486,3.75,205.168  c0,0.001-0.001,0.001-0.001,0.002c0.687,1.629,1.781,4.164,2.693,6.211c0.001-0.002,0.001-0.003,0.002-0.005  c7.773,17.456,16.672,33.408,26.047,46.968c21.527,31.115,47.208,66.167,80.951,64.879c32.477-1.288,44.755-20.998,84.003-20.998  c39.223,0,50.287,20.998,84.627,20.373c34.957-0.663,57.093-31.753,78.473-63.016c18.817-27.47,29.198-54.282,33.358-66.353  C464.704,378.372,463.105,374.416,459.704,372.704z"
                    />
                    <path
                      style="fill:#C2C2C4;"
                      d="M122.657,447.086c-9.375-13.56-18.274-29.512-26.047-46.968c-0.001,0.001-0.001,0.003-0.002,0.005  c-0.911-2.046-1.996-4.56-2.693-6.211c0,0,0.001-0.001,0.001-0.002c-26.666-63.288-38.311-145.183-3.75-205.168  c20.731-35.98,56.515-59.773,96.154-63.702c-3.534-0.425-7.099-0.647-10.688-0.58c-43.529,0.632-83.623,25.322-106.07,64.282  c-34.438,59.774-23.081,141.486,3.75,205.168c0,0.001-0.001,0.002-0.001,0.002c0.687,1.629,1.781,4.164,2.693,6.211  c0.001-0.002,0.002-0.003,0.002-0.005c7.773,17.456,16.672,33.408,26.046,46.968c21.527,31.115,47.208,66.167,80.951,64.879  c3.32-0.132,6.42-0.464,9.368-0.94C164.063,505.284,141.727,474.65,122.657,447.086z"
                    />
                  </svg>
                  <div class="apps-list__icon-name">IOS</div>
                </div>
                <div class="apps-list__action">
                  <button class="main-button distabled">
                    В разработке
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="area-form">
      <div
        class="area-form__inner area-from__options-switcher Account_router__button-wrapper"
      >
        <button
          class="main-button Account_router__button"
          :class="{
            selected: currentComponent === 'Account_router__automatic'
          }"
          @click="changeOptions('Account_router__automatic')"
        >
          {{ $t("router-tab-1") }}
        </button>
        <button
          class="main-button  Account_router__button"
          :class="{
            selected: currentComponent === 'Account_router__manual'
          }"
          @click="changeOptions('Account_router__manual')"
        >
          {{ $t("router-tab-2") }}
        </button>
      </div>
      <transition name="translateX" mode="out-in">
        <component :is="currentComponent"></component>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import { bus } from "@/main";

export default {
  name: "Account_router",
  components: {
    Account_router__automatic: () => import("./Account_router__automatic"),
    Account_router__manual: () => import("./Account_router__manual")
  },
  data() {
    return {
      currentComponent: null
    };
  },
  computed: {
    ...mapState("User", ["user"]),
    ...mapState("Router", ["lastRouterCommand", "customerRouters"])
  },
  methods: {
    ...mapActions(["currentPage"]),
    ...mapActions("Router", ["getRouterData", "verifyRouter"]),
    ...mapMutations(["setData"]),
    changeOptions(option) {
      this.currentComponent !== option
        ? (this.currentComponent = option)
        : (this.currentComponent = null);
    }
  },
  async created() {
    this.currentPage(this.$t("router-label"));

    if (this.customerRouters === null) {
      await this.getRouterData();
    }

    bus.$on("router-verify", () => {
      bus.$emit("toggle-router", {
        toggle: true,
        message: this.$t("router-check-connection")
      });
    });
  }
};
</script>

<style lang="scss">
.apps-list {
  &__desc {
    padding-bottom: 30px;
    color: white;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 50px;
      height: 50px;
    }
    &-name {
      margin-left: 15px;
      font-size: 18px;
      color: white;
    }
  }
  &__action {
    .main-button {
      min-width: 220px;
      margin-top: 0;
      &.distabled {
        cursor: default;
        color: #747578;
        background: transparent;
        border: 1px solid #747578;
      }
    }
  }
}

.Account_router__button-wrapper {
  display: flex;
}
.Account_router__button {
  margin-bottom: 0;
  &:first-child {
    margin-right: 15px;
  }
}
.area-form {
  &__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #6f7072;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(black, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    img {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-text {
      font-size: 18px;
      font-weight: 900;
      color: white;
      position: relative;
      z-index: 3;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
      text-align: center;
      span {
        font-size: 24px;
      }
    }
  }
  &__options-switcher {
    button {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
.main-button.selected {
  background: transparent;
}
</style>
