<template>
  <div class="area-form__inner">
    <div class="area-form__head">
      <div class="area-form__title" v-html="$t('router-title-2')"></div>
      <a
        href="#"
        :key="`${editText}string`"
        @click.prevent="editRouterInfo"
        class="area-form__edit"
      >
        <transition name="translateX" mode="out-in">
          <span :key="$t('edit-btn')" v-if="editRouter === false">
            {{ $t("edit-btn") }}
          </span>
          <span :key="'nope'" v-else-if="getСheckIp === undefined"></span>
          <span :key="$t('edit-cancel-btn')" v-else>
            {{ $t("edit-cancel-btn") }}
          </span>
        </transition>
      </a>
    </div>

    <transition name="translateY" mode="out-in">
      <edit-form
        :change_form="getCurrentRouter"
        :getСheckIp="getСheckIp"
        v-if="editRouter"
      />
      <view-form
        :getСheckIp="getСheckIp"
        :change_form="getCurrentRouter"
        v-else
      />
    </transition>
    <template
      v-if="
        getСheckIp !== undefined &&
          customerRouters.routerState.verification !== null
      "
    >
      <!-- 178.150.113.78 || 192.168.11.1  -->
      <template v-if="customerRouters.routerState.verification === false">
        <template v-if="getСheckIp">
          <small class="edit-subtitle">
            {{ $t("router-need") }}
          </small>
          <router-faq :title="$t('router-open__title')">
            <!-- 
            <ul>
              <li>
                {{ $t("router-open__1") }}
              </li>
              <li>
                {{ $t("router-open__2") }}
              </li>
              <li>
                {{ $t("router-open__3") }}
              </li>
              <li>
                {{ $t("router-open__4") }}
                <ul>
                  <li style="display: flex;">
                    <small>{{ $t("router-open__4-1") }}</small>
                    <span style="flex-shrink: 0;">
                      <img src="@/assets/images/faq_1.gif" alt="" />
                    </span>
                  </li>
                  <span>
                    <img src="@/assets/images/faq_2.gif" alt="" />
                  </span>
                </ul>
              </li>
              <li>
                {{ $t("router-open__4-2") }}
                <ul>
                  <li style="display: flex;">
                    {{ $t("router-open__4-2-1") }}
                  </li>
                </ul>
              </li>
              <li>
                {{ $t("router-open__4-3") }}
                <ul>
                  <li style="display: flex;">
                    <div style="display: flex; flex-direction: column;">
                      <small style="margin-bottom: 5px">
                        {{ $t("router-open__4-3-1") }}
                      </small>
                      <small>
                        {{ $t("router-open__4-3-2") }}
                      </small>
                    </div>
                    <span style="flex-shrink: 0; margin: 0 5px;">
                      <img
                        style="max-height: 430px;"
                        src="@/assets/images/faq_3.gif"
                        alt=""
                      />
                    </span>
                    <span style="flex-shrink: 0; margin-right: 5px">
                      <img
                        style="max-height: 430px;"
                        src="@/assets/images/faq_4.gif"
                        alt=""
                      />
                    </span>
                  </li>
                </ul>
              </li>
              <li>
                {{ $t("router-open__5") }}
                <ul>
                  <li style="display: flex;">
                    <div style="display: flex;">
                      <p v-html="$t('router-open__5-1')"></p>
                      <span style="flex-shrink: 0; margin-left: 5px">
                        <img
                          style="max-height: 430px;"
                          src="@/assets/images/faq_5.gif"
                          alt=""
                        />
                      </span>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div>
                  {{ $t("router-open__6") }}
                  <span style="display:flex;  flex-shrink: 0;">
                    <img
                      style="max-height:350px"
                      src="@/assets/images/faq_6.gif"
                      alt=""
                    />
                  </span>
                </div>
              </li>
            </ul>
            -->
            <ul>
              <li>
                <div>
                  Роутер должен быть подключен к питанию, сетевому кабелю и на
                  него должны быть установлены настройки вашего интернет
                  провайдера
                </div>
                <div>
                  Роутер должен быть подключён сетевым кабелем или по WIFI к
                  вашему ПК.
                </div>
              </li>
              <li>
                <div>
                  С помощью интернет браузера войдите в систему вашего роутера.
                  Заводской IP адрес 192.168.88.1
                </div>
                <div>
                  Заводской login «admin» пароля нет (если вы не провели
                  первичную настройку).
                </div>
              </li>
              <li>
                <div>Обновить «Router OS»:</div>
                <ul>
                  <li>
                    <div>WebFig – System – Packages – Check for updates</div>
                    <span style="flex-shrink: 0;">
                      <img src="@/assets/images/faq_1.gif" alt="" />
                    </span>
                    <span>
                      <img src="@/assets/images/faq_2.gif" alt="" />
                    </span>
                    <div>
                      Если указано «System is already up to date» то система
                      обновлена. Если «New version is available» значит
                      необходимо обновить.
                    </div>
                    <div>Нажмите «Download and install»</div>
                    <div>
                      После окончания загрузки и установки роутер перегрузится.
                    </div>
                  </li>
                  <li>
                    <div>Войдите заново в систему роутера</div>
                    <div>System – Routerboard – Upgrade – OK</div>
                    <span>
                      <img src="@/assets/images/faq_3.gif" alt="" />
                    </span>
                    <div>
                      System – Reboot – OK
                    </div>
                    <span>
                      <img src="@/assets/images/faq_4.gif" alt="" />
                    </span>
                    <div>
                      После установке обновления роутер перегрузится и вы будете
                      использовать последнюю версию «Router OS»
                    </div>
                    <div>
                      Мы рекомендуем Вам регулярно обновлять ваш роутер для
                      недопущения проблем при использовании нашей услуги. Также,
                      при установке новой версии ПО, устраняются найденные на
                      момент выпуска обновления проблемы в безопасности роутера.
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div>WebFig – IP – Firewall – Add New</div>
                <span>
                  <img src="@/assets/images/faq_5.gif" alt="" />
                </span>
                <div>«Chain» выбрать «input»</div>
                <div>«Protocol» выбрать «6(tcp)»</div>
                <div>«Dst. Port» ввести «22»</div>
                <div>
                  В верхнем меню нажать «OK»
                </div>
              </li>
              <li>
                <div>Перетянуть созданное правило на первую позицию</div>
                <span>
                  <img src="@/assets/images/faq_6.gif" alt="" />
                </span>
              </li>
            </ul>
            {{ $t("router-open__continue") }}
          </router-faq>

          <div class="form-block__row" style="align-items: center">
            <div class="form-block">
              <transition name="translateY" mode="out-in">
                <a
                  href="#"
                  @click.prevent="verify"
                  class="main-button"
                  style="margin-top: 0"
                  :key="$t('router-check-connection')"
                  v-if="showButton"
                >
                  {{ $t("router-check-connection") }}
                </a>
              </transition>
            </div>
          </div>
        </template>
        <template v-else>
          <small class="edit-subtitle">
            {{ $t("router-need_3") }}
          </small>
          <router-faq :title="$t('router-open__title-2')">
            <p>{{ $t("faq-page-setting-step-1-description_37") }}</p>
            <p>{{ $t("faq-page-setting-step-1-description_38") }}</p>
            <p>{{ $t("faq-page-setting-step-1-description_39") }}</p>
            <p>{{ $t("faq-page-setting-step-1-description_40") }}</p>
            <ul>
              <li>
                {{ $t("faq-page-setting-step-1-description_40_1") }}
              </li>
              <li>
                <p>{{ $t("faq-page-setting-step-1-description_40_2") }}</p>
                <small>
                  {{ $t("faq-page-setting-step-1-description_40_2_1") }}
                </small>
              </li>
              <li>
                {{ $t("faq-page-setting-step-1-description_40_3") }}
              </li>
              <li>
                <p>{{ $t("faq-page-setting-step-1-description_40_4") }}</p>
                <small>{{
                  $t("faq-page-setting-step-1-description_40_4_1")
                }}</small
                ><br />
                <small>{{
                  $t("faq-page-setting-step-1-description_40_4_2")
                }}</small>
              </li>
              <li>
                <p>{{ $t("faq-page-setting-step-1-description_41") }}</p>
                <small>{{
                  $t("faq-page-setting-step-1-description_41_1")
                }}</small
                ><br />
                <small>{{
                  $t("faq-page-setting-step-1-description_41_2")
                }}</small
                ><br />
                <small>{{
                  $t("faq-page-setting-step-1-description_41_3")
                }}</small>
              </li>
              <li>
                <p>{{ $t("faq-page-setting-step-1-description_42") }}</p>
                <small>{{
                  $t("faq-page-setting-step-1-description_42_1")
                }}</small>
                <ul>
                  <li>{{ $t("faq-page-setting-step-1-description_42_2") }}</li>
                  <li>
                    <p>{{ $t("faq-page-setting-step-1-description_42_3") }}</p>
                    <code>{{
                      $t("faq-page-setting-step-1-description_42_3_1")
                    }}</code>
                  </li>
                </ul>
              </li>
              <li>
                <p>{{ $t("faq-page-setting-step-1-description_43") }}</p>
                <p>{{ $t("faq-page-setting-step-1-description_43_1") }}</p>
              </li>
              <li>
                <p>{{ $t("faq-page-setting-step-1-description_44") }}</p>
              </li>
            </ul>
          </router-faq>

          <div class="form-block">
            <div class="form-block">
              <div class="form-block">
                <server-select
                  :customerInfo="customerInfo"
                  :serverLocations="serverLocations"
                  :editPage="true"
                />
              </div>
              <div class="form-block__row" style="align-items: center">
                <div class="form-block">
                  <a
                    href="#"
                    class="main-button"
                    style="margin-top: 0"
                    @click.prevent="keysGenerate(false)"
                  >
                    {{ $t("router-save-file") }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </template>
      </template>
      <template v-else>
        <div>
          <div class="form-block">
            <server-select
              :customerInfo="customerInfo"
              :serverLocations="serverLocations"
              :editPage="true"
            />
          </div>
          <div class="form-block__row" style="align-items: center">
            <div class="form-block">
              <a
                href="#"
                @click.prevent="applySettings"
                class="main-button"
                style="margin-top: 0"
              >
                {{ $t("connected-label") }}
              </a>
            </div>
          </div>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import { bus } from "@/main";

export default {
  name: "Account_router__automatic",
  data() {
    return {
      loading: false,
      editRouter: false,
      editText: false,
      showButton: false
    };
  },
  components: {
    "edit-form": () => import("./Account_router__edit-form"),
    "view-form": () => import("./Account_router__view-form"),
    "server-select": () => import("./router__common/server-select"),
    "router-faq": () => import("./router__common/block__faq")
  },
  computed: {
    ...mapState("User/", ["customerInfo", "user"]),
    ...mapState("Settings/", ["serverLocations"]),
    ...mapState("Router", ["customerRouters"]),
    ...mapGetters("Router", ["getCurrentRouter", "getСheckIp"])
  },
  methods: {
    ...mapActions("Router", [
      "applyRouterSettings",
      "verifyRouter",
      "keysGenerate"
    ]),
    ...mapActions(["setError"]),
    ...mapActions("Settings/", ["getServerLocations", "updateServerLocation"]),
    ...mapActions("User/", ["getCustomerInfo"]),
    editRouterInfo() {
      if (!this.customerInfo.connectionSettings.connected) {
        if (this.editRouter === false) {
          this.editRouter = true;
          this.editText = this.$t("edit-btn");
        } else {
          this.editRouter = false;
          this.editText = this.$t("edit-cancel-btn");
        }
      } else {
        bus.$emit("toggle-router", {
          toggle: true,
          message: this.$t("edit-alert")
        });
        setTimeout(() => {
          bus.$emit("toggle-router", {
            toggle: false,
            message: ""
          });
        }, 2000);
      }
    },
    async verify() {
      this.verifyRouter({
        routerId: this.customerRouters.id
      });
    },
    async applySettings() {
      this.loading = true;
      bus.$emit("toggle-router", {
        toggle: this.loading,
        message: this.$t("settingsApplied")
      });
      const { req } = await this.applyRouterSettings({
        routerId: this.customerRouters.id
      });
      if (req) {
        await this.getCustomerInfo();
      }
    }
  },
  async created() {
    bus.$on("toggle-edit", () => this.editRouterInfo());
    if (this.getСheckIp === undefined) {
      this.editRouter = true;
    }
    bus.$on("toggle-help", ({ status }) => (this.showButton = status));

    if (this.getCurrentRouter.ipAddress === null) {
      this.editRouter = true;
      this.editText = this.$t("edit-btn");
    }
  }
};
</script>

<style lang="scss" scoped>
.faq {
  margin-bottom: 18px;
  border-bottom: 1px solid #3d3d3d;
  &__item {
    &--no-bordered {
      border-top: 1px solid transparent;
      border-bottom: transparent;
    }
  }
}
.main-button {
  margin-top: 30px;
}

.content ul {
  margin: 10px 0;
}

.form-block {
  small {
    color: #747578;
  }
  p {
    color: #747578;
  }
}
</style>
