<template>
  <form class="area-form__form" v-if="plan_status">
    <div class="form-block__row">
      <div class="form-block">
        <label for="change_router_name">{{ $t("router-name-label") }}</label>
        <input
          class="main-input"
          type="text"
          id="change_router_name"
          name="router_name"
          required
          v-model="change_form.name"
        />
      </div>
      <div class="form-block">
        <label for="change_ip_address">
          <span>* {{ $t("router-ip-label") }}</span>
          <small v-if="change_form.ipAddress">
            ( {{ $t("router-ip-check") }} )
          </small>
        </label>
        <input
          id="change_ip_address"
          class="main-input"
          type="text"
          name="ip_address"
          required
          v-model="change_form.ipAddress"
        />
      </div>
    </div>
    <div class="form-block__row">
      <div class="form-block">
        <label for="change_login">* {{ $t("login-label-router") }}</label>
        <input
          class="main-input"
          type="text"
          name="login"
          id="change_login"
          required
          v-model="change_form.login"
        />
      </div>
      <div class="form-block">
        <label for="port">* {{ $t("port-label") }}</label>
        <input
          class="main-input"
          type="number"
          name="port"
          id="port"
          minlength="2"
          maxlength="4"
          pattern="\d{4}"
          required
          v-model="change_form.portNumber"
        />
      </div>
    </div>
    <div class="form-block__row" style="align-items: flex-end;">
      <div class="form-block">
        <label for="password_1">
          <span>
            {{ $t("password-label-router") }}
          </span>
          <small>({{ $t("optional-small") }})</small>
        </label>
        <div class="input-wrapper">
          <input
            id="password_1"
            ref="password_1"
            class="main-input"
            type="password"
            name="password_1"
            required
            autocomplete="on"
            v-model="change_form.password"
          />
          <div class="show-password" @click.prevent="showPass('password_1')">
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/images/sprite.svg#eye"
              ></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="form-block">
        <!-- layout hack, sorry -->
      </div>
    </div>
    <button
      type="submit"
      class="main-button"
      @click.prevent="updateConnectBtn(change_form)"
    >
      {{ $t("update-connection") }}
    </button>
  </form>
  <form class="area-form__form" v-else>
    <div class="form-block">
      <div class="form-block">
        <slot></slot>
      </div>
    </div>
    <div class="form-block">
      <div class="form-block">
        <label for="change_router_name">{{ $t("router-name-label") }}</label>
        <input
          class="main-input"
          type="text"
          id="change_router_name"
          name="router_name"
          required
          v-model="change_form.name"
          style="padding-bottom: 18px;"
        />
      </div>
      <button
        type="submit"
        class="main-button"
        @click.prevent="updateConnectBtn(change_form)"
      >
        {{ $t("update-connection") }}
      </button>
    </div>
  </form>
</template>

<script>
import { showPass } from "@/utils/common.js";
import { mapActions, mapGetters } from "vuex";
import checkIp from "check-ip";

export default {
  name: "edit-form",
  props: {
    change_form: {
      type: Object
    },
    getСheckIp: {
      type: Boolean
    },
    plan_status: {
      type: Boolean,
      default: () => true
    }
  },
  computed: {
    ...mapGetters("Router", ["getCurrentRouter"]),
    changeRouterData() {
      return {
        routerId: this.getCurrentRouter.id
      };
    }
  },
  methods: {
    ...mapActions("Router", [
      "getRouterData",
      "updateConnect",
      "applyRouterSettings"
    ]),
    ...mapActions(["setError"]),
    showPass(ref) {
      showPass(this, ref);
    },
    async updateConnectBtn(payload) {
      const { name, login, ipAddress, portNumber, password = null } = payload;
      /**
       * @description Nice case :D
       * TODO: added normal validation
       */
      if (checkIp(ipAddress).isValid) {
        await this.updateConnect({
          ...this.changeRouterData,
          name,
          login,
          ipAddress,
          password,
          portNumber: Number(portNumber)
        });
        await this.getRouterData();
      } else {
        this.setError(this.$t("address-correctly"));
      }
    }
  }
};
</script>
