<template>
  <div class="faq faq--box">
    <div class="faq__list">
      <div class="faq__item acardion__item faq__item--no-bordered">
        <div class="faq__title acardion__title" @click="showHelp">
          <svg>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="/images/sprite.svg#alert"
            ></use>
          </svg>
          {{ title }}
          <span :class="{ 'acardion__title--open': acardionShow }"></span>
        </div>
        <div
          class="faq__inner acardion__inner"
          :class="{ 'acardion__inner--open': acardionShow }"
        >
          <div
            class="faq__content acardion__content content scroll-text mCustomScrollbar _mCS_1"
          >
            <div
              id="mCSB_1"
              class="mCustomScrollBox scroll-text mCS-light mCSB_vertical mCSB_inside"
              style="max-height: 382px;"
              tabindex="0"
            >
              <slot></slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { bus } from "@/main";
export default {
  name: "block__faq",
  props: {
    title: {
      type: String,
      default: () => "title"
    }
  },
  data() {
    return {
      acardionShow: false
    };
  },
  methods: {
    showHelp() {
      this.acardionShow = this.acardionShow !== true;
      bus.$emit("toggle-help", { status: this.acardionShow });
    }
  }
};
</script>

<style lang="scss" scoped>
.acardion {
  &__inner {
    &--open {
      height: 400px;
    }
  }
  &__title {
    &--open {
      background: #747578;
      &::after {
        transform: rotate(225deg);
      }
    }
  }
}
.faq {
  padding: 0 0 0 5px;
  margin-top: 10px;
  border: 1px solid #3d3d3d;
  &__item {
    &--no-bordered {
      border-top: 1px solid transparent;
      border-bottom: transparent;
    }
  }
  &__title {
    line-height: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      margin-right: 15px;
      fill: tomato;
    }
  }
}
.mCustomScrollBox {
  overflow-y: auto;
}
.content ul {
  padding-left: 20px;
  padding-right: 5px;
}
.content ul li span {
  height: 100%;
  display: inline-block;
  margin-bottom: 5px;
}
.content ul li > ul li::before {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: -20px;
  top: 8px;
  background: #ef4131;
}

.content ul {
  list-style: decimal;
}

.content ul li::before {
  display: none;
}

.content ul li > ul {
  list-style: square;
}

.content ul li > ul li {
  margin-bottom: 10px;
}

.content ul li::marker {
  font-size: 12px;
}
</style>
