<template>
  <div>
    <div class="area-settings__label" for="router-location">
      {{ $t("server-location") }}
    </div>
    <div class="area-settings__value">
      <div class="location-wrapper" v-if="customerInfo && serverLocations">
        <country-flag
          :country="customerInfo.connectionSettings.serverLocation.countryCode"
          size="normal"
        />
        <v-select
          label="title"
          index="id"
          id="router-location"
          :options="serverLocations"
          :autocomplete="'random String for off chrome autocomplete'"
          :searchable="false"
          :clearable="false"
          @input="changeLocation"
          :value="
            `${customerInfo.connectionSettings.serverLocation.title} ${customerInfo.connectionSettings.serverLocation.percentAvailability}%`
          "
        >
          <template #open-indicator="{ attributes }">
            <span v-bind="attributes">
              <svg
                class="arrow_down"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Capa_1"
                x="0px"
                y="0px"
                width="10px"
                height="10px"
                viewBox="0 0 292.362 292.362"
                xml:space="preserve"
              >
                <path
                  d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424   C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428   s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z"
                />
              </svg>
            </span>
          </template>
          <template slot="option" slot-scope="option">
            <span> {{ option.title }} {{ option.percentAvailability }}% </span>
          </template>
        </v-select>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import vSelect from "vue-select";
import CountryFlag from "vue-country-flag";
import { bus } from "@/main";

export default {
  name: "server-select",
  props: {
    serverLocations: {
      type: Array,
      default: () => []
    },
    customerInfo: {
      type: Object
    },
    editPage: {
      type: Boolean,
      default: () => false
    }
  },
  components: {
    vSelect,
    CountryFlag
  },
  computed: {
    ...mapState("Setting/", ["currentServerLocation"]),
    ...mapGetters("Router/", ["getCurrentRouter"])
  },
  methods: {
    ...mapActions("Settings/", [
      "getServerLocations",
      "updateServerLocation",
      "getCurrentSelectedServerLocation",
      "connectRouter"
    ]),
    changeLocation({ title, id }) {
      this.getCurrentSelectedServerLocation({ title });
      this.updateServerLocation({ newServerLocationId: id });
      if (!this.editPage) {
        if (this.customerInfo.connectionSettings.connected) {
          this.connectRouter({ routerId: this.getCurrentRouter.id });
          bus.$emit("toggle-router", {
            toggle: true,
            message: this.$t("connection")
          });
        } else {
          bus.$emit("toggle-router", {
            toggle: false,
            message: ""
          });
        }
      }
    }
  },
  created() {
    this.getCurrentSelectedServerLocation({
      title: this.customerInfo.connectionSettings.serverLocation.title
    });
  }
};
</script>
