<template>
  <div class="area-form__form">
    <div class="faq__title acardion__title">
      {{ title }}
    </div>
    <div class="form-block">
      <div class="form-block__row">
        <label for="serverLocation_title">Имя сервера</label>
        <input
          class="main-input"
          type="text"
          name="login"
          id="serverLocation_title"
          :value="name"
          required
          readonly
        />
      </div>
      <div class="form-block__row">
        <label for="currentServerLocationAddress">
          IP адрес сервера
        </label>
        <input
          class="main-input"
          type="text"
          name="login"
          id="currentServerLocationAddress"
          :value="ip"
          required
          readonly
        />
      </div>
      <div class="form-block__row">
        <label for="login">Логин</label>
        <input
          class="main-input"
          type="text"
          name="login"
          id="login"
          :value="login"
          required
          readonly
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "serveInfo",
  props: {
    title: {
      type: String,
      default: () => "title"
    },
    name: {
      type: String,
      default: () => "Name"
    },
    ip: {
      default: () => "255.255.255"
    },
    login: {
      type: String,
      default: () => "login"
    }
  }
};
</script>

<style lang="scss" scoped>
.form-block__row {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
  label {
    height: inherit;
    flex-shrink: 0;
    margin: 0;
    width: 120px;
  }
  input {
    margin-left: 20px;
  }
}
</style>
