<template>
  <div class="head-block">
    <ol
      class="breadcrumb"
      itemscope=""
      itemtype="http://schema.org/BreadcrumbList"
    >
      <li
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <router-link itemprop="item" to="/app.html/account">
          <span itemprop="name">{{ $t("home-link") }}</span>
        </router-link>
        <meta itemprop="position" content="1" />
      </li>
      <li
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <transition name="fade" mode="out-in">
          <span
            :key="this.$route.name"
            itemprop="name"
            v-html="currPage"
          ></span>
        </transition>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Breadcrumb",

  computed: {
    ...mapState(["currPage"])
  }
};
</script>

<style scoped></style>
