<template>
  <div class="popup popup-info-success-thx">
    <div class="popup__overlay"></div>
    <div class="popup__holder popup__holder--small">
      <div class="popup-info">
        <div class="popup-info__icon">
          <img
            src="/images/popup-connection-img-1.svg"
            width="34"
            height="34"
            alt=""
          />
        </div>
        <div class="popup-info__title">{{ popupMessage }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "connectPopup",
  props: {
    popupMessage: {
      type: String,
      default: () => "popupMessage"
    }
  }
};
</script>

<style lang="scss" scoped>
.popup {
  display: inherit;
}
</style>
