<template>
  <!--hide with done -->
  <div class="error-area area__inner">
    <transition name="translateY" mode="out-in">
      <div
        ref="errorArea"
        :key="reqError"
        class="error"
        v-if="reqError !== null"
      >
        {{ reqError }}
        <span @click="close" class="error-close">x</span>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "error-message",
  computed: {
    ...mapState(["reqError"])
  },
  methods: {
    ...mapActions(["setError"]),
    close() {
      this.setError(null);
    }
  }
};
</script>

<style lang="scss" scoped>
.error-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}
.error-area {
  position: fixed;
  z-index: 999;
  right: 50%;
  transform: translateX(50%);
  bottom: 20px;
  //max-width: 400px;
}
//@media
</style>
