<template>
  <footer
    class="footer"
    :style="{
      backgroundImage: `url('${require('@/assets/images/footer-bg.png')}')`,
    }"
  >
    <!-- TODO: added top-alert system -->
    <div class="top-alert" style="display: none">
      <svg>
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/images/sprite.svg#alert"
        ></use>
      </svg>
      Предоставьте параметры учетной записи для идентификации вашего роутера в
      системе
      <a href="#" class="white-button">Открыть настройки</a>
    </div>

    <!-- TODO: added cookie-block -->
    <div class="cookie-block" style="display: none">
      <div class="cookie-block__content">
        {{ $t("cookie-block") }}
      </div>
      <a href="#" class="white-button">
        {{ $t("cookie-block-accept") }}
      </a>
      <div class="cookie-block__close">
        <svg>
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="@/assets/images/sprite.svg#close"
          ></use>
        </svg>
      </div>
    </div>

    <div class="footer__inner">
      <div class="footer-contacts">
        <div class="footer-logo">
          <img
            src="@/assets/images/footer-logo.svg"
            width="146"
            height="52"
            alt="logo"
          />
        </div>
        <ul class="footer-socials">
          <li class="footer-socials__item">
            <a href="https://telegram.org/" target="_blank">
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="@/assets/images/sprite.svg#telegram"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
        <a href="mailto:info@info.com" class="footer-email">
          <svg>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="@/assets/images/sprite.svg#mail"
            ></use>
          </svg>
          info@info.com
        </a>
      </div>
      <div class="footer-col">
        <div class="footer-col__title">
          {{ $t("footer-title-1") }}
        </div>
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a :href="`/${$t('locale')}.tariffs.html`">
                {{ $t("footer-link-1") }}
              </a>
            </li>
            <li class="footer-nav__item">
              <a :href="`/${$t('locale')}.tariffs-2.html`">
                {{ $t("footer-link-2") }}
              </a>
            </li>
            <li class="footer-nav__item">
              <a :href="`/${$t('locale')}.tariffs-3.html`">
                {{ $t("footer-link-3") }}
              </a>
            </li>
            <li class="footer-nav__item">
              <a :href="`/${$t('locale')}.tariffs-4.html`">
                {{ $t("footer-link-4") }}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-col">
        <div class="footer-col__title">
          {{ $t("footer-title-2") }}
        </div>
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a :href="`/${$t('locale')}.news.html`">
                {{ $t("footer-link-5") }}
              </a>
            </li>
            <li class="footer-nav__item">
              <a :href="`/${$t('locale')}.equipment.html`">
                {{ $t("footer-link-6") }}
              </a>
            </li>
            <li class="footer-nav__item">
              <a :href="`/${$t('locale')}.become-a-partner.html`">
                {{ $t("footer-link-7") }}
              </a>
            </li>
            <li class="footer-nav__item">
              <a :href="`/${$t('locale')}.faq.html`">
                {{ $t("footer-link-8") }}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-info">
        <div class="footer-awards">
          <div class="footer-awards__item">
            <img src="@/assets/images/awards-img-1.svg" alt="" />
          </div>
          <div class="footer-awards__item">
            <img src="@/assets/images/awards-img-2.svg" alt="" />
          </div>
          <div class="footer-awards__item">
            <img src="@/assets/images/made_for-ai.svg" alt="" />
          </div>
        </div>
        <a
          :href="`/${$t('locale')}.privacy-policy.html`"
          class="footer-info__link"
        >
          {{ $t("footer-link-9") }}
        </a>
        <a
          :href="`/${$t('locale')}.public-contract.html`"
          class="footer-info__link"
        >
          {{ $t("footer-link-10") }}
        </a>
        <div class="copyright">© 2021. All Rights Reserved.</div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>

