<template>
  <header class="header">
    <div class="header__inner">
      <div class="header__left">
        <div class="menu-opener">
          <svg>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="@/assets/images/sprite.svg#menu"
            ></use>
          </svg>
        </div>
        <a :href="`/${$t('locale')}.tariffs.html`" class="tariffs-button">
          {{ $t("tariffs-button") }}
        </a>
        <div class="language" @click="showLang">
          <div
            class="language__current"
            :class="{ 'language__current--open': showLangMenu }"
          >
            {{ currLang }}
          </div>
          <ul
            class="language__list"
            :class="{ 'language__list--open': showLangMenu }"
          >
            <li class="language__item" @click="changeLocale('ru')">
              <a href="#">
                RU
              </a>
            </li>
            <li class="language__item">
              <a href="#" @click="changeLocale('en')">
                ENG
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header__middle">
        <nav class="main-menu">
          <span class="main-menu__close">
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="@/assets/images/sprite.svg#close"
              ></use>
            </svg>
          </span>
          <ul class="main-menu__list">
            <li class="main-menu__item">
              <a :href="`/${$t('locale')}.news.html`">{{
                $t("header-link__news")
              }}</a>
            </li>
            <li class="main-menu__item">
              <a :href="`/${$t('locale')}.equipment.html`">{{
                $t("header-link__equipment")
              }}</a>
            </li>
            <li class="main-menu__item">
              <a :href="`/${$t('locale')}.become-a-partner.html`">
                {{ $t("header-link__partner") }}
              </a>
            </li>
            <li class="main-menu__item">
              <a :href="`/${$t('locale')}.faq.html`">
                {{ $t("header-link__faq") }}
              </a>
            </li>
          </ul>
        </nav>
        <div class="logo">
          <a href="/">
            <img src="@/assets/images/logo.svg" width="41" height="66" alt="" />
          </a>
        </div>
      </div>
      <div class="header__right">
        <!-- <a href="/sign-up.html" class="login-button">
          <svg>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="/images/sprite.svg#profile"
            ></use>
          </svg>
        </a> -->
        <template v-if="user">
          <a
            href="/app.html/account"
            class="login-button is-loggin"
            v-if="user['custom:user_type'] !== 'pro'"
          >
            {{ getLetterOfName }}
          </a>
          <a
            href="/app.html/account"
            class="login-button is-loggin is-partner"
            v-else
          >
            {{ getLetterOfName }}
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              v-if="user['custom:user_type'] === 'vip'"
            >
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#EF4131" />
              <path
                d="M5.63116 13.2045C5.63116 13.3677 5.77323 13.5 5.9485 13.5H12.0571C12.2323 13.5 12.3744 13.3677 12.3744 13.2045L12.4615 11.8636H5.53846L5.63116 13.2045Z"
                fill="#EF4131"
              />
              <path
                d="M14 6.31294C14 5.70743 13.5495 5.21488 12.9958 5.21488C12.4421 5.21488 11.9916 5.70743 11.9916 6.31294C11.9916 6.66399 12.1432 6.97676 12.3783 7.17798L10.4938 8.67707L9.42168 6.58107C9.75172 6.40095 9.979 6.02803 9.979 5.59806C9.979 4.99255 9.52856 4.5 8.97482 4.5C8.42108 4.5 7.97064 4.99255 7.97064 5.59806C7.97064 6.03329 8.20334 6.41013 8.53987 6.58774L7.55034 8.67932L5.61659 7.10307C5.85463 6.90209 6.00844 6.58724 6.00844 6.23368C6.00844 5.62817 5.558 5.13562 5.00426 5.13562C4.45044 5.13562 4 5.62817 4 6.23368C4 6.75001 4.32768 7.18399 4.76752 7.3007L5.65436 11.0455H12.4142L13.2354 7.37921C13.6738 7.26141 14 6.82818 14 6.31294Z"
                fill="#EF4131"
              />
            </svg>
          </a>
        </template>
      </div>
    </div>
  </header>
</template>

<script>
import Select from "../../assets/js/select";
// import Popups from "../../assets/js/popups";
// import Tabs from "../../assets/js/tabs";
import { mapState, mapGetters } from "vuex";

export default {
  name: "Header",
  data() {
    return {
      showLangMenu: false,
      langInfo: this.$root.$i18n.locale
        ? this.$root.$i18n.locale.toUpperCase()
        : "foo"
    };
  },
  computed: {
    ...mapState("User", ["user"]),
    ...mapGetters("User", ["getLetterOfName"]),
    currLang: {
      get: function() {
        return this.langInfo;
      },
      set: function(newValue) {
        return (this.langInfo = newValue.toUpperCase());
      }
    }
  },
  mounted() {
    global.customSelect = new Select();
    this.$root.$i18n.locale = localStorage.getItem("currLang");

    if (
      this.$root.$i18n.locale &&
      typeof this.$root.$i18n.locale !== "undefined"
    ) {
      this.currLang = this.$root.$i18n.locale.toUpperCase();
    } else {
      this.currLang = "En";
    }
    console.log("mounted", this.currLang);
  },
  methods: {
    showLang() {
      this.showLangMenu = this.showLangMenu !== true;
    },
    changeLocale(lang) {
      this.$root.$i18n.locale = lang;
      this.currLang = lang;
      localStorage.setItem("currLang", lang);
      console.log("changeLocale", this.currLang);
    }
  }
};
</script>

<style lang="scss" scoped>
.language {
  &__list {
    &--open {
      visibility: visible;
      opacity: 1;
    }
  }
  &__current {
    &--open {
      &:before {
        transform: rotate(180deg);
      }
    }
  }
}
</style>
