<template>
  <div class="mac-address">
    <small class="mac-address__hint" style="margin: 10px 0">
      <svg>
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/images/sprite.svg#alert"
        ></use>
      </svg>
      <span>
        {{ $t("experts-hint") }}
      </span>
    </small>

    <div class="mac-address__title">{{ $t("settings-mac-title") }}</div>

    <form class="mac-address__form" action="#">
      <div class="form-block">
        <label>
          <input
            class="main-input mac_address-input"
            type="text"
            v-model="mac_address"
            name="mac_address"
            :placeholder="$t('settings-add-btn')"
            v-mask="'XX:XX:XX:XX:XX:XX'"
          />
        </label>
      </div>
      <button class="main-button" type="submit" @click.prevent="addMacAddress">
        {{ $t("settings-add-btn") }}
      </button>
    </form>
    <div class="mac-address__list">
      <transition-group name="translateX" mode="out-in">
        <div
          class="mac-address__item"
          v-for="device in deviceList"
          :key="device"
        >
          <div class="mac-address__item-value">{{ device }}</div>
          <div
            class="mac-address__item-delete"
            @click.prevent="removeDevice(device)"
          >
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/images/sprite.svg#delete"
              ></use>
            </svg>
          </div>
        </div>
      </transition-group>
    </div>
    <!--
    <ul class="pagination">
      <li class="first">
        <a href="#">
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.56067 3.85344L5.70708 0.70703L4.99998 -7.67465e-05L0.646424 4.35348L4.99998 8.70703L5.70708 7.99992L2.5606 4.85344L15.3535 4.85344L15.3535 3.85344L2.56067 3.85344Z"
            />
          </svg>
          <small>Назад</small>
        </a>
      </li>
      <li><span>1</span></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li class="dots"></li>
      <li><a href="#">12</a></li>
      <li class="last">
        <a href="#">
          <small>Вперед</small>
          <svg
            width="16"
            height="9"
            viewBox="0 0 16 9"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.4393 3.85344L10.2929 0.70703L11 -7.67465e-05L15.3536 4.35348L11 8.70703L10.2929 7.99992L13.4394 4.85344L0.646484 4.85344L0.646484 3.85344L13.4393 3.85344Z"
            />
          </svg>
        </a>
      </li>
    </ul>
-->
  </div>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
import { API, graphqlOperation } from "aws-amplify";
import * as subscriptions from "@/graphql/subscriptions";

export default {
  name: "MacAddressList",
  props: {
    deviceList: {
      type: Array,
      default: () => []
    },
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      mac_address: ""
    };
  },
  methods: {
    ...mapActions("Settings/", [
      "createVpnBypassMacAddress",
      "removeVpnBypassMacAddress"
    ]),
    ...mapMutations("User/", ["addedNewMac", "removeMac"]),
    addMacAddress() {
      this.createVpnBypassMacAddress(this.mac_address.toUpperCase());
      this.mac_address = "";
    },
    removeDevice(address) {
      this.removeVpnBypassMacAddress(address);
    }
  },
  async created() {
    await API.graphql(
      graphqlOperation(subscriptions.createdVpnBypassMacAddress, {
        userId: this.user.sub
      })
    ).subscribe({
      next: ({ value }) => {
        console.log(value);
        const {
          data: {
            createdVPNBypassMACAddress: { data: items }
          }
        } = value;
        this.addedNewMac({
          type: "customerInfo",
          items
        });
      },
      error: error => {
        console.warn(error);
      }
    });

    await API.graphql(
      graphqlOperation(subscriptions.removedVpnBypassMacAddress, {
        userId: this.user.sub
      })
    ).subscribe({
      next: ({ value }) => {
        const {
          data: {
            removedVPNBypassMACAddress: { data: items }
          }
        } = value;

        this.removeMac({
          type: "customerInfo",
          items
        });
      },
      error: error => {
        console.warn(error);
      }
    });
  }
};
</script>

<style lang="scss">
.mac_address-input {
  text-transform: uppercase;
}
.mac-address {
  &__hint {
    svg {
      width: 14px;
      height: 14px;
      fill: #b1b2b4;
      margin-right: 6px;
    }
    display: flex;
    align-items: center;
    margin: 10px 0;
    line-height: 120%;
    color: #b1b2b4;
  }
}
</style>
