<template>
  <div class="hidden-load">
    <div class="spinner">
      <div aria-hidden="true"></div>
      <div aria-hidden="true"></div>
      <div aria-hidden="true"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Spinner"
};
</script>

<style lang="scss" scoped>
.hidden-load {
  height: 100%;
  min-height: calc(100vh - 362px);
  background: #232428;
  position: relative;
  z-index: 98;
  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -20px;
    display: inline-block;
    height: 20px;
    width: 40px;

    & > * {
      position: absolute;
      top: 5px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #fd864b;
      opacity: 0.6;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);

      &:nth-child(1) {
        left: 0;
        -webkit-animation: mymove 1.3s infinite ease-in;
        animation: mymove 1.3s infinite ease-in;
      }

      &:nth-child(2) {
        left: 12px;
        -webkit-animation: mymove 1.3s 0.3s infinite ease-in;
        animation: mymove 1.3s 0.3s infinite ease-in;
      }

      &:nth-child(3) {
        left: 24px;
        -webkit-animation: mymove 1.3s 0.6s infinite ease-in;
        animation: mymove 1.3s 0.6s infinite ease-in;
      }
    }
  }

  @-webkit-keyframes mymove {
    0%,
    100%,
    80% {
      opacity: 0.6;
      -webkit-transform: scale(0.4);
    }
    40% {
      opacity: 1;
      -webkit-transform: scale(1);
    }
  }
  @keyframes mymove {
    0%,
    100%,
    80% {
      opacity: 0.6;
      transform: scale(0.4);
    }
    40% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
</style>
