<template>
  <div class="area__main" v-if="customerInfo !== null">
    <div class="area-settings">
      <div class="area-settings__head">
        <div class="area-settings__title">{{ $t("setting-label") }}</div>
      </div>
      <div class="area-settings__form">
        <div class="area-settings__item">
          <div class="area-settings__box">
            <div class="area-settings__label">
              {{ $t("settings-count-tariff") }}
            </div>
            <div class="area-settings__value">
              до {{ customerInfo.subscriptionExpirationDate | ddmmyy }}
            </div>
          </div>
          <div class="area-settings__options" v-if="daysGone">
            <div class="area-settings__options-alert">
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#alert"
                ></use>
              </svg>
              {{ $t("settings-count-tariff-off") }}
            </div>
            <a href="#" class="button-transparent">
              {{ $t("settings-renew") }}
            </a>
          </div>
        </div>
        <div class="area-settings__item">
          <div class="area-settings__box">
            <div class="area-settings__label">
              {{ $t("settings-connection-label") }}
            </div>
            <div
              class="area-settings__value"
              v-if="customerInfo.connectionSettings.connected === false"
            >
              {{ $t("settings-no-actively") }}
            </div>
            <div class="area-settings__value" v-else>
              {{ $t("actively-label-on") }}
            </div>
          </div>
          <div
            class="area-settings__box"
            v-if="
              !customerRouters.routerState.verification && manualManipulation
            "
          >
            <div class="area-settings__label">
              <small> Для подключения введите команду:</small> <br />
              <code>{{ manualManipulation.connect }}</code>
            </div>
            <div class="area-settings__label">
              <small> Для отключения введите команду:</small> <br />
              <code>{{ manualManipulation.disconnect }}</code>
            </div>
          </div>
          <div class="area-settings__options">
            <div
              class="area-settings__status"
              :class="{
                active: customerInfo.connectionSettings.connected !== false
              }"
            >
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/images/sprite.svg#status-icon"
                ></use>
              </svg>
            </div>
          </div>
        </div>
        <div
          class="area-settings__item"
          v-if="
            customerRouters.routerState.verification &&
              customerRouters.routerState.autoconfiguration
          "
        >
          <div class="area-settings__box">
            <div class="area-settings__label">VPN</div>
            <div
              class="area-settings__value"
              v-if="customerInfo.connectionSettings.connected !== false"
            >
              {{ $t("connect-label") }}
            </div>
            <div class="area-settings__value" v-else>
              {{ $t("settings-no-connection") }}
            </div>
          </div>
          <div class="area-settings__options">
            <label class="switch" @click.prevent="toggleRouter">
              <input type="checkbox" :checked="routerStatus" />
              <span class="slider"></span>
            </label>
          </div>
        </div>
        <div class="area-settings__item">
          <div class="area-settings__box">
            <div class="area-settings__label">{{ $t("connection-type") }}</div>
            <div class="area-settings__value">
              <div class="area-settings__value">
                <div class="location-wrapper">
                  <v-select
                    label="title"
                    :options="connectionTypes"
                    :value="
                      customerInfo.connectionSettings.connectionType.title
                    "
                    :autocomplete="'random String for off chrome autocomplete'"
                    :searchable="false"
                    :clearable="false"
                    @input="changeConnectionTypes"
                    v-if="connectionTypes"
                  >
                    <template #open-indicator="{ attributes }">
                      <span v-bind="attributes">
                        <svg
                          class="arrow_down"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          id="Capa_1"
                          x="0px"
                          y="0px"
                          width="10px"
                          height="10px"
                          viewBox="0 0 292.362 292.362"
                          xml:space="preserve"
                        >
                          <path
                            d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424   C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428   s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z"
                          />
                        </svg>
                      </span>
                    </template>
                    <template slot="option" slot-scope="option">
                      <span> {{ option.title }}</span>
                    </template>
                  </v-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="area-settings__item">
          <div class="area-settings__box">
            <div class="area-settings__value">
              <div class="location-wrapper">
                <server-select
                  :customerInfo="customerInfo"
                  :serverLocations="serverLocations"
                />
              </div>
            </div>
          </div>
        </div>
        <template
          v-if="
            customerRouters.routerState.verification &&
              customerRouters.routerState.autoconfiguration
          "
        >
          <div class="area-settings__item">
            <div class="area-settings__box">
              <div class="area-settings__label">
                {{ $t("settings-experts-label") }}
              </div>
            </div>
            <div class="area-settings__options">
              <label class="switch" @click.prevent="toggleMode">
                <input type="checkbox" :checked="mode" />
                <span class="slider"></span>
              </label>
            </div>
          </div>

          <transition name="translateX" mode="out-in">
            <macAddressList
              :deviceList="
                customerInfo.connectionSettings.vpnBypassMACAddresses
              "
              :user="user"
              v-if="mode"
            />
          </transition>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { API, graphqlOperation } from "aws-amplify";
import * as subscriptions from "@/graphql/subscriptions";
import vSelect from "vue-select";
import { bus } from "@/main";
export default {
  name: "Account_settings",
  data: () => ({
    Deselect: {
      render: createElement => createElement("span", "")
    },
    loading: false
  }),
  components: {
    macAddressList: () => import("../../Common/MacAddressList"),
    "server-select": () =>
      import("../Account_router/router__common/server-select"),
    vSelect
  },
  computed: {
    ...mapState("User/", ["customerInfo", "user"]),
    ...mapState("Settings/", ["serverLocations", "connectionTypes"]),
    ...mapGetters("Router/", ["getCurrentRouter"]),
    ...mapState("Router", ["customerRouters", "manualManipulation"]),

    daysGone() {
      const date = new Date();
      const diffTime =
        new Date(this.customerInfo.subscriptionExpirationDate) - date;
      const diffDays = diffTime / (24 * 60 * 60 * 1000);

      return diffDays <= 7;
    },

    routerStatus: {
      get() {
        return this.customerInfo.connectionSettings.connected;
      }
    },
    mode: {
      get() {
        if (
          this.customerInfo.connectionSettings.vpnBypassMACAddressesAllowed ===
          null
        ) {
          return false;
        } else {
          return this.customerInfo.connectionSettings
            .vpnBypassMACAddressesAllowed;
        }
      }
    }
  },
  methods: {
    changeLocation(location) {
      this.updateServerLocation({ newServerLocationId: location.id });
    },
    ...mapActions(["currentPage"]),
    ...mapActions("Settings/", [
      "updateVpnBypassMacAddressesAllowed",
      "connectRouter",
      "disconnectRouter",
      "getServerLocations",
      "updateServerLocation",
      "updateConnectionType",
      "getConnectionTypes"
    ]),
    ...mapActions("Router", ["getRouterData", "getManualManipulation"]),
    ...mapMutations("User/", ["mutationMode", "mutationRouterConnect"]),
    toggleMode() {
      this.updateVpnBypassMacAddressesAllowed({ newValue: !this.mode });
    },
    toggleRouter() {
      if (this.routerStatus === false) {
        bus.$emit("toggle-router", {
          toggle: true,
          message: this.$t("connection")
        });
        this.connectRouter({ routerId: this.getCurrentRouter.id });
      } else {
        bus.$emit("toggle-router", {
          toggle: true,
          message: this.$t("disconnection")
        });
        this.disconnectRouter({ routerId: this.getCurrentRouter.id });
      }
    },
    changeConnectionTypes({ title }) {
      this.updateConnectionType({ newConnectionTypeTitle: title });
    }
  },
  async created() {
    this.currentPage(this.$t("setting-label"));

    this.getConnectionTypes();

    if (!this.manualManipulation) {
      this.getManualManipulation();
    }

    await API.graphql(
      graphqlOperation(subscriptions.updatedVpnBypassMacAddressesAllowed, {
        userId: this.user.sub
      })
    ).subscribe({
      next: ({ value }) => {
        const {
          data: {
            updatedVpnBypassMACAddressesAllowed: { data: items }
          }
        } = value;

        this.mutationMode({
          type: "customerInfo",
          items
        });
      },
      error: error => {
        console.warn(error);
      }
    });
  }
};
</script>

<style lang="scss" scoped>
.area-settings__label {
  code {
    color: white;
  }
}
.area-settings__options {
  min-width: inherit;
}
</style>
