<template>
  <main class="wrapper">
    <Header />
    <div style="height: 100%; min-height: calc(100vh - 362px);">
      <transition name="translateX" mode="out-in">
        <router-view />
      </transition>
    </div>
    <Footer />
  </main>
</template>

<script>
import Header from "./components/Common/Header";
import Footer from "./components/Common/Footer";

export default {
  name: "App",
  components: {
    Header,
    Footer
  }
};
</script>
