<template>
  <div>
    <transition name="translateY" mode="out-in">
      <div v-if="load" class="main-form">
        <div class="main-form__inner">
          <transition name="translateY" mode="out-in">
            <ul
              key="'nav'"
              class="main-form__nav tabs-list"
              v-if="this.$route.path !== '/app.html/reset-password'"
            >
              <li class="main-form__nav-item tabs-list__item">
                <router-link to="/app.html" class="tabs-list__link">
                  {{ $t("sing-up") }}
                </router-link>
              </li>
              <li class="main-form__nav-item tabs-list__item">
                <router-link to="/app.html/enter" class="tabs-list__link">
                  {{ $t("sing-in") }}
                </router-link>
              </li>
            </ul>
          </transition>
          <div class="main-form__holder">
            <transition name="translateY" mode="out-in">
              <router-view
                :key="singUpComponent"
                :singUpComponent="singUpComponent"
                :singInComponent="singInComponent"
              ></router-view>
            </transition>
          </div>
          <transition name="fade" mode="out-in">
            <div :key="reqError" class="error" v-if="reqError !== null">
              {{ reqError }}
            </div>
          </transition>
        </div>
      </div>
      <Spinner v-else />
    </transition>
  </div>
</template>

<script>
import { AmplifyEventBus } from "aws-amplify-vue";
import { getUser, signIn } from "@/utils/auth.js";
import router from "@/router";
import { mapActions, mapState } from "vuex";

export default {
  name: "Auth",
  data() {
    return {
      singUpComponent: "registration-form",
      singInComponent: "login-form",
      showRegistrationTab: true,
      showLoginTab: false,
      load: false
    };
  },
  components: {
    Spinner: () => import("../Common/Spinner")
  },
  computed: {
    ...mapState("User/", ["registrationDate"]),
    ...mapState(["reqError"])
  },
  methods: {
    ...mapActions(["setError"]),
    do(fun) {
      let a_event = {
        confirmSignUp: () => {
          this.singUpComponent = "registration-confirm";
        },
        signIn: async () => {
          this.singUpComponent = "registration-success";
          if (this.registrationDate !== null) {
            await signIn(
              this.registrationDate.username,
              this.registrationDate.password
            );
          }
        }
      };
      return typeof a_event[fun] === "function" ? a_event[fun]() : false;
    }
  },
  async mounted() {
    AmplifyEventBus.$on("authState", info => {
      this.do(info);
    });
    const user = await getUser();
    if (user) {
      const preloaderTimeOut = setTimeout(() => {
        this.load = true;
        clearTimeout(preloaderTimeOut);
        router.push({ path: "/app.html/account" });
      }, 1000);
    } else {
      const preloaderTimeOut = setTimeout(() => {
        this.load = true;
        clearTimeout(preloaderTimeOut);
      }, 1000);
    }
  }
};
</script>

<style lang="scss" scoped>
.translateY-enter-active {
  animation: translateY 0.5s;
}

.translateY-leave-active {
  animation: translateY 0.5s reverse;
}

@keyframes translateY {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.success-block {
  margin: 40px auto;
}
</style>
